<template>
  <v-container fluid>
    <div class="tables-basic">
      <h1 class="page-title mt-10 mb-6">ADMIN DASHBOARD</h1>
      <v-row>
        <v-col cols="12">
          <v-card class="employee-list mb-1">
            <v-card-title class="pa-6 pb-3">
              <p>Danh Sách Khóa Học</p>
              <v-spacer></v-spacer>

              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                clearable
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="list"
              :sort-by="['id', 'title', 'price', 'content', 'coreExpert']"
              :sort-desc="[false, true]"
              :search="search"
              multi-sort
              class="elevation-1"
            >
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="mr-2" @click="detail(item.id)">
                  mdi-view-stream
                </v-icon>
                <v-dialog v-model="dialog" persistent max-width="600px">
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">Course</span>
                    </v-card-title>
                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12">
                            <v-text-field label="Title" v-model="course.title">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field
                              label="Thumbnail"
                              v-model="course.thumbnail"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field
                              label="Content"
                              v-model="course.content"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field
                              label="Sort Description"
                              v-model="course.sortDescription"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field
                              label="Core Expert"
                              v-model="course.coreExpert"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field
                              label="Price"
                              v-model="course.created_by"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-container>
                      <small>*indicates required field</small>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="dialog = false">
                        Close
                      </v-btn>
                      <v-btn color="blue darken-1" text @click="update">
                        Save
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
        <v-col>
          <v-card v-show="table">
            <v-card-title>
              <p>Chi tiết khóa học</p>
            </v-card-title>
            <v-col>
              <v-card-text class="pa-2" outlined tile>
                <p>ID: {{ course.id }}</p>
                <p>Title: {{ course.title }}</p>
                <p>Content: {{ course.content }}</p>
                <p>Create By: {{ course.createdBy }}</p>
                <p>Create Date: {{ course.createdDate }}</p>
                <p>Price: {{ course.price }}</p>
                <p>Core Expert: {{ course.coreExpert }}</p>
                <p>Tumbnail: {{ course.thumbnail }}</p>
                <p>Rating Total: {{ course.ratingToltal }}</p>
                <p>Lesson:</p>
                <p>Short Description: {{ course.sortDescription }}</p>
                <p>User Course:</p>
              </v-card-text>
            </v-col>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
import mock from "@/services/mock";
import CourseService from "@/services/courseService/courseService";
import Course from "@/models/courses";
export default {
  name: "Tables",
  data() {
    return {
      search: "",
      course: new Course(),
      dialog: false,
      table: false,
      items: [],
      mock,
      headers: [
        {
          align: "start",
          sortable: false,
        },
        { text: "id", value: "id" },
        {
          text: "Title",
          value: "title",
        },
        {
          text: "price",
          value: "price",
        },
        {
          text: "Actions",
          value: "actions",
        },
      ],
      list: [],
    };
  },
  mounted() {
    this.getListCourse();
  },
  methods: {
    // update() {
    //   var data = {
    //     title: this.course.title,
    //     thumbnail: this.course.thumbnail,
    //     content: this.course.content,
    //     sortDescription: this.course.sortDescription,
    //     coreExpert: this.course.coreExpert,
    //     price: this.course.price,
    //   };
    //   CourseService.update(this.course.id, data).then(() => {
    //     console.log(this.course.id);
    //     location.reload();
    //     alert("Update thanh cong!");
    //     this.$router.push("/manageCourses");
    //   });
    // },
    detail(id) {
      this.table = true;
      CourseService.getByID(id).then((res) => {
        this.course = res.data;
        console.log(this.course);
      });
    },
    refeshList() {
      this.getListCourse();
    },
    getListCourse() {
      CourseService.getAll().then((response) => {
        this.list = response.data;
      });
    },
    deleteCourse(id) {
      if (confirm("Bạn chắc chắn muốn xóa chứ")) {
        CourseService.delete(id)
          .then(() => {
            location.reload();
          })
          .catch((e) => {
            console.log(e);
          });
      }
    },
    showCourse(id) {
      this.dialog = true;
      this.course.id = id;
      CourseService.getByID(id).then((res) => {
        this.course = res.data;
        console.log(this.course);
      });
    },
  },
};
</script>

<style src="../../../../assets/scss/_basic.scss" lang="scss"></style>
