<template>
  <v-navigation-drawer absolute permanent left>
    <template v-slot:prepend>
      <v-list-item two-line>
        <v-list-item-avatar>
          <img src="https://randomuser.me/api/portraits/women/81.jpg" />
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{user_info.fullName}}</v-list-item-title>
          <v-list-item-subtitle>{{user_info.username}}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </template>

    <v-divider></v-divider>

    <v-list dense>
      <v-list-item v-for="item in items" :key="item.title" :to="item.link">
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
// import { mapActions, mapState } from "vuex";
import { ROLE } from "@/constants/app.constant";
import UserObj from "@/models/user";
import UserService from "@/services/informationUser/user";
export default {
  props: {
    source: String
  },
  data() {
    return {
      items: [],
      itemsDashboard: [
        // { title: "Dashboard", icon: "mdi-home", link: "/dashboard" },
        { title: "Quản lý tài khoản", link: "/manageAccount" },
        { title: "Quản lý khóa học", link: "/manageCourses" }
      ],
      itemsMarketer: [
        // { title: "Dashboard", icon: "mdi-home", link: "/marketerDashboard" },
        { title: "Quản lý Blog", link: "/manageBlog" },
        { title: "Quản lý slide quảng cáo", link: "/manageSlide" },
        { title: "Quản lý danh mục", link: "/manageCategory" }
      ],
      itemsAdvisor: [
        // { title: "Dashboard", icon: "mdi-home" },
        {
          title: "Quản lý đăng kí khóa học",
          icon: "mdi-account-cash",
          link: "/advisorDashboard"
        },
        { title: "Quản lý khóa học", icon: "mdi-book", link: "/advisorCourseDashboard" }
      ],
      itemsExpert: [
        // { title: "Dashboard", icon: "mdi-home" },
        { title: "Quản lý khóa học", icon: "mdi-book", link: "/manageCourse" },
        { title: "Quản lý bài giảng", link: "/manageLesson" },
        { title: "Quản lý bài kiểm tra", link: "/manageQuiz" }
      ],
      user_info: new UserObj()
    };
  },
  created() {
    switch (this.roles) {
      case ROLE.ADMIN:
        this.items = this.itemsDashboard;
        break;
      case ROLE.ADVISOR:
        this.items = this.itemsAdvisor;
        break;
      case ROLE.MARKETER:
        this.items = this.itemsMarketer;
        break;
      case ROLE.EXPERT:
        this.items = this.itemsExpert;
        break;
    }
    this.showInfo()
  },
  computed: {
    roles() {
      return this.$store.state.auth.user.roles[0];
    },
    profile() {
      return this.$store.state.auth.user.id;
    }
  },
  methods: {
    showInfo() {
      var id = this.profile;
      UserService.showUserById(id).then(res => {
        this.user_info = res.data;
        console.log("user info");
        console.log(res.data);
        console.log(id);
      });
    }
  }
};
</script>

<style src="../../../assets/scss/_sidebar.scss" lang="scss" />
