<template>
  <v-app>
    <v-container fluid>
      <v-dialog v-model="confirm" width="500px">
        <v-card-title class="red white--text text-capitalize">
          Tài khoản hoặc mật khẩu không đúng!
          <v-spacer></v-spacer>
          <v-btn style="padding-right: 10px" icon dark @click="confirm = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
      </v-dialog>
      <v-dialog v-model="confirmResgister" width="500px">
        <v-card-title class="red white--text text-capitalize">
          Không thành công
          <v-spacer></v-spacer>
          <v-btn
            style="padding-right: 10px"
            icon
            dark
            @click="confirmResgister = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
      </v-dialog>
      <v-row no-gutters>
        <v-col cols="7" class="main-part d-none d-md-none d-lg-flex">
          <div class="d-flex">
            <p>Chào mừng bạn đến với</p>
            <router-link style="cursor: pointer" to="/">
              <v-img src="@/assets/img/logo.png" contain width="300px"></v-img>
            </router-link>
          </div>
        </v-col>
        <v-col
          cols="12"
          lg="5"
          class="login-part d-flex align-center justify-center"
        >
          <v-row no-gutters class="align-start">
            <v-col
              cols="12"
              class="login-part d-flex align-center justify-center flex-column"
            >
              <div class="login-wrapper pt-md-4 pt-0">
                <v-tabs color="#EB9642" grow>
                  <v-tabs-slider></v-tabs-slider>
                  <v-tab :href="`#tab-login`"> Đăng Nhập </v-tab>
                  <v-tab :href="`#tab-newUser`"> Đăng Ký </v-tab>
                  <v-tab-item :value="'tab-login'">
                    <v-form>
                      <v-container>
                        <v-row class="flex-column">
                          <v-form>
                            <v-col>
                              <v-text-field
                                v-model="user.username"
                                label="E-mail"
                                :rules="[emailRules, required]"
                                required
                              ></v-text-field>
                              <v-text-field
                                v-model="user.password"
                                type="password"
                                label="Mật Khẩu"
                                :rules="[passwordRules, required]"
                                required
                              ></v-text-field>
                            </v-col>
                            <v-col class="d-flex justify-space-between">
                              <v-btn
                                class="white--text text-capitalize"
                                large
                                color="#d79c62"
                                id="login-btn"
                                @click="handleLogin"
                              >
                                Đăng nhập</v-btn
                              >
                              <v-btn
                                large
                                text
                                id="forget-password"
                                class="text-capitalize"
                                to="/forgotPassword"
                                >Quên mật khẩu</v-btn
                              >
                            </v-col>
                          </v-form>
                          <v-col cols="12" class="d-flex align-center my-8">
                            <v-divider></v-divider>
                            <span class="px-5"> hoặc </span>
                            <v-divider></v-divider>
                          </v-col>
                          <v-col>
                            <v-btn
                              height="45"
                              block
                              color="#FD4F18"
                              elevation="0"
                              id="google"
                              class="third-party text-capitalize white--text"
                              ><v-icon class="button-icon">mdi-google</v-icon>
                              Đăng nhập với Google</v-btn
                            >
                            <v-btn
                              height="45"
                              block
                              color="#3863FC"
                              elevation="0"
                              id="facebook"
                              class="third-party text-capitalize white--text"
                              ><v-icon class="button-icon">mdi-facebook</v-icon>
                              Đăng nhập với Facebook</v-btn
                            >
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-form>
                  </v-tab-item>
                  <v-tab-item :value="'tab-newUser'">
                    <v-form>
                      <v-container>
                        <v-row class="flex-column">
                          <v-form>
                            <v-col>
                              <v-text-field
                                v-model="user.fullName"
                                label="Họ Và Tên"
                                :rules="nameRules"
                                required
                              ></v-text-field>
                              <v-text-field
                                v-model="user.username"
                                label="E-mail"
                                :rules="emailRules"
                                required
                              ></v-text-field>
                              <v-text-field
                                v-model="user.phoneNumber"
                                label="Số điện thoại"
                                :rules="phonelRules"
                                hint="Chỉ nhập số"
                                required
                              ></v-text-field>
                              <v-text-field
                                v-model="user.password"
                                type="password"
                                label="Mật khẩu"
                                :rules="passwordRules"
                                required
                              ></v-text-field>
                              <v-text-field
                                v-model="verify"
                                type="password"
                                label="Xác nhận lại mật khẩu"
                                :rules="[passwordRules, passwordMatch]"
                                required
                              ></v-text-field>
                            </v-col>

                            <v-col class="d-flex justify-space-between">
                              <v-btn
                                class="text-capitalize white--text"
                                large
                                block
                                color="#d79c62"
                                @click="handleRegister"
                              >
                                Tạo tài khoản</v-btn
                              >
                            </v-col>
                          </v-form>
                          <v-col cols="12" class="d-flex align-center my-4">
                            <v-divider></v-divider>
                            <span class="px-5"> hoặc </span>
                            <v-divider></v-divider>
                          </v-col>
                          <v-btn
                            height="45"
                            block
                            color="#FD4F18"
                            elevation="0"
                            id="google"
                            class="third-party text-capitalize white--text"
                            ><v-icon class="button-icon">mdi-google</v-icon>
                            Đăng Ký với Google</v-btn
                          >
                          <v-btn
                            height="45"
                            block
                            color="#3863FC"
                            elevation="0"
                            id="facebook"
                            class="third-party text-capitalize white--text"
                            ><v-icon class="button-icon">mdi-facebook</v-icon>
                            Đăng ký với Facebook</v-btn
                          >
                          <v-spacer></v-spacer>
                        </v-row>
                      </v-container>
                    </v-form>
                  </v-tab-item>
                </v-tabs>
              </div>
            </v-col>
            <v-col cols="12" class="d-flex justify-center">
              <v-footer>
                <div class="primary--text">
                  © 2020
                  <a href="/" class="text-decoration-none">RTS-Team</a>
                </div>
              </v-footer>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import User from "@/models/user";
import { ROLE } from "@/constants/app.constant";
import { DispatchAction } from "@/constants/app.vuex";
import { mapActions } from "vuex";

export default {
  name: "Login",

  data() {
    return {
      check: false,
      confirm: false,
      confirmResgister: false,
      user: new User(),
      verify: "",
      loading: false,
      massage: "",
      successful: false,
      submitted: false,
      role: "",
      list: [],
      email: "",
      username: "",
      phoneNumber: "",
      name: "",
      fullName: "",
      password: "",
      required: (value) => !!value || "Bắt buộc",
      emailRules: [
        (v) => !!v || "Tên tài khoản không được để trống",
        (v) => /.+@.+\..+/.test(v) || "Tài khoản chưa đúng định dạng e-mail",
      ],
      phonelRules: [
        (v) => !!v || "Số điện thoại không được để trống",
        (v) =>
          /(84|0[3|5|7|8|9])+([0-9]{8})\b/.test(v) ||
          "Số điện thoại chưa đúng định dạng",
      ],
      nameRules: [(v) => !!v || "Tên không được để trống"],
      passwordRules: [(v) => (v && v.length >= 8) || "6-40 characters"],
    };
  },
  mounted() {},
  watch: {},
  methods: {
    ...mapActions("auth", {
      signIn: "signIn",
    }),
    handleRegister() {
      if (
        this.user.username &&
        this.user.password &&
        this.user.fullName &&
        this.verify &&
        this.user.phoneNumber
      ) {
        this.$store.dispatch(DispatchAction.REGISTER, this.user).then(() => {
          if (this.$store.state.auth.user.id) {
            this.confirmResgister = true;
          } else alert("thành công");
          location.reload();
        });
      } else {
        this.confirmResgister = true;
      }
    },
    handleLogin() {
      this.loading = true;
      if (this.user.username && this.user.password) {
        this.$store.dispatch("START_LOADING");
        this.$store
          .dispatch(DispatchAction.LOGIN, this.user)
          .then(() => {
            if (this.$store.state.auth.user == "Failed") {
              this.confirm = true;
            }
            this.check = false;
            const roles = this.$store.state.auth.user.roles[0];
            switch (roles) {
              case ROLE.ADMIN:
                this.$router.push("/dashboard").catch(() => {});
                break;
              case ROLE.USER:
                this.$router.push("/").catch(() => {});
                break;
              case ROLE.EXPERT:
                this.$router.push("/").catch(() => {});
                break;
              case ROLE.ADVISOR:
                this.$router.push("/dashboard").catch(() => {});
                break;
              case ROLE.MARKETER:
                this.$router.push("/dashboard").catch(() => {});
            }
          })
          .finally(() => {
            this.$store.dispatch("STOP_LOADING");
            $toast.success("Thành công");
          });
      } else {
        this.confirm = true;
        // alert("sai ten tai khoan hoac mat khau");
      }
    },
  },
  computed: {
    passwordMatch() {
      return () => this.user.password === this.verify || "Password must match";
    },
  },
  created() {},
};
</script>

<style src="../../assets/scss/_login.scss" lang="scss" />
