<template>
  <v-container fluid>
    <div class="tables-basic">
      <h1 class="page-title mt-10 mb-6">Manage Category</h1>
      <v-dialog v-model="dialog" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark v-bind="attrs" v-on="on">
            Thêm mới
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="text-h5">Thêm Category mới</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field
                    label="Name"
                    v-model="name"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialog = false">
              Close
            </v-btn>
            <v-btn color="blue darken-1" text @click="submit">
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-row>
        <v-dialog v-model="open" persistent max-width="600px">
          <v-card>
            <v-card-title>
              <span class="text-h5">Sửa Category</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      label="Name"
                      v-model="categories.name"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="open = false">
                Close
              </v-btn>
              <v-btn color="blue darken-1" text @click="update">
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-col cols="12">
          <v-card class="employee-list mb-1">
            <v-card-title class="pa-6 pb-3">
              <p>List Category</p>
              <v-spacer></v-spacer>
              <v-text-field
                append-icon="mdi-magnify"
                label="Search"
                clearable
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="list"
              :sort-by="['id']"
              :sort-desc="[false, true]"
              multi-sort
              class="elevation-1"
            >
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="mr-2" @click="show(item.id)"
                  >mdi-pencil</v-icon
                >
                <!--  -->
                <v-icon small @click="deleteC(item.id)">mdi-delete</v-icon>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>
<script>
import CategoryService from "@/services/categoryService/categoryService";
export default {
  name: "Manage Register Account",
  data() {
    return {
      role: "a",
      search: null,
      model: null,
      descriptionLimit: 60,
      entries: [],
      isLoading: false,
      dialog: false,
      open: false,
      success: false,
      headers: [
        {
          align: "start",
          sortable: false,
        },
        { text: "id", value: "id" },
        { text: "Name", value: "name" },
        {
          text: "Actions",
          value: "actions",
        },
      ],
      name: "",
      list: [],
      categories: [],
    };
  },
  mounted() {
    this.showAll();
  },

  created() {
    this.initialize();
  },
  methods: {
    detail() {
      this.dialog = true;
    },
    submit() {
      var data = {
        name: this.name,
      };
      if (this.name) {
        CategoryService.create(data)
          .then(() => {
            if (!alert("Thêm mới thành công!")) {
              location.reload();
            }
          })
          .catch((e) => {
            console.log(e);
          });
        this.dialog = false;
      } else {
        alert("Không được để trống");
      }
    },
    showAll() {
      CategoryService.getAll().then((res) => {
        this.list = res.data;
        console.log(this.list);
      });
    },
    show(id) {
      this.open = true;
      CategoryService.showCategoryByID(id).then((res) => {
        this.categories = res.data;
      });
    },
    update() {
      var data = {
        name: this.categories.name,
      };
      CategoryService.update(this.categories.id, data).then(() => {
        console.log();
        alert("Update thanh cong!");
        this.open = false;
        location.reload();
      });
    },
    deleteC(id) {
      var data = {
        status: "pending"
      }
      if (confirm("Bạn chắc chắn muốn xóa chứ")) {
        CategoryService.delete(id,data)
          .then(() => {
            location.reload();
          })
          .catch((e) => {
            console.log(e);
          });
      }
    },
  },
};
</script>

<style src="@/assets/scss/_basic.scss" lang="scss"></style>
