@import "format_text";
@import "font";

// blog detail

.blog-detail-section {
  margin-top: 65px;
  margin-bottom: 30px;
  min-height: 776px;
}

.blog-detail-header {
  margin: 10px 0px;
}

.blog-detail-header-right {
  padding: 0px;
}
.blog-detail-header-right form.form-box {
  float: right;
  margin: 22px 10px 0px 0px;
}

.blog-detail-left {
  float: left;
}
.blog-detail-right {
  float: right;
  position: sticky;
  right: 0px;
}

//
.blog-list-section {
  margin-top: 65px;
  margin-bottom: 30px;
  min-height: 776px;
}
.body-row {
  width: 1350px;
  margin: auto;
}
.blog-list-main-left {
  float: left;
}

.blog-list-main-right {
  float: right;
}

.blog-list-header {
  margin: 10px 0px;
}

.blog-list-header-left {
  padding: 0px;
}

.blog-list-header-left i {
  float: left;
  padding: 0px;
  margin-top: 39px;
  margin-left: 10px;
}

.blog-list-header-right {
  padding: 0px;
}

.blog-list-header-right form.form-box {
  float: right;
  margin: 22px 10px 0px 0px;
}

.blog-list-main-right hr {
  height: 3px;
  color: #191919;
  border: none;
  background-color: #191919;
}

.blog-card {
  margin-bottom: 31px;
}

.blog-card img {
  width: 100%;
  margin-left: 10px;
  margin-top: 15px;
  margin-right: 10px;
}

.blog-title {
  word-break: keep-all;
  margin-bottom: 10px;
  padding: 0;
  margin-top: 10px;
}

.blog-title h3 a {
  color: #191919;
  font-size: 30px;
  font-weight: 500;
  /* margin-bottom: 7px; */
  margin-top: 8px;
  margin-left: 3px;
  display: block;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
  word-break: break-word;
}

.blog-title a:hover {
  color: #d79c62;
  text-decoration: none;
}

.blog-author {
  padding: 0px;
  font-weight: bold;
}

.blog-publisheddate {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.blog-summary {
  padding: 0;
  font-style: italic;
  min-height: 134px;
  overflow-y: auto;
  max-width: 680px;
}

.blog-view {
  padding: 0;
}

.top-blog {
  margin-bottom: 10px;
}

.top-blog-container {
  position: relative;
  width: 100%;
}

.top-blog-container .blog-thumbnail {
  display: block;
  width: 100%;
  height: 250px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  padding: 5%;
  text-align: center;
}

.overlay h3 a {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  margin-top: 8px;
  margin-left: 3px;
  display: block;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
  word-break: break-word;
}

.top-blog:hover .overlay,
.top-blog-container:hover .overlay {
  opacity: 1;
}

.blog-list-main-right > h3 {
  text-align: left;
  font-weight: 300;
}

.social-connect {
  margin-bottom: 40px;
}

.social-connect-media button {
  width: 100% !important;
  margin-top: 10px;
  margin-bottom: 4px;
}

@media (max-width: 960px) {
  .blog-card img {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .blog-title {
    margin-top: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .blog-author {
    margin-top: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .blog-publisheddate {
    margin-top: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .blog-summary {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 85%;
  }

  // .blog-list-main-right {
  //   display: none;
  // }
}
