@import "app";
@import "format_text";
@import "font";

.body-row {
  width: 1350px;
  margin: auto;
}

.course-list-section {
  margin-top: 45px;
  min-height: 840px;
  max-height: 100%;

  .side-bar aside#filter-menu {
    float: left;
    width: 100%;
    // height: 100% !important;
    position: fixed;
    top: 0px;
    left: 0;

    .menu-group-title {
      color: #eb9642 !important;
      font-weight: 800;
    }

    .menu-group-item {
      color: #eb9642;
    }
  }

  @media (max-width: 960px) {
    .side-bar#filter-menu {
      display: none;
    }
  }

  .radio-category {
    margin-left: 10px;
    margin-right: 10px;
  }

  .radio-category label {
    color: #ffffff !important;
    font-size: 18px;
  }

  .main-section {
    float: right;
    width: 100%;
    margin-top: 3%;
    margin-left: 10%;
    // min-height: 500px;

    .course-title {
      display: block;
      padding-bottom: 0;
      word-break: break-word !important;
    }

    ul.pagination>li.page-item a {
      border: 1px #d79c62 !important;
      background-color: #d79c62 !important;
      color: #fff !important;
      margin: 1px !important;
      border-radius: 4px !important;
    }

    .course-title h2 a {
      color: #191919;
      font-size: 19px;
      font-weight: 500;
      margin-top: 8px;
      margin-left: 3px;
      display: block;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
      text-decoration: none;
      word-break: break-word;
    }

    .course-title h2 a:hover {
      color: #d79c62;
      text-decoration: none;
    }

    .course-card-text {
      min-height: 170px;
    }
  }
}

.course-detail-section {
  margin-top: 100px;
  min-height: 776px;

  .buying-card {
    margin-top: 30px;

    .buying-card .buy-card-thumbnail {
      height: 100%;
      border-radius: 10px;
    }

    .buying-card .v-card__title h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      color: #191919;
      word-break: normal;
    }
  }

  .course-detail-main-section {
    margin-top: 30px;
    margin-right: 3%;
    margin-left: 3%;

    .course-detail-img {
      height: 45%;
      border-radius: 10px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    h1.course-detail-title {
      margin-top: 20px;
    }

    .tab-content {
      max-height: 500px;
      max-height: 700px;
      overflow-y: auto;
      scroll-behavior: smooth;
      overflow-x: hidden;
    }

    .lesson-list {
      display: grid;
      width: 100% !important;
    }

    img#expert-img {
      width: 150px;
    }

    .lesson-icon {
      margin-right: 2%;
    }
  }
}

.course-register-section {
  margin-top: 100px;
  margin-bottom: 0px;
  min-height: 770px;

  .course-register-main-section {
    // margin-top: 30px;
    margin-right: 3%;
    margin-left: 3%;

    .customer-info-form {
      width: 90%;
      margin: 0px 5%;
      padding-bottom: 30px;
    }

    h2.customer-info-title {
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
  }

  .course-title {
    padding-bottom: 0px;
  }

  .course-title h2 {
    word-break: break-word;
    font-size: 27px;
    text-align: center;
  }

  .course-subtitle-container {
    padding-bottom: 0px;

    .course-subtitle p {
      font-size: 20px;
    }
  }
}

.course-register-confirm-section {
  margin-top: 65px;
  margin-bottom: 30px;
  min-height: 776px;

  .course-register-confirm-main-section {
    margin-top: 160px;
    margin-bottom: 160px;
  }

  .customer-info-title {
    display: block;
    text-align: center;
  }

  .customer-info {
    height: 300px;
  }

  .payment-info {
    width: 400px;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-align: center;
  }

  a#to-homepage-btn {
    float: right !important;

  }
}