.font-size-title {
  font-size: 32px;
}
.font-size-content {
  font-size: 16px;
}
.bold-font-size-title {
  font-size: 32px;
  font-weight:500
}
.bold-font-size-content {
    font-size: 16px;
    font-weight: 500;
  }
