@import "format_text";
@import "font";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.slider-wrapper,
.top-course-section,
.home-about-section,
.suggest-courses-section,
.category-section,
.testimonial-section {
  margin-bottom: 70px;
}
.body-row {
  width: 100%;
  margin: auto;
}
.top-course-img img {
  width: 100%;
  position: relative;
  margin-bottom: 13px;
  margin-top: 0px;
}

.top-course-title h2 a {
  color: #191919;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 7px;
  margin-top: 8px;
  margin-left: 3px;
  display: block;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
}

.top-course-title h2 a:hover {
  color: #d79c62;
  text-decoration: none;
}

// .course-text{
// }

.home-about-section {
  margin-top: 45px;
  margin-bottom: 70px;
  min-height: 400px;
  background-color: #d79c6275 !important;
}
.v-card.on-hover.theme--dark {
  background-color: rgba(rgb(8, 8, 8), 0.8);
}

.v-card__text {
  color: #000;
}

.v-card {
  transition: opacity 1.4s ease-in-out;
}

.v-card:not(.on-hover) {
  opacity: 1;
}

.show-btns {
  color: rgba(255, 255, 255, 1) !important;
}
.home-about-section > .row {
  padding-top: 60px;
  padding-bottom: 60px;
}

.testimonial-section {
  background-color: #d79c6275 !important;
}
.v-sheet.v-card {
  border-radius: 20px !important;
}
.v-btn{
  border-radius: 20px;
}
.testimonial-section .v-sheet {
  margin-top: 5%;
}

ul.pagination > li.page-item a {
  border: 1px #d79c62 !important;
  background-color: #d79c62 !important;
  color: #fff !important;
  margin: 1px !important;
  border-radius: 4px !important;
}

.my-category-btn {
  height: 100px !important;
  min-width: 92px;
  padding: 0 25px;
}
