@import "app";

body {
  background-color: #F6F7FF !important
}

.container {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 0;

  .main-part {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 84px;
        color: #191919;
        font-weight: 500;
      }

      .v-image {
        margin-bottom: 32px;
      }
    }

  }

  .login-part {
    width: 100%;
    height: 100vh;
    background-color: #F6F7FF;
    overflow-y: auto;

    .login-wrapper {
      width: 320px;
      height: auto;

      .login-slogan {
        color: #4a4a4a;
      }

      .third-party {
        margin-bottom: 10px;
      }

      .button-icon {
        margin-right: 5px;
      }

      .v-btn.google {
        box-shadow: $card-shadow !important;
      }

      #forget-password {
        color: #d79c62 !important;
      }

      .v-tabs {
        .v-tab {
          font-size: 18px;
        }

        .v-item-group {
          background-color: #F6F7FF;
        }
      }

    }

    .v-footer {
      position: absolute;
      bottom: 0;
      background-color: #F6F7FF;
    }
  }

 
}

.forget-password-container {
  margin-top: 10%;
  margin-bottom: 10%;
}