<template>
  <v-container fluid class="lesson-section">
    <v-row>
      <v-col class="side-bar" :lg="1" :md="1" :sm="1">
        <v-navigation-drawer id="lesson-menu" absolute permanent left dark>
          <v-list class="list-container">
            <v-list-item-group v-model="selectedMenuItem">
              <v-list-item class="menu-item" v-for="(item, i) in menu_items" :key="i">
                <v-list-item-icon>
                  <v-icon v-text="item.icon"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="item.item_name"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-navigation-drawer>
      </v-col>

      <v-col class="main-section" :lg="9" :md="9" :sm="9">
        <v-row class="title">
          <v-col :lg="12" :md="12" :sm="12">
            <h3 class="text-left">{{course.title}}</h3>
            <hr />
          </v-col>
        </v-row>
        <template class="course-lesson-list" v-if="selectedMenuItem == 0">
          <v-row>
            <v-expansion-panels v-model="panel" multiple>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  <h4 class="text-left">Tổng quan khóa học</h4>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <p v-html="course.content"></p>
                </v-expansion-panel-content>
              </v-expansion-panel>

              <v-expansion-panel>
                <v-expansion-panel-header>
                  <h4 class="text-left">Danh sách bài học</h4>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-list v-if="listLessons.length > 0" class="lesson-list">
                    <v-col v-for="(item, i) in listLessons" :key="i" cols="12">
                      <v-card color="#fff">
                        <div class="d-flex flex-no-wrap justify-space-between">
                          <v-card-title class="text-h5 black--text" v-text="item.title"></v-card-title>

                          <v-card-actions>
                            <!-- <v-btn color="#d79c62" class="white--text" v-on="on">Học</v-btn> -->
                            <v-dialog
                              v-model="dialog"
                              fullscreen
                              hide-overlay
                              transition="dialog-bottom-transition"
                              :retain-focus="false"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                  color="#d79c62"
                                  dark
                                  v-bind="attrs"
                                  v-on="on"
                                  @click="openLessonDetail(item.id)"
                                >Học</v-btn>
                              </template>
                              <v-card v-model="lesson">
                                <v-toolbar color="#d79c62">
                                  <v-toolbar-title>{{lesson.title}}</v-toolbar-title>

                                  <!-- <v-toolbar-items>
                                  <v-btn dark text @click="dialog = false">Save</v-btn>
                                  </v-toolbar-items>-->
                                </v-toolbar>

                                <iframe
                                  width="700"
                                  height="400"
                                  :src="lesson.link_video"
                                  title="YouTube video player"
                                  frameborder="0"
                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                  allowfullscreen
                                ></iframe>

                                <v-divider></v-divider>
                                <v-content class="lesson-content">
                                  <span :inner-html.prop="lesson.content"></span>
                                </v-content>
                                <v-divider></v-divider>

                                <v-card-actions>
                                  <v-btn
                                    color="#d79c62"
                                    class="white--text"
                                    @click="closeLearningDialog"
                                  >Hoàn thành</v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                          </v-card-actions>
                        </div>
                      </v-card>
                    </v-col>
                  </v-list>
                </v-expansion-panel-content>
              </v-expansion-panel>

              <v-expansion-panel>
                <v-expansion-panel-header>
                  <h4 class="text-left">Danh sách bài test</h4>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-list v-if="listTests.length > 0" class="lesson-list">
                    <v-col v-for="(item, i) in listTests" :key="i" cols="12">
                      <v-card color="#fff">
                        <div class="d-flex flex-no-wrap justify-space-between">
                          <v-card-title class="text-h5 black--text" v-text="item.title"></v-card-title>

                          <v-card-actions>
                            <!-- <v-btn color="#d79c62" class="white--text" v-on="on">Học</v-btn> -->
                            <v-dialog
                              v-model="dialog"
                              fullscreen
                              hide-overlay
                              transition="dialog-bottom-transition"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                  color="#d79c62"
                                  dark
                                  v-bind="attrs"
                                  v-on="on"
                                  @click="openTestDetail(item.id)"
                                >Làm bài test</v-btn>
                              </template>
                              <v-card v-model="test">
                                <v-toolbar color="#d79c62">
                                  <v-toolbar-title class="white--text">{{test.title}}</v-toolbar-title>
                                </v-toolbar>

                                <v-divider></v-divider>
                                <v-content class="test-content">
                                  <v-row>
                                    <v-col
                                      :lg="3"
                                      :md="3"
                                      :sm="3"
                                      class="test-content-addition-bar"
                                    >
                                      <v-card class="time-section">
                                        <v-card-title>
                                          <h4>
                                            Xin chào,
                                            <span style="font-weight:bold">Tạ Trung Hiếu</span>
                                          </h4>
                                        </v-card-title>
                                        <v-divider></v-divider>
                                        <v-card-text v-show="!doQuiz">
                                          <h5>Bạn đã sẵn sàng làm bài kiểm tra này chưa ?</h5>
                                        </v-card-text>
                                        <v-card-text v-show="doQuiz">
                                          <h5>Thời gian làm bài của bạn: {{test.time | time}}</h5>
                                        </v-card-text>
                                        <v-card-actions v-show="!doQuiz">
                                          <v-btn
                                            color="#d79c62"
                                            class="open-quiz-btn white--text"
                                            @click="openQuiz()"
                                          >Làm bài</v-btn>
                                        </v-card-actions>
                                      </v-card>
                                    </v-col>
                                    <v-col :lg="9" :md="9" :sm="9" class="test-content-main">
                                      <div
                                        v-show="doQuiz"
                                        v-for="(question, index) in test.questions"
                                        :key="index"
                                      >
                                        <!-- Hide all questions, show only the one with index === to current question index -->
                                        <section v-show="index === questionIndex">
                                          <v-card>
                                            <v-card-title>
                                              <h4>
                                                <span style="font-weight:bold">Câu hỏi {{index+1}}</span>
                                                : {{ question.text }}
                                              </h4>
                                            </v-card-title>
                                            <v-progress-linear
                                              class="progress-bar"
                                              background-color="grey lighten-3"
                                              color="#d79c62"
                                              :value="progress"
                                            ></v-progress-linear>

                                            <v-card-text>
                                              <v-radio-group>
                                                <v-radio
                                                  v-for="(response,index) in question.responses"
                                                  :key="index"
                                                  :label="response.text"
                                                  :value="response.correct"
                                                  @change="selectResponse(response,index)"
                                                  :class=" correct ? check(response) : ''"
                                                  :disabled="!next"
                                                ></v-radio>
                                              </v-radio-group>
                                            </v-card-text>
                                            <v-divider></v-divider>
                                            <v-card-actions>
                                              <v-btn
                                                class="white--text prev-btn"
                                                color="green"
                                                v-on:click="skipFunct"
                                                :disabled="!next"
                                              >Bỏ qua</v-btn>
                                              <v-btn
                                                class="white--text next-btn"
                                                color="green"
                                                v-on:click="nextFunct"
                                                :disabled="next"
                                              >Tiếp</v-btn>
                                            </v-card-actions>
                                          </v-card>
                                        </section>
                                      </div>
                                    </v-col>
                                  </v-row>
                                </v-content>
                                <v-divider></v-divider>

                                <v-card-actions>
                                  <v-checkbox v-model="lessonStatus" label="Hoàn thành ?"></v-checkbox>
                                  <v-btn
                                    :disabled="lessonStatus"
                                    color="#d79c62"
                                    @click="closeLearningDialog"
                                  >Đóng</v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                          </v-card-actions>
                        </div>
                      </v-card>
                    </v-col>
                  </v-list>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-row>
        </template>
        <template class="course-document-list" v-if="selectedMenuItem == 1">
          <v-row>
            <v-col :lg="12" :md="12" :sm="12">
              <v-card color="#fff">
                <v-card-title class="black--text">
                  <h5 class="text-left">Tài liệu học tập</h5>
                </v-card-title>
                <v-list class="lesson-list">
                  <v-col v-for="(item, i) in documents" :key="i" cols="12">
                    <v-card color="#fff" dark>
                      <div>
                        <div class="d-flex flex-no-wrap justify-space-between">
                          <v-card-title class="text-h5 black--text" v-text="item.title"></v-card-title>

                          <v-card-actions>
                            <a :href="item.src">Xem</a>
                          </v-card-actions>
                        </div>
                      </div>
                    </v-card>
                  </v-col>
                </v-list>
              </v-card>
            </v-col>
          </v-row>
        </template>
        <template class="course-expert-infor" v-if="selectedMenuItem == 2">
          <v-row>
            <v-col :lg="12" :md="12" :sm="12">
              <v-card color="#fff">
                <v-card-title class="black--text">
                  <h5 class="text-left">Thông tin giảng viên</h5>
                </v-card-title>
              </v-card>
            </v-col>
          </v-row>
        </template>
        <template class="course-score-report" v-if="selectedMenuItem == 3">
          <v-row>
            <v-col :lg="12" :md="12" :sm="12">
              <v-card color="#fff">
                <v-card-title class="black--text">
                  <h5 class="text-left">Báo cáo điểm</h5>
                </v-card-title>
              </v-card>
            </v-col>
          </v-row>
        </template>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import CourseService from "@/services/courseService/courseService";
import UserService from "@/services/accountService/accountService";
import LessonService from "@/services/lessonService/lessonService";
// import UserService from "@/services/informationUser/user";
import Course from "@/models/courses";
import User from "@/models/user";
// import Lesson from "@/models/lesson";
export default {
  props: ["id"],
  data() {
    return {
      current_user: new User(),
      selectedMenuItem: 0,
      menu_items: [
        { id: 1, item_name: "Bài học", icon: "mdi-file-document-edit" },
        { id: 2, item_name: "Tài liệu học tập", icon: "mdi-book" },
        { id: 3, item_name: "Thông tin giảng viên", icon: "mdi-account-tie" },
        { id: 4, item_name: "Điểm", icon: "mdi-checkbox-marked-circle" }
      ],
      listLessons: [],

      listTests: [],
      course: new Course(),
      lesson: {},
      test: {},
      dialog: false,
      // Store current question index
      questionIndex: 0,
      //open quiz
      doQuiz: false,

      // test interactive
      next: true,
      score_show: false,
      quiz: true,
      result: 0,
      correct: false,
      progress: 0
    };
  },
  mounted() {
    this.getCourseDetail();
    this.getCurrentUserInfo();
    this.getAllLessonByCourseID();
  },
  computed: {
    profile() {
      return this.$store.state.auth.user.id;
    }
  },
  methods: {
    getCourseDetail() {
      var id = this.id;
      CourseService.getByID(id).then(res => {
        console.log(res.data);
        this.course = res.data;
      });
    },

    getCurrentUserInfo() {
      var id = this.profile;
      UserService.showInfo(id).then(res => {
        this.current_user = res.data;
      });
    },

    getAllLessonByCourseID() {
      LessonService.getAllLessonByCourseID(this.id, this.profile).then(res => {
        this.listLessons = res.data;
      });
    },

    updateLessonLearnStatus(idLesson) {
      LessonService.updateLessonLearnStatus(this.id, this.profile, idLesson)
        .then(() => {
          this.dialog = false;
        })
        .catch(e => {
          console.log(e);
        });
    },

    openLessonDetail(idLesson) {
      console.log(idLesson);
      LessonService.getDetailLessonByID(this.id, this.profile, idLesson).then(
        res => {
          this.lesson = res.data[0];
        }
      );
    },

    openTestDetail(id) {
      var tempList = [];
      tempList = this.listTests.filter(function(test) {
        return test.id === id;
      });
      this.test = tempList[0];
      console.log(this.test);
      return this.test;
    },
    openQuiz() {
      this.doQuiz = true;
    },
    closeLearningDialog() {
      this.lesson.isStudy = "studied";
      this.updateLessonLearnStatus(this.lesson.id);
    },
    selectResponse(e) {
      this.correct = true;
      this.next = false;
      if (e.correct) {
        this.result++;
      }
    },
    check(status) {
      if (status.correct) {
        return "correct";
      } else {
        return "incorrect";
      }
    },
    // Go to next question
    nextFunct: function() {
      if (this.next) {
        return;
      }
      this.progress = this.progress + 100 / this.test.questions.length;
      if (this.test.questions.length - 1 == this.a) {
        this.score_show = true;
        this.quiz = false;
      } else {
        this.questionIndex++;
        this.correct = false;
        this.next = true;
      }
    },
    //Skip question
    skipFunct: function() {
      if (!this.next) {
        return;
      }
      this.progress = this.progress + 100 / this.test.questions.length;

      if (this.test.questions.length - 1 == this.a) {
        this.score_show = true;
        this.quiz = false;
      } else {
        this.questionIndex++;
      }
    },
    // Return "true" count in userResponses
    scoring: function() {}
  },
  filters: {
    time(value) {
      var seconds = Math.floor((value / 1000) % 60),
        minutes = Math.floor((value / (1000 * 60)) % 60),
        hours = Math.floor((value / (1000 * 60 * 60)) % 24);

      hours = hours < 10 ? "0" + hours : hours;
      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;

      return hours + ":" + minutes + ":" + seconds;
    }
  }
};
</script>

<style>
.lesson-section {
  margin-top: 45px;
  min-height: 714px;
  max-height: 100%;
  margin-bottom: 100px;
}

.side-bar aside {
  float: left;
  width: 100%;
  height: 100% !important;
  position: fixed;
  top: 0px;
  left: 0px;
}

.lesson-section #lesson-menu {
  float: left;
  width: 20%;
}

#lesson-menu > .v-navigation-drawer__content {
  margin-top: 50px;
}

.lesson-section .main-section {
  float: right;
  width: 100%;
  margin-top: 3%;
  margin-left: 10%;
}

.lesson-list {
  display: grid;
  width: 100% !important;
}

.lesson-content {
  min-height: 380px;
  max-height: 380px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.lesson-content .v-main__wrap.v-content__wrap {
  padding: 15px !important;
}

.test-content {
  min-height: 500px;
  max-height: 500px;
}

.test-content .row {
  height: 100%;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 0px;
}
.incorrect .mdi-radiobox-marked::before {
  color: red !important;
}
.correct .mdi-radiobox-marked::before {
  color: green !important;
}
.correct label {
  color: green !important;
  font-weight: bold;
}

.incorrect label {
  color: red !important;
  font-weight: bold;
}

.prev-btn {
  float: left;
}
.next-btn {
  float: right;
}
</style>