<template>
  <v-container fluid>
    <div class="dashboard-page">
    </div>
  </v-container>
</template>

<script>
import UserService from "../../services/UserService";
import mock from '../../services/mock';
export default {
  name: "Dashboard",
  components: {
    // Trend,
    // ApexChart,
  },
  data() {
    return {
      content: "",
      mock,
      // apexLoading: false,
      value: this.getRandomInt(10, 90),
      value2: this.getRandomInt(10, 90),
      mainApexAreaSelect: "Daily",
    };
  },
  methods: {
    getRandomDataForTrends() {
      const arr = [];
      for (let i = 0; i < 12; i += 1) {
        arr.push(Math.random().toFixed(1) * 10);
      }
      return arr;
    },
    generatePieSeries() {
      let series = [];

      for (let i = 0; i < 4; i++) {
        let y = Math.floor(Math.random() * (500 - 100 + 100)) + 100;
        series.push(y);
      }
      return series;
    },
    getRandomInt(min, max) {
      let rand = min - 0.5 + Math.random() * (max - min + 1);
      return Math.round(rand);
    },
  },
  mounted() {
    setTimeout(() => {
      this.apexLoading = true;
    });
    UserService.getAdminBoard().then(
      response => {
        this.content = response.data;
      }
    );
  },
};
</script>

<style src="../../assets/scss/dashboard/_dashboard.scss" lang="scss"/>
