<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        class="mr-4 white--text"
        color="#d79c62"
        dark
        v-bind="attrs"
        v-on="on"
      >
        Đổi Email
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="text-h5">Đổi Email của bạn</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                v-model="oldEmail"
                :error-messages="oldEmailErrors"
                label="Email cũ*"
                required
                @input="$v.oldEmail.$touch()"
                @blur="$v.oldEmail.$touch()"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="newEmail"
                :error-messages="newEmailErrors"
                label="Email mới*"
                required
                @input="$v.newEmail.$touch()"
                @blur="$v.newEmail.$touch()"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <small>*Thông tin bắt buộc</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="dialog = false"> Huỷ </v-btn>
        <v-btn class="white--text" color="#d79c62" @click="handleSaveEmail">
          Lưu
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import UserAPI from "@/services/informationUser/user";
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  validations: {
    oldEmail: { required, email },
    newEmail: { required, email },
  },
  data: () => ({
    dialog: false,
    oldEmail: "",
    newEmail: "",
    id: "",
  }),
  mounted() {
    console.log("this.$store.state", this.$store.state.auth.user);
    let user = this.$store.state.auth.user;
    if (user) {
      this.id = user.id;
      this.oldEmail = user.username;
    }
  },
  computed: {
    oldEmailErrors() {
      const errors = [];
      if (!this.$v.oldEmail.$dirty) return errors;
      !this.$v.oldEmail.email && errors.push("Must be valid e-mail");
      !this.$v.oldEmail.required && errors.push("E-mail is required");
      return errors;
    },
    newEmailErrors() {
      const errors = [];
      if (!this.$v.newEmail.$dirty) return errors;
      !this.$v.newEmail.email && errors.push("Must be valid e-mail");
      !this.$v.newEmail.required && errors.push("E-mail is required");
      return errors;
    },
  },
  methods: {
    handleSaveEmail() {
      this.$v.$touch();
      if (!this.id || !this.oldEmail || !this.newEmail) {
        return;
      }
      let body = {
        id: this.id,
        oldEmail: this.oldEmail,
        newEmail: this.newEmail,
      };
      this.$store.dispatch("START_LOADING");
      UserAPI.updateEmail(body)
        .then((r) => {
          console.log("updateEmail", r);
          this.$store.state.auth.user.username = this.newEmail;
          this.dialog = false;
          $toast.error("Cập nhật email thành công");
        })
        .catch((e) => {
          console.log(e);
          $toast.error("Cập nhật email thất bại, vui lòng thử lại sau");
        })
        .finally(() => this.$store.dispatch("STOP_LOADING"));
    },
  },
};
</script>