<template>
  <v-container fluid>
    <div class="tables-basic">
      <h1 class="page-title mt-10 mb-6" :v-model="user_info">
        Xin chào, {{ user_info.fullName }}
      </h1>
      <v-dialog
        v-model="open"
        :retain-focus="false"
        persistent
        max-width="1200px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="green" dark v-bind="attrs" v-on="on">Thêm mới</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="text-h5">Tạo khóa học mới</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      :rules="titleRules"
                      required
                      label="Tên khóa học *"
                      v-model="course.title"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-file-input
                      @input="fileChanges"
                      v-model="imgFile"
                      accept="image/png, image/jpeg, image/bmp"
                      required
                      show-size
                      placeholder="Chọn ảnh *"
                      label="thumbnail"
                    ></v-file-input>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      required
                      label="Mô tả ngắn*"
                      :rules="shortDescriptionRules"
                      v-model="course.sortDescription"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <vue-editor
                      required
                      label="Giới thiệu về khóa học*"
                      v-model="course.content"
                    ></vue-editor>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      readonly
                      label="Giảng viên"
                      v-model="user_info.fullName"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      required
                      label="Giá tiền*"
                      :rules="priceRules"
                      v-model="course.price"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-select
                      required
                      label="Danh mục*"
                      :rules="categorySelectRules"
                      :items="list_category"
                      item-text="name"
                      item-value="id"
                      v-model="course.categoryId"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-form>
            </v-container>
            <small>
              <i>(*):</i>
              <span>Là các trường bắt buộc và không được để trống</span>
            </small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="green"
              class="white--text"
              :disabled="!valid"
              @click="submitCourse"
              >Tạo mới</v-btn
            >
            <v-btn color="red" class="white--text" @click="closeCreateCourse"
              >Đóng</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-row class="mt-1">
        <v-col cols="12">
          <v-card class="course-list mb-1">
            <v-card-title class="pa-6 pb-3">
              <p>Danh sách khóa học của bạn</p>
              <v-spacer></v-spacer>

              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                clearable
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="list_courses"
              :sort-by="['title', 'price', 'category']"
              multi-sort
              class="elevation-1 list-course-tbl"
              :search="search"
            >
              <template v-slot:item.price="{ item }"
                >{{ item.price | formatPrice }} VNĐ</template
              >

              <template v-slot:item.status="{ item }">
                <v-chip :color="getColor(item.status)" dark>{{
                  item.status
                }}</v-chip>
              </template>
              <template class="action-btn" v-slot:item.actions="{ item }">
                <v-icon medium @click="getCourse(item.id)">mdi-pencil</v-icon>
                <!-- <v-icon small @click="deleteCourse(item.id)">mdi-delete</v-icon> -->
                <!-- dialog update -->
                <v-dialog
                  v-model="dialog"
                  :retain-focus="false"
                  persistent
                  max-width="1200px"
                >
                  <v-card v-model="course">
                    <v-card-title>
                      <span class="text-h5">Chỉnh sửa khóa học</span>
                    </v-card-title>
                    <v-card-text>
                      <v-container>
                        <v-form ref="form" v-model="valid" lazy-validation>
                          <v-row>
                            <v-col cols="12">
                              <v-text-field
                                :rules="titleRules"
                                required
                                label="Tên khóa học *"
                                v-model="course.title"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                              <v-file-input
                                accept="image/*"
                                required
                                show-size
                                placeholder="Thumbnail *"
                                @change="onAddFile"
                              ></v-file-input>
                            </v-col>
                            <v-col cols="12">
                              <v-text-field
                                required
                                label="Mô tả ngắn*"
                                :rules="shortDescriptionRules"
                                v-model="course.sortDescription"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                              <vue-editor
                                required
                                label="Giới thiệu về khóa học*"
                                v-model="course.content"
                              ></vue-editor>
                            </v-col>
                            <v-col cols="12">
                              <v-text-field
                                readonly
                                label="Giảng viên"
                                v-model="user_info.fullName"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                              <v-text-field
                                required
                                label="Giá tiền*"
                                :rules="priceRules"
                                v-model="course.price"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                              <v-select
                                required
                                label="Danh mục*"
                                :rules="categorySelectRules"
                                :items="list_category"
                                item-text="name"
                                item-value="id"
                                v-model="course.categoryId"
                              ></v-select>
                            </v-col>
                          </v-row>
                        </v-form>
                      </v-container>
                      <small>
                        <i>(*):</i>
                        <span
                          >Là các trường bắt buộc và không được để trống</span
                        >
                      </small>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="green"
                        class="white--text"
                        :disabled="!valid"
                        @click="update"
                        >Cập nhật</v-btn
                      >
                      <v-btn
                        color="red"
                        class="white--text"
                        @click="closeUpdateCourse"
                        >Đóng</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
import mock from "@/services/mock";
import CourseService from "@/services/courseService/courseService";
import CategoryService from "@/services/categoryService/categoryService";
// import LessonService from "../../../../services/lessonService/lessonService";
import UserService from "@/services/informationUser/user";
import axios from "axios";

import CategoryObj from "@/models/category";
import CourseObj from "@/models/courses";
import UserObj from "@/models/user";
export default {
  name: "Tables",
  data() {
    return {
      imgFile: null,
      file: null,
      search: "",
      btns: [["Custom", "b-xl"]],
      colors: ["deep-purple accent-4", "error", "teal darken-1"],
      list_category: [].map((_, i) => `Item ${i}`),
      course: new CourseObj(),
      open: false,
      dialog: false,
      table: false,
      mock,
      headers: [
        // { text: "id", value: "id" },
        {
          text: "Tên khóa học",
          value: "title",
        },
        {
          text: "Giá",
          value: "price",
        },
        {
          text: "Giới thiệu",
          value: "sortDescription",
        },

        { text: "Danh mục", value: "categoryName" },

        { text: "Trạng thái", value: "status" },
        {
          text: "Hành động",
          value: "actions",
        },
      ],
      list_courses: [],
      user_info: new UserObj(),

      //Validate rules//
      valid: true,
      titleRules: [
        (v) => !!v || "Đây là trường bắt buộc, không được bỏ trống",
        (v) => (v && v.length <= 100) || "Không được vượt quá 100 kí tự",
      ],
      shortDescriptionRules: [
        (v) => !!v || "Đây là trường bắt buộc, không được bỏ trống",
        (v) => (v && v.length <= 100) || "Không được vượt quá 200 kí tự",
      ],
      priceRules: [
        (v) => !!v || "Đây là trường bắt buộc, không được bỏ trống",
        (v) => /^[0-9]*$/.test(v) || "Chỉ nhận dữ liệu là số",
      ],
      categorySelectRules: [
        (v) => !!v || "Đây là trường bắt buộc, không được bỏ trống",
      ],
    };
  },
  created() {
    this.showInfo();
  },
  mounted() {
    this.getListCourse();
    this.showCategory();
    this.showLessonByCourseID();
  },
  computed: {
    profile() {
      return this.$store.state.auth.user.id;
    },
  },
  methods: {
    //show current user info
    showInfo() {
      var id = this.profile;
      UserService.showUserById(id).then((res) => {
        this.user_info = res.data;
        console.log("user info");
        console.log(res.data);
        console.log(id);
      });
    },

    //get list course
    getListCourse() {
      CourseService.allCourseExpertCreate(this.profile).then((response) => {
        this.list_courses = response.data;
        console.log(this.list_courses);
      });
    },

    //get category
    showCategory() {
      CategoryService.getAll().then((res) => {
        for (let index = 0; index < res.data.length; index++) {
          var catergory = new CategoryObj();
          catergory.id = res.data[index].id;
          catergory.name = res.data[index].name;
          this.list_category.push(catergory);
        }
      });
    },

    //get course by course info
    getCourse(id) {
      this.dialog = true;
      this.course.id = id;
      CourseService.getByID(id).then((res) => {
        this.course = res.data;
      });
    },
    //refresh course list
    refreshList() {
      this.getListCourse();
    },

    //create course
    submitCourse() {
      let user = JSON.parse(localStorage.getItem("user"));
      this.valid = this.$refs.form.validate();
      if (this.valid == true) {
        let formData = new FormData();
        if (this.imgFile != null) {
          formData.append("thumbnail", this.imgFile);
          formData.append("title", this.course.title);
          formData.append("content", this.course.content);
          formData.append("sortDescription", this.course.content);
          formData.append("coreExpert", this.profile);
          formData.append("price", this.course.price);
          formData.append("category_id", this.course.categoryId);
        }
        axios
          .post(`http://localhost:8082/expert/addCourse`, formData, {
            headers: {
              "Content-Type": "multipart/form-data",
              Authorization: `Bearer ${user.accessToken}`,
            },
          })
          .then((data) => {
            console.log(data);
          });
      }
    },
    fileChanges(file) {
      this.avatar = URL.createObjectURL(file);
      this.$emit("imgChange", file);
    },
    //update course info
    update() {
      this.valid = this.$refs.form.validate();
      if (this.valid == true) {
        var data = {
          title: this.course.title,
          thumbnail: this.course.thumbnail,
          content: this.course.content,
          sortDescription: this.course.sortDescription,
          coreExpert: this.profile,
          price: this.course.price,
          category_id: this.course.categoryId,
        };
        CourseService.update(this.course.id, data).then(() => {
          console.log(this.course.id);
          location.reload();
          alert("Update thành công");
          // this.$router.push("/manage");
        });
      }
    },

    clear() {
      this.$v.$reset();
      this.course.title = "";
      this.course.thumbnail = "";
      this.course.content = "";
      this.course.sortDescription = "";
      this.course.price = "";
    },

    // close create course dialog
    closeCreateCourse() {
      this.open = false;

      this.$refs.form.resetValidation();
    },

    closeUpdateCourse() {
      this.dialog = false;

      this.$refs.form.resetValidation();
    },

    onAddFile(file) {
      this.thumbnail = file.name;
    },
    getColor(status) {
      if (status == "active") return "green";
      else if (status == "pending") return "orange";
      else return "green";
    },
  },
  filters: {
    formatPrice(value) {
      let val = value / 1;
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
  },
};
</script>

<style src="@/assets/scss/_basic.scss" lang="scss"></style>

<style>
.list-course-tbl td {
  width: 10%;
  word-break: break-word;
}
</style>
