<template>
  <v-container class="blog-list-section body-row" style="padding-top: 70px">
    <div class="blog-list-header">
      <v-row>
        <v-col :lg="6" :md="6" :sm="6" class="blog-list-header-left">
          <i>Sắp xếp</i>
        </v-col>
        <v-col :lg="6" :md="6" :sm="6" class="blog-list-header-right">
          <form action="#" class="form-box">
            <input type="text" name="Search" placeholder="Search" />
          </form>
        </v-col>
      </v-row>
      <v-row>
        <v-col :lg="12" :md="12" :sm="12">
          <hr />
        </v-col>
      </v-row>
    </div>
    <div class="blog-list-main-section">
      <v-row>
        <v-col :lg="10" :md="12" :sm="12" class="blog-list-main-left">
          <v-card class="blog-card" color="#fff" dark v-for="(blog, i) in visibleBlog" :key="i">
            <v-row>
              <v-col :lg="3" :md="6" :sm="12" :xs="12">
                <img class="blog-thumbnail" :src="'https://placeimg.com/500/480/tech'" />
              </v-col>
              <v-col :lg="9" :md="6" :sm="12" :xs="12">
                <v-card-title class="blog-title">
                  <h3>
                    <router-link
                      :to="{
                        name: 'BlogDetail',
                        params: {id: blog.id, authorId: blog.user.id }
                      }"
                      tabindex="-1"
                    >{{ blog.title }}</router-link>
                  </h3>
                </v-card-title>
                <v-card-subtitle class="black--text blog-author">Tác giả: {{ blog.user.fullName }}</v-card-subtitle>
                <v-card-subtitle class="black--text blog-publisheddate">
                  Ngày đăng:
                  {{ blog.createdDate | formatDate }}
                </v-card-subtitle>
                <v-card-text class="black--text blog-summary">
                  <p v-html="blog.sortDescription"></p>
                </v-card-text>
                <v-card-actions class="blog-view">
                  <v-btn @click="viewDetail(blog)" color="#d79c62" class="white--text">Xem</v-btn>
                </v-card-actions>
              </v-col>
            </v-row>
          </v-card>
          <v-row class="pagination-wrapper mb-6">
            <v-col :lg="12" :md="12" :sm="12">
              <jw-pagination
                class="d-flex justify-center pagination"
                :pageSize="6"
                :items="listBlog"
                @changePage="onChangePage"
                :labels="customLabels"
              ></jw-pagination>
            </v-col>
          </v-row>
        </v-col>
        <v-col :lg="2" :md="12" :sm="12" class="blog-list-main-right">
          <div class="social-connect">
            <h3>Follow us</h3>
            <v-row>
              <v-col :lg="12" :md="12" :sm="12">
                <hr />
              </v-col>
            </v-row>
            <div class="social-connect-media">
              <v-btn color="#2f58a1">
                <v-icon class="white--text">mdi-facebook</v-icon>
              </v-btn>
              <v-btn color="#ec453e">
                <v-icon class="white--text">mdi-google</v-icon>
              </v-btn>
              <v-btn color="#0076b8">
                <v-icon class="white--text">mdi-linkedin</v-icon>
              </v-btn>
            </div>
          </div>
          <div class="latest-blog">
            <h3>Mới nhất</h3>
            <v-row>
              <v-col :lg="12" :md="12" :sm="12">
                <hr />
              </v-col>
              <v-card class="blog-card" color="#fff" dark v-for="(blog, i) in listLastest" :key="i">
                <v-row>
                  <v-col :lg="3" :md="6" :sm="12" :xs="12">
                    <img class="blog-thumbnail" :src="'https://placeimg.com/500/480/tech'" />
                  </v-col>
                  <v-col :lg="9" :md="6" :sm="12" :xs="12">
                    <v-card-title class="blog-title">
                      <h3>
                        <router-link
                          :to="{
                        name: 'BlogDetail',
                        params: {id: blog.id, authorId: blog.user.id }
                      }"
                          tabindex="-1"
                        >{{ blog.title }}</router-link>
                      </h3>
                    </v-card-title>
                    <v-card-subtitle class="black--text blog-author">
                      <v-icon>mdi-account</v-icon>
                      : {{ blog.user.fullName }}
                    </v-card-subtitle>
                    <v-card-subtitle class="black--text blog-publisheddate">
                      <v-icon>mdi-clock</v-icon>
                      :
                      {{ blog.createdDate | formatDate }}
                    </v-card-subtitle>
                  </v-col>
                </v-row>
              </v-card>
            </v-row>
          </div>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
import BlogService from "../../../services/blogService/blogService";
import Blog from "../../../models/blog";
import moment from "moment";

const customLabels = {
  first: "<<",
  last: ">>",
  previous: "<",
  next: ">"
};

export default {
  data() {
    return {
      blog: new Blog(),
      listBlog: [],
      listLastest: [],
      customLabels,
      visibleBlog: []
    };
  },
  mounted() {
    this.getAllBlog();
  },
  methods: {
    getLatestBlog() {
      BlogService.getTop4LastestBlog().then(res => {
        this.listLastest = res.data;
      });
    },
    getAllBlog() {
      BlogService.getAll().then(res => {
        console.log(res);
        this.listBlog = res.data;
      });
    },
    viewDetail(blog) {
      this.$router.push({
        name: "BlogDetail",
        params: {id: blog.id, authorId: blog.user.id }
      });
    },
    onChangePage(visibleBlog) {
      console.log(visibleBlog);
      // update page of items
      this.visibleBlog = visibleBlog;
    }
  },
  filters: {
    shortenContent(value) {
      value = value.substring(0, 500) + "...";
      return value;
    },
    formatDate(value) {
      if (value) {
        return moment(String(value)).format("DD/MM/YYYY");
      }
    }
  }
};
</script>

<style  src="../../../assets/scss/_blog.scss" lang="scss">
</style>