<template>
  <v-container v-if="this.blog" class="blog-detail-section body-row" style="padding-top: 70px">
    <div class="blog-detail-header">
      <v-row>
        <v-col :lg="12" :md="12" :sm="12" class="blog-detail-header-right">
          <form action="#" class="form-box">
            <input v-model="search" type="text" name="Search" placeholder="Search" />
          </form>
        </v-col>
      </v-row>
      <v-row>
        <v-col :lg="12" :md="12" :sm="12">
          <hr />
        </v-col>
      </v-row>
    </div>
    <div class="blog-detail-main-section">
      <v-row>
        <v-col class="blog-detail-left" :lg="9" :md="9" :sm="12">
          <v-container class="blog-main-header">
            <h2>{{ blog.title }}</h2>
            <h6>
              <i>
                <span>Ngày đăng: {{ blog.createdDate | formatDate }}</span>
              </i>
            </h6>
          </v-container>
          <v-col :lg="12" :md="12" :sm="12">
            <img
              class="blog-thumbnail"
              :src="'https://placeimg.com/500/480/tech'"
            />
            <p class="blog-main-content" v-html="blog.content"></p>
          </v-col>

          <v-container id="comments" fluid> </v-container>
        </v-col>
        <v-col class="blog-detail-right" :lg="3" :md="3" :sm="12">
          <v-card class="author-class" v-model="user">
            <v-img
              height="250"
              :src="
                'https://images.unsplash.com/photo-1540569014015-19a7be504e3a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80'
              "
            ></v-img>
            <v-card-title class="author-title">
              <h4>{{ user.fullName }}</h4>
            </v-card-title>
            <v-card-text class="author-description">
              <div
                class="my-4 text-subtitle-1"
                :inner-html.prop="user.description"
              ></div>
            </v-card-text>
          </v-card>
          <v-col :lg="12" :md="12" :sm="12">
            <h6>Chia sẻ</h6>
            <hr />
            <div class="social-connect-media">
              <v-btn color="#2f58a1">
                <v-icon class="white--text">mdi-facebook</v-icon>
              </v-btn>
              <v-btn color="#ec453e">
                <v-icon class="white--text">mdi-google</v-icon>
              </v-btn>
              <v-btn color="#0076b8">
                <v-icon class="white--text">mdi-linkedin</v-icon>
              </v-btn>
            </div>
          </v-col>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
import BlogService from "../../../services/blogService/blogService";
import UserService from "../../../services/accountService/accountService";
import User from "../../../models/user";
import Blog from "../../../models/blog";
import moment from "moment";
export default {
  data() {
    return {
      search: "",
      blog: new Blog(),
      user: new User(),
    };
  },
  created() {
    this.fetchData();
  },
  mounted() {},
  methods: {
    fetchData() {
      const blogID = this.$route.params.id;
      const authorID = this.$route.params.authorId;
      this.getBlogDetail(blogID);
      console.log(authorID);
      this.getAuthorDetail(authorID);
    },
    getBlogDetail(id) {
      BlogService.getBlogByID(id).then((res) => {
        return (this.blog = res.data);
      });
    },
    getAuthorDetail(id) {
      UserService.showInfo(id).then((res) => {
        return (this.user = res.data);
      });
    },
  },
  filters: {
    formatDate(value) {
      if (value) {
        return moment(String(value)).format("DD/MM/YYYY");
      }
    },
  },
};
</script>

<style src="../../../assets/scss/_blog.scss" lang="scss"></style>
