<template>
  <v-container class="create-blog-section">
    <v-container class="editor">
      <v-row>
        <v-col cols="12">
          <v-text-field
            v-model="title"
            style="margin-bottom: -25px"
            label="Tiêu đề cho bài viết"
            outlined
            >{{ profile }}</v-text-field
          >
        </v-col>

        <v-col cols="12">
          <!-- <vue-editor v-model="content" style="height: 500px"></vue-editor> -->
          <Editor @content="content = $event" />
        </v-col>
        <!-- <Editor v-model="data" :image-provider="imageProvider" /> -->
        <v-col cols="12">
          <v-btn color="#d79c62" @click="createBlog()" class="white--text"
            >Đăng</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<script>
// import StarterKit from "@tiptap/starter-kit";
// import MenuBar from "../../../components/blogCreateComponents/menuBar";
import Blog from "../../../services/blogService/blogService";
import Editor from "@/components/common/editor/Editor";
export default {
  components: {
    Editor,
  },

  data() {
    return {
      editor: null,
      content: "",
    };
  },
  watch: {
    content: function () {
      console.log("2313112", this.content);
    },
  },
  mounted() {
    // this.editor = new Editor({
    //   extensions: [StarterKit],
    //   content: `
    //     <h2>
    //       Hi there,
    //     </h2>
    //     <p>
    //       this is a <em>basic</em> example of <strong>tiptap</strong>. Sure, there are all kind of basic text styles you’d probably expect from a text editor. But wait until you see the lists:
    //     </p>
    //     <ul>
    //       <li>
    //         That’s a bullet list with one …
    //       </li>
    //       <li>
    //         … or two list items.
    //       </li>
    //     </ul>
    //   `
    // });
    this.getId();
  },
  computed: {
    profile() {
      return this.$store.state.auth.user.id;
    },
  },
  methods: {
    getId() {
      console.log(this.profile);
    },
    createBlog() {
      var data = {
        user_id: this.profile,
        title: this.title,
        content: this.content,
      };
      Blog.createBlog(data).then((res) => {
        console.log(res.data);
      });
    },
  },
  beforeDestroy() {
    this.editor.destroy();
  },
};
</script>

<style lang="scss">
.create-blog-section {
  min-height: 80%;
  max-width: 100%;
  margin-top: 100px;
}

.editor_header {
  display: inline-flex;
}
/* Basic editor styles */
.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: #61616141;
    color: #616161;
  }

  pre {
    background: #191919;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 1px solid #191919;
  }

  hr {
    border: none;
    border-top: 1px solid #191919;
    margin: 2rem 0;
  }
}
</style>
