<template>
  <v-app>
    <v-container class="forget-password-container" fluid>
      <v-col cols="12" :lg="12" :md="12" :sm="12">
        <v-card class="mx-auto" max-width="500">
          <v-col class="align-center justify-center">
          <h1>Thay đổi mật khẩu của bạn</h1>
          <v-form>
            <v-col>
              <v-text-field 
              v-model="username"
               label="Username/Email" required></v-text-field>
              <v-text-field v-model="oldPassword" label="Mật khẩu cũ" required></v-text-field>
              <v-text-field v-model="newPassword" label="Mật khẩu mới" required></v-text-field>
              <v-text-field
                label="Nhập lại mật khẩu mới"
                v-model="confirmNewPassword"
                required
              ></v-text-field>
            </v-col>
            <v-col class="d-flex justify-space-between">
              <v-btn class="text-capitalize" large color="primary" @click="changePassword">
                Xác nhận</v-btn
              >
              <router-link to="/forgotPassword">Quên mật khẩu!</router-link>
            </v-col>
          </v-form>
        </v-col>
        </v-card>
      </v-col>
    </v-container>
  </v-app>
</template>
<script>
import AuthService from "../../services/AuthService";
// import newPassword from "../../models/newPassword";
export default {
  data() {
    return {
      newPassword: [],
    }
  },
  methods: {
    
    changePassword(){
      var data = {
        username: this.username,
        oldPassword: this.oldPassword,
        newPassword: this.newPassword,
        confirmNewPassword: this.confirmNewPassword,
      };
      AuthService.changePassword(data).then(() => {
        console.log(data);
        alert("Update thanh cong!")
      })
    }
  }
}
</script>
<style src="../../assets/scss/_login.scss" lang="scss" />
