<template>
  <div class="body-row" style="height: 100%; padding-top:70px">
    <v-container class="contact-section" style="padding-top: 68px">
      <v-row class="title">
        <v-col :lg="12" :md="12" :sm="12">
          <h2 class="text-center">Liên hệ</h2>
          <hr />
        </v-col>
      </v-row>
      <v-row class="contact-main-section">
        <v-col :lg="6" :md="6" :sm="6" :xs="1">
          <v-card elevation="2" outlined>
            <h3 class="text-center" style="margin-top:10px">
              Thông tin liên hệ
            </h3>
            <v-card-text>
              <div class="text--primary">
                <h4>
                  Địa chỉ:<span>
                    Khu CNC Hòa Lạc - Thạch Hòa - Thạch Thất - Hà Nội</span
                  >
                </h4>
                <br />
                <h4>Email:<span> rts.support@gmail.com</span></h4>
                <br />
                <h4>Phone:<span> (+84)929057628</span></h4>
              </div>
            </v-card-text>
          </v-card>
        </v-col>

        <v-col :lg="6" :md="6" :sm="6" :xs="1">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="name"
              :counter="20"
              :rules="nameRules"
              label="Tên"
              required
            ></v-text-field>

            <v-text-field
              v-model="email"
              :rules="emailRules"
              label="E-mail"
              required
            ></v-text-field>
            <v-textarea name="input-7-1" auto-grow></v-textarea>

            <v-btn
              :disabled="!valid"
              color="#d79c62"
              class="mr-4 white--text"
              @click="validate"
            >
              Gửi
            </v-btn>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    valid: true,
    name: "",
    nameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
    ],
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
  }),

  methods: {
    validate() {
      this.$refs.form.validate();
    },
  },
};
</script>
<style src="../../../assets/scss/_home.scss" lang="scss" />
