<template>
  <v-container fluid>
    <div class="tables-basic">
      <!-- <h1 class="page-title mt-10 mb-6" :v-model="user_info">Xin chào, {{user_info.fullName}}</h1> -->
      <v-row class="mt-1">
        <v-col cols="12">
          <v-card class="course-list mb-1">
            <v-card-title class="pa-6 pb-3">
              <p>Danh sách khóa học của bạn</p>
              <v-spacer></v-spacer>

              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                clearable
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="list_courses"
              :sort-by="[
                'title',
                'price',                            
                'category',
              ]"
              multi-sort
              class="elevation-1 list-course-tbl"
              :search="search"
            >
              <template v-slot:item.price="{ item }">{{ item.price | formatPrice}} VNĐ</template>

              <template v-slot:item.status="{ item }">
                <v-chip :color="getColor(item.status)" dark>{{ item.status }}</v-chip>
              </template>
              <template class="action-btn" v-slot:item.actions="{ item }">
                <v-icon medium @click="getCourse(item.id)">mdi-eye</v-icon>

                <!-- dialog view -->
                <v-dialog
                  v-model="courseViewDialog"
                  :retain-focus="false"
                  persistent
                  max-width="1200px"
                >
                  <v-card v-model="course">
                    <v-card-title>
                      <span class="text-h5">Danh sách bài test</span>
                    </v-card-title>
                    <v-tabs v-model="tab" color="#536dfe">
                      <v-tab>Thông tin khóa học</v-tab>
                      <v-tab>Bài test</v-tab>
                    </v-tabs>
                    <v-tabs-items v-model="tab">
                      <v-tab-item>
                        <v-container class="tab-content">
                          <v-card>
                            <v-col cols="12">
                              <v-text-field readonly label="Tên khóa học *" v-model="course.title"></v-text-field>
                            </v-col>
                            <v-col cols="12">
                              <v-textarea
                                readonly
                                label="Giới thiệu về khóa học"
                                v-html="course.content"
                              ></v-textarea>
                            </v-col>
                            <v-col cols="12">
                              <v-text-field
                                readonly
                                label="Giảng viên"
                                v-model="user_info.fullName"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                              <v-text-field readonly label="Danh mục" v-model="course.categoryName"></v-text-field>
                            </v-col>
                          </v-card>
                        </v-container>
                      </v-tab-item>
                      <v-tab-item>
                        <v-container class="tab-content">
                          <template>
                            <!-- Lesson list table -->
                            <div class="tables-basic">
                              <v-dialog
                                v-model="lessonNewDialog"
                                :retain-focus="false"
                                persistent
                                max-width="1200px"
                              >
                                <template v-slot:activator="{ on, attrs }">
                                  <v-btn
                                    class="create-new-btn"
                                    color="green"
                                    dark
                                    v-bind="attrs"
                                    v-on="on"
                                  >Thêm mới</v-btn>
                                </template>
                                <v-card>
                                  <v-card-title>
                                    <span class="text-h5">Tạo mới bài test</span>
                                  </v-card-title>
                                  <v-card-text>
                                    <v-container>
                                      <v-form
                                        ref="form"
                                        @submit.prevent="submitTest"
                                        enctype="multipart/form-data"
                                        v-model="valid"
                                        lazy-validation
                                      >
                                        <v-row>
                                          <v-col cols="12">
                                            <v-text-field
                                              required
                                              :rules="titleRules"
                                              v-model="exam.title"
                                              label="Tiêu đề*"
                                            ></v-text-field>
                                          </v-col>
                                          <v-col cols="12">
                                            <v-file-input
                                              v-model="file"
                                              required
                                              ref="selectedFile"
                                              :rules="[v => !!v ||'Vui lòng chọn file']"
                                              accept=".xls, .xlsx"
                                              label="Chọn file câu hỏi (định dạng: .xls, .xlsx)*"
                                              @change="onFileUpload"
                                            ></v-file-input>
                                          </v-col>
                                        </v-row>
                                      </v-form>
                                    </v-container>
                                    <small>
                                      <i>(*):</i>
                                      <span>Là các trường bắt buộc và không được để trống</span>
                                    </small>
                                  </v-card-text>
                                  <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                      color="green"
                                      class="white--text"
                                      :disabled="!valid"
                                      @click.prevent="submitTest"
                                    >Tạo mới</v-btn>
                                    <v-btn
                                      color="red"
                                      class="white--text"
                                      @click="closeLessonNewDialog"
                                    >Đóng</v-btn>
                                  </v-card-actions>
                                </v-card>
                              </v-dialog>

                              <v-row class="mt-1">
                                <v-col cols="12">
                                  <v-card class="course-list mb-1">
                                    <v-card-title class="pa-6 pb-3">
                                      <v-spacer></v-spacer>

                                      <v-text-field
                                        v-model="search"
                                        append-icon="mdi-magnify"
                                        label="Search"
                                        clearable
                                        single-line
                                        hide-details
                                      ></v-text-field>
                                    </v-card-title>
                                    <v-data-table
                                      :headers="exameHeaders"
                                      :items="list_exam"
                                      class="elevation-1 list-course-tbl"
                                      :search="search"
                                    >
                                      <template v-slot:item.status="{ item }">
                                        <v-chip
                                          :color="getColor(item.status)"
                                          dark
                                        >{{ item.status }}</v-chip>
                                      </template>
                                      <template class="action-btn" v-slot:item.actions="{ item }">
                                        <v-icon small @click="getExamDetail(item.id)">mdi-pencil</v-icon>
                                        <v-icon
                                          small
                                          @click="deleteDialog = true"
                                          :value="item.id"
                                        >mdi-delete</v-icon>
                                        <!-- <v-dialog
                                          v-model="deleteDialog"
                                          :retain-focus="false"
                                          persistent
                                          max-width="290"
                                        >
                                          <v-card>
                                            <v-card-title class="text-h5">Xác nhận xóa</v-card-title>
                                            <v-card-text>Bạn có chắc chắn muốn xóa bài giảng này ?</v-card-text>
                                            <v-card-actions>
                                              <v-btn
                                                color="green darken-1"
                                                text
                                                @click="delete(item.id),deleteDialog = false"
                                              >Đồng ý</v-btn>
                                              <v-btn
                                                color="green darken-1"
                                                text
                                                @click="deleteDialog = false"
                                              >Không</v-btn>
                                            </v-card-actions>
                                          </v-card>
                                        </v-dialog>-->

                                        <v-dialog
                                          :retain-focus="false"
                                          v-model="lessonUpdateDialog"
                                          persistent
                                          max-width="1200px"
                                        >
                                          <v-card>
                                            <v-card-title>
                                              <span class="text-h5">Chỉnh sửa bài test</span>
                                            </v-card-title>
                                            <v-card-text>
                                              <v-container>
                                                <v-form ref="form" v-model="valid" lazy-validation>
                                                  <v-row>
                                                    <v-col cols="12">
                                                      <v-text-field
                                                        required
                                                        :rules="titleRules"
                                                        v-model="exam.title"
                                                        label="Tiêu đề*"
                                                      ></v-text-field>
                                                    </v-col>
                                                    <v-col cols="12">
                                                      <v-file-input
                                                        v-model="exam.question_name"
                                                        required
                                                        :rules="[v => !!v ||'Vui lòng chọn file']"
                                                        accept=".xls, .xlsx"
                                                        label="Chọn file câu hỏi (định dạng: .xls, .xlsx)*"
                                                      ></v-file-input>
                                                    </v-col>
                                                  </v-row>
                                                </v-form>
                                              </v-container>
                                              <small>
                                                <i>(*):</i>
                                                <span>Là các trường bắt buộc và không được để trống</span>
                                              </small>
                                            </v-card-text>
                                            <v-card-actions>
                                              <v-spacer></v-spacer>
                                              <v-btn
                                                color="green"
                                                class="white--text"
                                                :disabled="!valid"
                                              >Cập nhật</v-btn>
                                              <v-btn
                                                color="red"
                                                class="white--text"
                                                @click="closeUpdateCourse"
                                              >Đóng</v-btn>
                                            </v-card-actions>
                                          </v-card>
                                        </v-dialog>
                                      </template>
                                    </v-data-table>
                                  </v-card>
                                </v-col>
                              </v-row>
                            </div>
                          </template>
                        </v-container>
                      </v-tab-item>
                    </v-tabs-items>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="red" class="white--text" @click="closeViewDialog">Đóng</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
import mock from "@/services/mock";
import CourseService from "@/services/courseService/courseService";
import CategoryService from "@/services/categoryService/categoryService";
import ExamService from "@/services/examService/examService";
import UserService from "@/services/informationUser/user";

import CategoryObj from "@/models/category";
import CourseObj from "@/models/courses";
import ExamObj from "@/models/exam";
import UserObj from "@/models/user";
export default {
  name: "Tables",

  data() {
    return {
			file: null,
      search: "",
      btns: [["Custom", "b-xl"]],
      colors: ["deep-purple accent-4", "error", "teal darken-1"],
      list_category: [].map((_, i) => `Item ${i}`),
      course: new CourseObj(),
      table: false,
      mock,
      headers: [
        // { text: "id", value: "id" },
        {
          text: "Tên khóa học",
          value: "title"
        },
        {
          text: "Giá",
          value: "price"
        },
        {
          text: "Giới thiệu",
          value: "sortDescription"
        },

        { text: "Danh mục", value: "categoryName" },

        { text: "Trạng thái", value: "status" },
        {
          text: "Hành động",
          value: "actions"
        }
      ],

      list_courses: [],
      list_exam: [],
      exam: new ExamObj(),
      user_info: new UserObj(),
      tab: null,
      FILE: null,
      exameHeaders: [
        // { text: "id", value: "id" },
        {
          text: "Tiêu đề",
          value: "title"
        },
        { text: "File câu hỏi", value: "question_name" },
        { text: "Trạng thái", value: "status" },
        {
          text: "Hành động",
          value: "actions"
        }
      ],

      courseViewDialog: false,
      lessonUpdateDialog: false,
      lessonNewDialog: false,
      deleteDialog: false,

      //Validate rules//
      valid: true,
      titleRules: [
        v => !!v || "Đây là trường bắt buộc, không được bỏ trống",
        v => (v && v.length <= 100) || "Không được vượt quá 100 kí tự"
      ],
      shortDescriptionRules: [
        v => !!v || "Đây là trường bắt buộc, không được bỏ trống",
        v => (v && v.length <= 100) || "Không được vượt quá 200 kí tự"
      ],
      contentRules: [v => !!v || "Đây là trường bắt buộc, không được bỏ trống"],
      linkVideoRules: [
        v => !!v || "Đây là trường bắt buộc, không được bỏ trống"
      ]
    };
  },

  mounted() {
    this.getListCourse();
    this.showCategory();
    this.showInfo();
  },
  computed: {
    profile() {
      return this.$store.state.auth.user.id;
    }
  },

  methods: {
    //show current user info
    showInfo() {
      var id = this.profile;
      UserService.showUserById(id).then(res => {
        this.user_info = res.data;
      });
    },

    //get list course
    getListCourse() {
      CourseService.allCourseExpertCreate(this.profile).then(response => {
        this.list_courses = response.data;
      });
    },

    //get category
    showCategory() {
      CategoryService.getAll().then(res => {
        for (let index = 0; index < res.data.length; index++) {
          var catergory = new CategoryObj();
          catergory.id = res.data[index].id;
          catergory.name = res.data[index].name;
          this.list_category.push(catergory);
        }
      });
    },

    //get course by course info
    getCourse(id) {
      this.courseViewDialog = true;
      this.course.id = id;
      CourseService.getByID(id).then(res => {
        this.course = res.data;
      });

      this.getListExamsOfCourse(id);
    },
    //refresh course list
    refreshList() {
      this.getListCourse();
    },

    // //Lesson CRUD
    getListExamsOfCourse(courseId) {
      ExamService.getListExamByCourseID(courseId).then(response => {
        this.list_exam = response.data;
        console.log(this.list_exam);
      });
    },

    getExamDetail(id) {
      this.lessonUpdateDialog = true;
      ExamService.getExamDetail(id).then(response => {
        this.exam = response.data;
      });
    },

    onFileUpload(e) {
      this.FILE = e;
    },

    //create lesson
    submitTest() {
      this.valid = this.$refs.form.validate();
      if (this.valid == true) {
        let title= this.exam.title;
        let courseId= this.course.id;
        let formData = new FormData();
        formData.append("title", title);
        formData.append("courseId",courseId)
        formData.append("file", this.file, this.file.name);

        ExamService.addExam(formData)
          .then(() => {
            alert("Thêm mới thành công!");
            this.getListExamsOfCourse(this.course.id);
            this.closeLessonNewDialog();
          })
          .catch(e => {
            console.log(e);
          });
      }
    },

    // //update lesson
    // updateLesson() {
    //   this.valid = this.$refs.form.validate();
    //   if (this.valid == true) {
    //     var data = {
    //       content: this.lesson.content,
    //       linkVideo: this.lesson.linkVideo,
    //       title: this.lesson.title,
    //       courseID: this.lesson.course.id,
    //       shortDescription: this.lesson.shortDescription
    //     };
    //     LessonService.updateLesson(this.lesson.id, data).then(() => {
    //       this.getListLessonsOfCourse(this.course.id);
    //       alert("Update thành công");
    //       // this.$router.push("/manage");
    //     });
    //   }
    // },

    // //delete lesson
    // delete(id) {
    //   LessonService.deleteLesson(id).then(() => {
    //     this.getListLessonsOfCourse(this.course.id);
    //     alert("Xóa thành công");
    //     // this.$router.push("/manage");
    //   });
    // },
    //

    // close create course dialog
    closeLessonNewDialog() {
      this.lessonNewDialog = false;
      this.$refs.form.resetValidation();
      // location.reload();
      // this.clear();
    },

    //close lesson update dialog
    closeUpdateCourse() {
      this.lessonUpdateDialog = false;
    },

    closeViewDialog() {
      this.courseViewDialog = false;
    },

    onAddFile(file) {
      console.log(file.name);
      this.thumbnail = file.name;
    },
    getColor(status) {
      if (status == "active") return "green";
      else if (status == "pending") return "orange";
      else return "green";
    }
  },
  filters: {
    formatPrice(value) {
      let val = value / 1;
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
  }
};
</script>

<style src="@/assets/scss/_basic.scss" lang="scss"></style>

<style>
.list-course-tbl td {
  width: 10%;
  word-break: break-word;
}
.tab-content .v-card {
  margin: 10px 20px;
}

button.create-new-btn {
  margin-left: 10px;
}
</style>
