<template>
  <v-container class="profile-section" fluid>
    <v-col class="side-bar" :lg="1" :md="1" :sm="1">
      <v-navigation-drawer
        id="profile-menu"
        class="side-bar"
        absolute
        permanent
        left
        dark
      >
        <div class="user-identify">
          <v-img class="user-avatar" :src="avatar"></v-img>
          <h3 class="username">{{ user_info.fullName }}</h3>
        </div>

        <v-list class="list-container">
          <v-list-item-group v-model="selectedItem" color="primary">
            <v-list-item v-for="(item, i) in menu_items" :key="i">
              <v-list-item-icon>
                <v-icon v-text="item.icon"></v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title v-text="item.item_name"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
    </v-col>
    <v-col class="main-section">
      <template class="user-info" v-if="selectedItem == 0">
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-row class="avatar">
            <v-col cols="12" md="2">
              <v-img :src="avatar"></v-img>
            </v-col>
          </v-row>
          <v-row class="change-avatar">
            <v-col cols="12" md="2">
              <v-file-input
                @input="fileChanges"
                v-model="imgFile"
                accept="image/png, image/jpeg, image/bmp"
                placeholder="Chọn ảnh đại diện"
                prepend-icon="mdi-camera"
                label="Avatar"
              ></v-file-input>

              <!-- <input
                type="file"
                id="file"
                ref="file"
                v-on:change="onChangeFileUpload()"
              />
              <button v-on:click="submitForm()">Upload</button> -->
              <v-btn @click="updateImg()">Update</v-btn>
            </v-col>
          </v-row>
          <div class="infomation">
            <v-row id="row1st">
              <v-col cols="12" md="4">
                <v-text-field v-model="user_info.fullName">{{
                  user_info.fullName
                }}</v-text-field>
              </v-col>

              <v-col cols="12" md="4">
                <v-menu
                  v-model="datePicker"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      label="Ngày/tháng/năm sinh"
                      readonly
                      :value="dateDisp"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    locale="en-in"
                    :min="minDate"
                    :max="maxDate"
                    v-model="user_info.dob"
                    no-title
                    @input="datePicker = false"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <v-row id="row2nd">
              <v-col cols="12" md="4">
                <v-text-field
                  v-model="user_info.username"
                  :rules="emailRules"
                  label="E-mail"
                  required
                  >{{ user_info.username }}</v-text-field
                >
              </v-col>
              <v-col cols="12" md="4">
                <v-text-field
                  v-model="user_info.phoneNumber"
                  :rules="phonelRules"
                  label="Số điện thoại"
                  required
                  >{{ user_info.phoneNumber }}</v-text-field
                >
              </v-col>
            </v-row>
            <v-row id="row2nd">
              <v-col cols="12" md="8">
                <v-textarea name="input-7-1" label="Mô tả bản thân" auto-grow>{{
                  user_info.description
                }}</v-textarea>
              </v-col>
            </v-row>
          </div>
         <ChangeEmail/>
          <v-btn
            :disabled="!valid"
            to="/changePassword"
            color="#d79c62"
            class="mr-4 white--text"
            >Đổi mật khẩu</v-btn
          >
          <v-btn :disabled="!valid" color="#d79c62" class="mr-4 white--text"
            >Lưu thay đổi</v-btn
          >
        </v-form>
      </template>
      <template class="course-list" v-else-if="selectedItem == 1">
        <v-row v-if="roles == 'ROLE_EXPERT'">
          <v-btn color="#d79c62" class="white--text" to="/manageCourse"
            >Quản lý khóa học</v-btn
          >
        </v-row>
        <v-row v-if="list_courses.length > 0">
          <v-col
            :lg="3"
            :md="6"
            :sm="12"
            :xs="12"
            v-for="(course, i) in list_courses"
            :key="i"
          >
            <v-card class="mx-auto my-8 course">
              <v-img height="250" :src="course.img"></v-img>

              <v-card-title class="course-title">
                <h2>
                  <a href="#" tabindex="-1">{{ list_courses[i].title }}</a>
                </h2>
              </v-card-title>
              <v-card-title>
                <div class="my-4 text-subtitle-1">
                  <p v-html="list_courses[i].sort_description"></p>
                </div>
              </v-card-title>

              <v-divider class="mx-4"></v-divider>
              <v-card-actions v-if="roles == 'ROLE_EXPERT'">
                <v-btn
                  color="#d79c62"
                  class="white--text"
                  @click="viewDetail(course)"
                  >Xem</v-btn
                >
              </v-card-actions>
              <v-card-actions v-else-if="roles == 'ROLE_USER'">
                <v-btn
                  color="#d79c62"
                  class="white--text"
                  @click="toLearnPage(course)"
                  >Học</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <v-row v-else>
          <section v-if="roles == 'ROLE_EXPERT'">
            <h2>
              Bạn chưa có khóa học nào. Hãy tạo một khóa học mới để chia sẻ kiến
              thức nào.
            </h2>
            <v-btn color="#d79c62" class="white--text" to="/manageCourse"
              >Quản lý khóa học</v-btn
            >
          </section>
          <section v-else-if="roles == 'ROLE_USER'">
            <h2>Bạn chưa có khóa học nào. Hãy đăng ký một khóa học mới nào.</h2>
            <v-btn color="#d79c62" to="/courses" class="white--text"
              >Đăng ký khóa học mới</v-btn
            >
          </section>
        </v-row>
      </template>
      <template class="blog-list" v-else-if="selectedItem == 2">
        <v-row v-if="list_blog.length > 0">
          <v-col :lg="7" :md="7" :sm="12" class="blog-list-main-left">
            <v-card
              class="blog-card"
              color="#fff"
              dark
              v-for="(blog, i) in list_blog"
              :key="i"
            >
              <v-row>
                <v-col :lg="3" :md="6" :sm="12" :xs="12">
                  <img class="blog-thumbnail" :src="blog.thumbnail" />
                </v-col>
                <v-col :lg="9" :md="6" :sm="12" :xs="12">
                  <v-card-title class="blog-title">
                    <h3>
                      <a href="#">{{ blog.title }}</a>
                    </h3>
                  </v-card-title>
                  <v-card-subtitle class="black--text blog-author"
                    >Tác giả: {{ blog.author }}</v-card-subtitle
                  >
                  <v-card-subtitle class="black--text blog-publisheddate"
                    >Ngày viết: {{ blog.create_date }}</v-card-subtitle
                  >
                  <v-card-text class="black--text blog-summary">
                    <p>{{ blog.short_description }}</p>
                  </v-card-text>
                  <v-card-actions class="blog-view">
                    <v-btn color="#d79c62" class="white--text">Xem</v-btn>
                  </v-card-actions>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
        <v-row v-else>
          <section>
            <h2>
              Bạn chưa có bài viết nào. Hãy viết những gì bạn muốn chia sẻ tại
              đây nhé
            </h2>
            <v-btn color="#d79c62" class="white--text" to="/createblog"
              >Tạo bài viết</v-btn
            >
          </section>
        </v-row>
      </template>
    </v-col>
  </v-container>
</template>

<script>
import ChangeEmail from "@/pages/changeEmail/ChangeEmail"
import User from "@/services/informationUser/user";
import { UrlImg } from "@/constants/app.constant";
// import axios from 'axios';
// import Loader from "@/components/loader/loader"
import CourseService from "@/services/courseService/courseService";
import axios from "axios";

export default {
  components:{
    ChangeEmail
  },
  data() {
    return {
      imgFile: null,
      user_info: [],
      avatar: "",
      file: "",
      selectedItem: 0,
      menu_items: [
        { id: 1, item_name: "Thông tin cá nhân", icon: "mdi-account" },
        { id: 2, item_name: "Khóa học", icon: "mdi-note" },
        { id: 3, item_name: "Blog", icon: "mdi-format-align-justify" },
      ],

      list_courses: [],

      list_blog: [],

      valid: true,
      dateValue: null,
      minDate: "1900-01-01",
      maxDate: "2100-01-01",
      datePicker: false,

      nameRules: [
        (v) => !!v || "Tên không được bỏ trống",
        (v) => (v && v.length <= 100) || "Tên không được vượt quá 50 kí tự",
      ],
      emailRules: [
        (v) => !!v || "E-mail không được để trống",
        (v) => /.+@.+\..+/.test(v) || "E-mail chưa đúng định dạng",
      ],
      phonelRules: [
        (v) => !!v || "Số điện thoại không được để trống",
        (v) =>
          /(84|0[3|5|7|8|9])+([0-9]{8})\b/.test(v) ||
          "Số điện thoại chưa đúng định dạng",
      ],
    };
  },
  mounted() {
    this.getImg();
    this.showInfo();
    if (this.roles == "ROLE_EXPERT") {
      this.getAllCourseExpertCreate();
    } else if (this.roles == "ROLE_USER") {
      this.getAllRegisterCourses();
    }
  },
  methods: {
    getImg() {
      this.avatar = UrlImg.URL_AVATAR_USER + this.profile;
      console.log(JSON.stringify(this.avatar));
    },

    updateImg() {
      // console.log(this.imgFile);
      let formData = new FormData();
      if (this.imgFile != null) {
        formData.append("avatar", this.imgFile);
      }
      console.log(formData);
      axios
        .put(
          "http://localhost:8082/client/avatar/saveAvatarUser/" + this.profile,
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          }
        )
        .then((data) => {
          console.log(data);
          location.reload();
        });
      // User.saveAvatarUser(this.profile, data).then(() => {
      // });
    },

    fileChanges(file) {
      this.avatar = URL.createObjectURL(file);
      this.$emit("imgChange", file);
    },
    // submitForm(){
    //         let formData = new FormData();
    //         formData = JSON.stringify(formData);
    //         formData.append('file', this.file);

    //         axios.put('http://localhost:8082/client/avatar/saveAvatarUser/48',
    //             formData,
    //             {
    //             headers: {
    //                 'Content-Type': 'multipart/form-data'
    //             }
    //           }
    //         ).then(function(data){
    //           console.log(data.data);
    //         })
    //         .catch(function(){
    //           console.log('FAILURE!!');
    //         });
    //   },

    //   onChangeFileUpload(){
    //     this.file = this.$refs.file.files[0];
    //   },
    update() {
      var data = {
        id: this.user_info.id,
        username: this.user_info.username,
        fullName: this.user_info.fullName,
        phoneNumber: this.user_info.phoneNumber,
        description: this.user_info.description,
      };
      User.update(data).then(() => {
        alert("Cập nhật thành công");
      });
      // console.log(data.id)
    },

    getAllRegisterCourses() {
      var id = this.profile;
      CourseService.getAllUserRegisteredCourse(id).then((res) => {
        this.list_courses = res.data;
      });
    },
    viewDetail(course) {
      this.$router.push({
        name: "CourseDetail",
        params: {
          course: course,
          id: course.id,
          coreExpert: course.coreExpert,
        },
      });
    },

    toLearnPage(course) {
      this.$router.push({
        name: "Lesson",
        params: {
          course: course,
          id: course.id,
          title: course.title,
        },
      });
    },

    getAllCourseExpertCreate() {
      var id = this.profile;
      CourseService.allCourseExpertCreate(id).then((res) => {
        this.list_courses = res.data;
      });
    },

    showInfo() {
      var id = this.profile;
      User.showUserById(id).then((res) => {
        this.user_info = res.data;
      });
    },
  },
  computed: {
    roles() {
      return this.$store.state.auth.user.roles[0];
    },
    profile() {
      return this.$store.state.auth.user.id;
    },
    dateDisp() {
      return this.user_info.dob;
      // format date, apply validations, etc. Example below.
      // return this.fromDateVal ? this.formatDate(this.fromDateVal) : "";
    },
  },
};
</script>

<style>
.profile-section {
  min-height: 80%;
  max-width: 100%;
  margin-top: 70px;
  margin-bottom: 6px;
}

.profile-section #profile-menu {
  float: left;
  width: 20%;
}

#profile-menu > .v-navigation-drawer__content {
  margin-top: 100px;
}

.user-avatar {
  border-radius: 50%;
  width: 50%;
  position: sticky;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 30px;
}

h3.username {
  text-align: center;
  font-weight: bold !important;
  color: #fff;
}

.profile-section .main-section {
  float: right;
  width: 80%;
  /* margin-top: 3%; */
  margin-right: 3%;
  margin-left: 3%;
  min-height: 500px;
}

.course-title h2 a {
  color: #191919;
  font-size: 19px;
  font-weight: 500;
  margin-top: 8px;
  margin-left: 3px;
  display: block;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
  word-break: break-word;
}

.course-title h2 a:hover {
  color: #d79c62;
  text-decoration: none;
}
</style>
