<template>
  <div style="background: #E9E9E9 ; padding-top:70px" >
    <!-- <img :src="urlImg + slides[0].id" class="slider-style" /> -->
    <v-container fluid class="home-about-section ">
      <v-row class="d-flex justify-center mb-6">
        <v-col :lg="6" :md="6" :sm="6" :xs="1">
          <v-img
            class="about-us-img"
            height="250"
            :src="
              `https://images.unsplash.com/photo-1521702813222-1943f3fb9c07?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80`
            "
          ></v-img>
        </v-col>
        <v-col :lg="6" :md="6" :sm="6" :xs="1">
          <div class="about-caption">
            <div>
              <p class="font-size-title">Về chúng tôi</p>
              <p class="about-caption-des font-size-content">
                {{ about_us.description }}
              </p>
            </div>

            <div class="about-us-btn">
              <v-btn :to="'/aboutus'" color="#191919" class="white--text "
                >Về chúng tôi</v-btn
              >
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
    <v-container class="suggest-courses-section body-row">
      <v-row>
        <v-col :lg="12" :md="12" :sm="12">
          <p class="text-center bold-font-size-title">Dành cho bạn</p>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          :lg="3"
          :md="3"
          :sm="6"
          :xs="2"
          v-for="(course, i) in visibleCourse"
          :key="i"
        >
          <v-card @click="viewDetail(course)" class="mx-auto my-8 top-course">
            <v-img
              width="325"
              height="150"
              :src="'https://placeimg.com/500/480/tech'"
            ></v-img>

            <v-card-title class="top-course-title">
              <span class="bold-font-size-content" tabindex="-1">{{
                course.title
              }}</span>
            </v-card-title>

            <v-card-text>
              <v-row align="center" class="mx-0">
                <v-rating
                  :value="course.ratingToltal"
                  color="amber"
                  dense
                  half-increments
                  readonly
                  size="14"
                ></v-rating>

                <div class="grey--text ms-4">
                  {{ course.ratingToltal }} (413)
                </div>
              </v-row>

              <div class="my-4 text-subtitle-1">
                <h4>
                  <span>{{ course.price | formatPrice }}</span>
                  <span>VNĐ</span>
                </h4>
              </div>
            </v-card-text>

            <v-divider class="mx-4"></v-divider>

            <v-card-actions>
              <v-btn
                @click="viewDetail(course)"
                color="#d79c62"
                class="white--text"
                >Xem</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="pagination-wrapper mb-6">
        <v-col :lg="12" :md="12" :sm="12">
          <jw-pagination
            class="d-flex justify-center pagination"
            :pageSize="4"
            :items="listSuggestedCourses"
            @changePage="onChangePage"
            :labels="customLabels"
          ></jw-pagination>
        </v-col>
      </v-row>
    </v-container>

    <v-container fluid class="testimonial-section">
      <v-carousel
        cycle
        height="400px"
        hide-delimiter-background
        show-arrows-on-hover
      >
        <v-carousel-item v-for="item in testimonialList" :key="item.id">
          <v-sheet color="#ffffff00" height="50%">
            <v-card class="mx-auto mt-10" max-width="30%">
              <v-card-text class="text-center">
                <p class="text--primary text-center">"{{ item.content }}"</p>

                <div class="text--primary">
                  <h3>{{ item.name }}</h3>
                  <br />
                  <i>{{ item.job }}</i>
                </div>
              </v-card-text>
            </v-card>
          </v-sheet>
        </v-carousel-item>
      </v-carousel>
    </v-container>
    <v-container class="category-section body-row mb-10">
      <p class="text-center mb-6 bold-font-size-title">Khám phá danh mục</p>
      <v-row>
        <v-col
          v-for="item in listCategories"
          :key="item.id"
          class="d-flex child-flex"
          cols="3"
        >
          <v-btn
            x-large
            color="#d79c62"
            mr-5
            elevation="2"
            class="white--text my-category-btn"
            :to="'/courses'"
          >
            <span>{{ item.name }}</span>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import categoryService from "../../services/categoryService/categoryService";
import courseService from "../../services/courseService/courseService";
import SliderService from "@/services/sliderService/slider";
import { UrlImg } from "@/constants/app.constant";
// import { UrlImg } from "@/constants/app.constant";
// import SliderService from "@/services/sliderService/slider";

// import Course from "../../models/courses"

const customLabels = {
  first: "<<",
  last: ">>",
  previous: "<",
  next: ">",
};
export default {
  data() {
    return {
      course: [],
      colors: [
        "indigo",
        "warning",
        "pink darken-2",
        "red lighten-1",
        "deep-purple accent-4",
      ],
      urlImg: "",
      customLabels,
      slides: [],
      slider: [],
      about_us: {
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim neque volutpat ac tincidunt vitae semper.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim neque volutpat ac tincidunt vitae semper",
      },

      testimonialList: [
        {
          id: 0,
          content:
            "Chất lượng dịch vụ vô cùng tốt, đội ngũ hỗ trợ khách hàng nhanh và hiệu quả.",
          name: "Tạ Trung Hiếu",
          job: "Lập trình viên",
        },
        {
          id: 1,
          content: "Chất lượng bài giảng tuyệt vời",
          name: "Lê Phong",
          job: "Nhân viên kinh doanh",
        },
        {
          id: 2,
          content: "Keep it up, guys!",
          name: "Nguyễn Nguyên",
          job: "CEO",
        },
        {
          id: 3,
          content: "Best experience",
          name: "John Doe",
          job: "Designer",
        },
      ],

      currentPage: 0,
      pageSize: 8,
      visibleCourse: [],
      listCategories: [],
      listSuggestedCourses: [],
      listTop4Course: [],
    };
  },
  components: {},
  mounted() {
    this.getImg();
    this.showSlider();
    this.getTop4Course();
    this.getListCourse();
    this.getAllCategory();
    // this.showSlider();
  },
  methods: {
    // getSlider() {
    //   this.urlImg = UrlImg.URL_IMAGE;
    // },
    // showSlider() {
    //   SliderService.showSliderHome(1).then((res) => {
    //     this.slides = res.data;

    //   });
    // },
    getImg() {
      this.urlImg = UrlImg.URL_IMAGE;
    },
    showSlider() {
      SliderService.show5SliderHome().then((res) => {
        this.slider = res.data;
        console.log(this.slider);
      });
    },
    checkCourse() {},
    getListCourse() {
      courseService.getAll().then((response) => {
        this.listSuggestedCourses = response.data;
      });
    },
    getTop4Course() {
      courseService.get4().then((res) => {
        this.listTop4Course = res.data;
      });
    },
    reserve() {
      this.loading = true;
    },

    onChangePage(visibleCourse) {
      console.log(visibleCourse);
      // update page of items
      this.visibleCourse = visibleCourse;
    },

    viewDetail(course) {
      this.$router.push({
        name: "CourseDetail",
        params: { course: course, id: course.id },
      });
    },

    getAllCategory() {
      categoryService.getAll().then((res) => {
        this.listCategories = res.data;
      });
    },

    // getUserNameById(id){
    //   accountService.getUserByID(id).then(res => {
    //     this.user = res.data;
    //   });

    // }
  },
  filters: {
    formatPrice(value) {
      let val = value / 1;
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
    shortenContent(value) {
      if (value != null || value != "") {
        if (value.length > 200) {
          value = value.substring(100, value.length) + "...";
          return value;
        }
      }
    },
  },
};
</script>

<style src="../../assets/scss/_home.scss" lang="scss" />
