<template>
  <v-app class="pa-6">
    <Header style="z-index:3" />
    <v-row style="z-index:0">
      <v-col :lg="2" :md="2" :sm="2">
        <Sidebar />
      </v-col>
      <v-col :lg="9" :md="9" :sm="9">
        <v-main class="content">
          <router-view />
        </v-main>
      </v-col>
    </v-row>
    <Footer style="z-index:3" />
  </v-app>
</template>

<script>
import Header from "../dashboard/header/header";
import Sidebar from "../dashboard/sidebar/sidebar";
import Footer from "../dashboard/footer/footer";

export default {
  name: "Layout",
  components: { Footer, Header, Sidebar }
};
</script>
