<template>
  <v-app>
    <Navbar style="z-index:3" />
    
    <router-view style="z-index:0" />

    <Footer style="z-index:3" />
  </v-app>
</template>
<script>
import Footer from "../common/footer/footer.vue";
import Navbar from "../common/navbar/navbar.vue";
export default {
  name: "LayoutCommon",
  components: {
    Footer,
    Navbar
  }
};
</script>

<style src="../../assets/scss/_layout.scss" lang="scss" />
