<template>
  <div style="background: #E9E9E9 ; padding-top:64px">
    <!-- <img :src="urlImg + slides[0].id" class="slider-style" /> -->
    <v-container class="category-section body-row mb-10">
      <p class="text-center mb-6 bold-font-size-title">Bài kiểm tra</p>
      <div class="text-center pb-5">
        <v-btn depressed color="primary" @click="startTest">Bắt đầu làm bài</v-btn>
        <div class="pt-6">
          <!-- <count-down /> -->
					<div>{{ display }}</div>
        </div>
      </div>
      <v-row
        v-for="item in listQuestion"
        :key="item.id"
        class="d-flex child-flex"
        cols="3"
        style="margin: 1rem"
      >
        <v-card class="mx-auto">
          <v-card-text style="margin-top: 20px; padding-left: 3rem">
            <div></div>
            <b style="font-size: 18px">Câu số {{ item.number }}:</b>
            <b style="font-size: 18px">{{ item.question }}</b>
          </v-card-text>
          <div class="text-center">
            <v-radio-group v-model="item.choose">
              <v-radio style="padding-left: 3rem" :label="item.option1" :value="'A'"></v-radio>
              <v-radio style="padding-left: 3rem" :label="item.option2" :value="'B'"></v-radio>
              <v-radio style="padding-left: 3rem" :label="item.option3" :value="'C'"></v-radio>
              <v-radio
                style="padding-left: 3rem"
                v-if="item.option4"
                :label="item.option4"
                :value="'D'"
              ></v-radio>
            </v-radio-group>
          </div>
        </v-card>
      </v-row>
      <div class="text-center pb-5 pt-6">
        <v-btn depressed color="primary" @click="submitTest" style="width: 10rem">Nộp bài</v-btn>
      </div>
    </v-container>
  </div>
</template>

<script>
// import ExamService from "@/services/examService/examService";
// import CountDown from "@/components/exam/CountDown";
export default {
  data() {
    return {
      listQuestion: [
        {
          id: 2,
          number: 1,
          question: "",
          option1: "The man is finishing his meal",
          option2: "The customer is waiting for a table",
          option3: "The waiter is setting the table",
          option4: "The woman is looking at the menu",
          correctanswer: "D"
        },
        {
          id: 3,
          number: 2,
          question: "",
          option1: "He’s handling a tool",
          option2: "He’s cutting grass",
          option3: "He’s building a bookshelf",
          option4: "He’s walking up to the roof",
          correctanswer: "A"
        },
        {
          id: 4,
          number: 3,
          question: "",
          option1: "She’s turning on the light",
          option2: "She’s holding up a booklet",
          option3: "She’s speaking to the audience",
          option4: "She’s rearranging the bookshelf",
          correctanswer: "B"
        },
        {
          id: 5,
          number: 4,
          question: "Why did you come by yesterday?",
          option1: "I came in early today",
          option2: "Because I had a question",
          option3: "By two o’clock at the earliest",
          option4: null,
          correctanswer: "B"
        },
        {
          id: 6,
          number: 5,
          question: "Would you like a hand with your luggage?",
          option1: "Yes, I can lend it to you",
          option2: "The handle is in the front",
          option3: "Yes, that would be nice, thanks",
          option4: null,
          correctanswer: "C"
        },
        {
          id: 7,
          number: 6,
          question: "Mr. Robertson runs our San Francisco office, doesn’t he?",
          option1: "No, it’s in Los Angeles",
          option2: "Yes, he is the boss there",
          option3: "He’s on a business trip",
          option4: null,
          correctanswer: "B"
        },
        {
          id: 8,
          number: 7,
          question: " Who approved the new schedule?",
          option1: "You will have to prove it",
          option2: "Sorry, I can’t change my schedule",
          option3: "I think Mr. Sutton did",
          option4: null,
          correctanswer: "C"
        },
        {
          id: 9,
          number: 8,
          question: "What did Mr. Chin say to you at the meeting?",
          option1: "He didn’t say much",
          option2: "Let’s go talk to him",
          option3: "Where is he now?",
          option4: null,
          correctanswer: "A"
        },
        {
          id: 10,
          number: 9,
          question: "Did you deliver the package in person?",
          option1: "No, I asked Rick to take it",
          option2: "At the post office",
          option3: "He is not the person",
          option4: null,
          correctanswer: "A"
        },
        {
          id: 11,
          number: 10,
          question: "The software is not running properly",
          option1: "You shouldn’t run too fast",
          option2: "Let me see if I can do anything about it",
          option3: "No, I am not going to wear it",
          option4: null,
          correctanswer: "B"
        },
        {
          id: 12,
          number: 11,
          question: "Where is the conference room?",
          option1: "It’s on the second floor",
          option2: "Let’s meet in a short while",
          option3: "We have plenty of room",
          option4: null,
          correctanswer: "A"
        },
        {
          id: 13,
          number: 12,
          question: "Who asked for a copy of the report?",
          option1: "Yes, I will ask him",
          option2: "Fifteen pages",
          option3: "Mr. Johnson did",
          option4: null,
          correctanswer: "C"
        },
        {
          id: 14,
          number: 13,
          question: "Would you like anything to drink?",
          option1: "Yes, I liked it very much",
          option2: "Some tea would be nice",
          option3: "No, I didn’t get anything",
          option4: null,
          correctanswer: "B"
        },
        {
          id: 15,
          number: 14,
          question: "Where does the bus for Toronto leave?",
          option1: "From gate",
          option2: "Yes, let’s go",
          option3: "In ten minutes",
          option4: null,
          correctanswer: "A"
        },
        {
          id: 16,
          number: 15,
          question: " How many pens does the man need?",
          option1: "100.0",
          option2: "200.0",
          option3: "300.0",
          option4: "400.0",
          correctanswer: "C"
        },
        {
          id: 17,
          number: 16,
          question: "Why does he need the pens?",
          option1: "To write a book",
          option2: "For the office employees",
          option3: "To make a large drawing",
          option4: "To give away at a conference",
          correctanswer: "D"
        },
        {
          id: 18,
          number: 17,
          question: "How much will he pay for the pens?",
          option1: "20.0",
          option2: "40.0",
          option3: "120.0",
          option4: "140.0",
          correctanswer: "C"
        },
        {
          id: 19,
          number: 18,
          question:
            "According to the woman, what is the problem with the cleaner?",
          option1: "Its shade is not right for her items",
          option2: "It is not solid enough to use",
          option3: "It is not convenient to apply",
          option4: "It is more expensive than other brands",
          correctanswer: "B"
        },
        {
          id: 20,
          number: 19,
          question: "How did the woman learn about the item?",
          option1: "From an advertisement",
          option2: "From a product catalog ",
          option3: "From some reviews",
          option4: "From her colleague",
          correctanswer: "C"
        },
        {
          id: 21,
          number: 20,
          question: "What does the woman say she would prefer?",
          option1: "To get the money back ",
          option2: "To change the color",
          option3: "To get a discounted item",
          option4: "To replace the item",
          correctanswer: "D"
        },
        {
          id: 22,
          number: 21,
          question: "Why is the man meeting with Ronda?",
          option1: "To transfer her to another department",
          option2: "To offer her a full-time position",
          option3: "To discuss a future project",
          option4: "To talk about her promotion",
          correctanswer: "B"
        },
        {
          id: 23,
          number: 22,
          question: "How long has Ronda been with the company?",
          option1: "One week",
          option2: "One month",
          option3: "Three months",
          option4: "Six months",
          correctanswer: "C"
        },
        {
          id: 24,
          number: 23,
          question: "In which department does Ronda work?",
          option1: "Marketing",
          option2: "Planning",
          option3: "Accounting",
          option4: "Personnel",
          correctanswer: "A"
        },
        {
          id: 25,
          number: 24,
          question: "Where will the woman go next?",
          option1: "To have lunch",
          option2: "To talk to Mr. Wright",
          option3: "To see the general manager",
          option4: "To her office",
          correctanswer: "A"
        },
        {
          id: 26,
          number: 25,
          question: "When will the woman hand in her report?",
          option1: "By lunch",
          option2: "By the end of the day",
          option3: "By tomorrow",
          option4: "By the end of the week",
          correctanswer: "B"
        },
        {
          id: 27,
          number: 26,
          question: "Who wants to see the report?",
          option1: "Wendy",
          option2: "The general manager",
          option3: "Mr. Wright’s secretary",
          option4: "The receptionist",
          correctanswer: "B"
        },
        {
          id: 28,
          number: 27,
          question: "In which department will Jason most likely work?",
          option1: "Personnel",
          option2: "Accounting",
          option3: "Computer",
          option4: "Sales",
          correctanswer: "D"
        },
        {
          id: 29,
          number: 28,
          question: "What impressed the man about Jason?",
          option1: "His job experience",
          option2: "His education background",
          option3: "His work ethic",
          option4: "His confidence",
          correctanswer: "A"
        },
        {
          id: 30,
          number: 29,
          question: "What are the speakers discussing",
          option1: "A person they have just interviewed",
          option2: "Company sales figures",
          option3: "A guy they both know in the sales department",
          option4: "The feedback they got from a recent survey",
          correctanswer: "A"
        },
        {
          id: 31,
          number: 30,
          question: "What does the woman recommend?",
          option1: "To talk to his co-workers ",
          option2: "To buy a new car",
          option3: "To walk to his new job",
          option4: "To move closer to work",
          correctanswer: "B"
        },
        {
          id: 32,
          number: 31,
          question: "What does the man say he is worried about?",
          option1: "The distance ",
          option2: "His co-workers",
          option3: "The work",
          option4: "The pay",
          correctanswer: "A"
        },
        {
          id: 33,
          number: 32,
          question: "What does the man say about his new job?",
          option1: "It is very difficult",
          option2: "His co-workers are friendly",
          option3: "It is very close to his place",
          option4: "He has to drive a lot",
          correctanswer: "B"
        },
        {
          id: 34,
          number: 33,
          question: "Where are they going?",
          option1: "To catch a bus",
          option2: "To a local college",
          option3: "To a client’s office",
          option4: "To pick up someone",
          correctanswer: "D"
        },
        {
          id: 35,
          number: 34,
          question: " Where is the conversation taking place?",
          option1: "In a bus",
          option2: "At a college",
          option3: "In a car",
          option4: "On the highway",
          correctanswer: "C"
        },
        {
          id: 36,
          number: 35,
          question: "What is the problem?",
          option1: "The highway is closed",
          option2: "They missed a bus",
          option3: "The road is congested ",
          option4: "They made a wrong turn",
          correctanswer: "A"
        },
        {
          id: 37,
          number: 36,
          question:
            "According to the speaker, how long will the special offer last?",
          option1: "One day",
          option2: "One weekend",
          option3: "One week",
          option4: "One month",
          correctanswer: "B"
        },
        {
          id: 38,
          number: 37,
          question: "How much is the special offer?",
          option1: "100.0",
          option2: "200.0",
          option3: "300.0",
          option4: "400.0",
          correctanswer: "B"
        },
        {
          id: 39,
          number: 38,
          question: "Who would be most interested in this advertisement?",
          option1: "People who want to travel overseas",
          option2: "Members who belong to the fitness club",
          option3: "Staff who work for the Travel Lodge Inn",
          option4: "Those who want to get away for the weekend",
          correctanswer: "D"
        },
        {
          id: 40,
          number: 39,
          question: " What does the speaker say she will do for the listeners?",
          option1: "Treat them to a meal",
          option2: "Buy them a giftIntroduce a new project",
          option3: null,
          option4: "Announce the new manger",
          correctanswer: "A"
        },
        {
          id: 41,
          number: 40,
          question: "Why is the speaker excited?",
          option1: "He will receive a cash reward",
          option2: "His team won the campaign",
          option3: "He just got promoted",
          option4: "He opened up a new restaurant",
          correctanswer: "B"
        },
        {
          id: 42,
          number: 41,
          question: " Who most likely is giving the talk?",
          option1: "A team manager",
          option2: "Sophie",
          option3: "A waiter",
          option4: "A sales representative",
          correctanswer: "A"
        },
        {
          id: 43,
          number: 42,
          question: "What does the speaker ask Mr. Lee to do?",
          option1: "Come into the office",
          option2: "Give him a call",
          option3: "Talk to the sales manager",
          option4: "Fax his resume",
          correctanswer: "B"
        },
        {
          id: 44,
          number: 43,
          question: "What is the main purpose of the call?",
          option1: "To set up an interview",
          option2: "To offer a position at the company",
          option3: "To seek information about a job",
          option4: "To respond to an earlier call",
          correctanswer: "A"
        },
        {
          id: 45,
          number: 44,
          question: " What position did Mr. Lee apply for?",
          option1: "Sales manager",
          option2: "Personnel manager",
          option3: "Accounting manager",
          option4: "Computer programming",
          correctanswer: "A"
        },
        {
          id: 46,
          number: 45,
          question: "When will the next report air?",
          option1: "In five minutes",
          option2: "In fifteen minutes",
          option3: "In thirty minutes",
          option4: "In sixty minutes",
          correctanswer: "C"
        },
        {
          id: 47,
          number: 46,
          question: " How many vehicles are involved in the accident?",
          option1: "Two",
          option2: "Three",
          option3: "Four",
          option4: "Five",
          correctanswer: "A"
        },
        {
          id: 48,
          number: 47,
          question: " In which part of the day is the report being aired?",
          option1: "Morning",
          option2: "Midday",
          option3: "Afternoon",
          option4: "Evening",
          correctanswer: "A"
        },
        {
          id: 49,
          number: 48,
          question:
            "When is the receiver asked to call if she cannot make it to the dentist office?",
          option1: "1 hour before her appointment",
          option2: "2 hours before her appointment",
          option3: "6 hours before her appointment",
          option4: "24 hours before her appointment",
          correctanswer: "B"
        },
        {
          id: 50,
          number: 49,
          question: " What does the speaker remind Ms. Kim to do?",
          option1: " To arrive for her appointment early",
          option2: "To pick up her appointment book",
          option3: "To clean the office by 10 o’clock",
          option4: "To call Helen later today",
          correctanswer: "A"
        },
        {
          id: 51,
          number: 50,
          question: "When is Mr. Kim’s appointment?",
          option1: "Wednesday",
          option2: "Thursday",
          option3: "Friday",
          option4: "Saturday",
          correctanswer: "B"
        },
        {
          id: 52,
          number: 51,
          question:
            "Employees who have not yet registered on the new company website must do so ------",
          option1: "nearly",
          option2: "immediately",
          option3: "precisely",
          option4: "significantly",
          correctanswer: "B"
        },
        {
          id: 53,
          number: 52,
          question:
            "Rosewater Medical Center employs healthcare -------- affiliated with Huron University.",
          option1: "professional",
          option2: "profession",
          option3: "professionals",
          option4: "professionally",
          correctanswer: "C"
        },
        {
          id: 54,
          number: 53,
          question:
            "Once you have detected a fatal virus on your computer, common sense -------- that you should have your hard drive reformatted by skilled professionals.",
          option1: "indicates",
          option2: "commands",
          option3: "notices ",
          option4: "distributes",
          correctanswer: "A"
        },
        {
          id: 55,
          number: 54,
          question:
            "The webpage for each course must be -------- before the students start their classes on January 7th.",
          option1: "total",
          option2: "absolute",
          option3: "ready",
          option4: "actual",
          correctanswer: "C"
        },
        {
          id: 56,
          number: 55,
          question:
            "The decline in sales was -------- due to the lack of innovation in the ideas of the marketing team.",
          option1: "probably",
          option2: "nearly",
          option3: "useful",
          option4: "safely",
          correctanswer: "A"
        },
        {
          id: 57,
          number: 56,
          question:
            "Ms. Fenwick not only composed the report -------- produced the visual aids which were so useful during then meeting.",
          option1: "but",
          option2: "however",
          option3: "also",
          option4: "and",
          correctanswer: "A"
        },
        {
          id: 58,
          number: 57,
          question:
            "In a television interview, the Traxton Ltd. CEO said that -------- of the merger with Bell Corporation would be announced soon.",
          option1: "detail",
          option2: "details",
          option3: "detailed",
          option4: "detailing",
          correctanswer: "B"
        },
        {
          id: 59,
          number: 58,
          question:
            "All future team meetings will be -------- in room 414 at noon on the first Wednesday of every month.",
          option1: "sustained",
          option2: "held",
          option3: "supported",
          option4: "meet",
          correctanswer: "B"
        },
        {
          id: 60,
          number: 59,
          question:
            "Andrew Hartwell is -------- regarded by his employees because of his dedication and experience.",
          option1: "highly",
          option2: "high",
          option3: "highest",
          option4: "higher",
          correctanswer: "A"
        },
        {
          id: 61,
          number: 60,
          question:
            "…...Mr. Fowler or Ms. Bloch will have to travel to London for the symposium on textile manufacturing.",
          option1: "Both",
          option2: "None",
          option3: "Each",
          option4: "Neither",
          correctanswer: "C"
        },
        {
          id: 62,
          number: 61,
          question:
            "The use of the -------- possible lighting in the laboratory has been beneficial to the research conducted by the botanists employed there.",
          option1: "bright",
          option2: "brightest",
          option3: "brightens",
          option4: "brightness",
          correctanswer: "B"
        },
        {
          id: 63,
          number: 62,
          question:
            "Any concerns regarding your natural gas appliances should be directed to the manufacturer-retailer -------- which you purchased the natural gas appliance",
          option1: "on",
          option2: "for",
          option3: "from",
          option4: "in",
          correctanswer: "C"
        },
        {
          id: 64,
          number: 63,
          question:
            "Unless specified --------, contractors will be responsible for obtaining all necessary safety certification and permits applicable to their scope of work.",
          option1: "therefore",
          option2: "consequently",
          option3: "otherwise",
          option4: "yet",
          correctanswer: "C"
        },
        {
          id: 65,
          number: 64,
          question:
            "The invoice -------- was received two days ago is inaccurate and a new one must be requested.",
          option1: "that",
          option2: "there ",
          option3: "any ",
          option4: "how",
          correctanswer: "A"
        },
        {
          id: 66,
          number: 65,
          question: "Choose the word or phrase that best completes the blanks:",
          option1: "just ",
          option2: "once",
          option3: "such",
          option4: "likely",
          correctanswer: "B"
        },
        {
          id: 67,
          number: 66,
          question: "",
          option1: "would have agreed",
          option2: "would agree",
          option3: "has agree",
          option4: " were agreeing",
          correctanswer: "B"
        },
        {
          id: 68,
          number: 67,
          question: "",
          option1: "In fact",
          option2: "In spite of",
          option3: "On the other hand",
          option4: "Even though",
          correctanswer: "A"
        },
        {
          id: 69,
          number: 68,
          question: "",
          option1: "magnified",
          option2: "enhanced",
          option3: "selected",
          option4: "select",
          correctanswer: "B"
        },
        {
          id: 70,
          number: 69,
          question: "",
          option1: "is caused",
          option2: "has been caused",
          option3: "will be caused",
          option4: "was caused",
          correctanswer: "D"
        },
        {
          id: 71,
          number: 70,
          question: "",
          option1: "failure",
          option2: "arrival",
          option3: "complaint",
          option4: "report",
          correctanswer: "A"
        },
        {
          id: 72,
          number: 71,
          question: "",
          option1: "collect",
          option2: "correct",
          option3: "use",
          option4: "talk",
          correctanswer: "A"
        },
        {
          id: 73,
          number: 72,
          question: "",
          option1: "environmentalist",
          option2: "environment",
          option3: "environmentally",
          option4: "environmental",
          correctanswer: "C"
        },
        {
          id: 74,
          number: 73,
          question: "",
          option1: "In spite of",
          option2: "Due to ",
          option3: "In regard to",
          option4: "In fact",
          correctanswer: "D"
        },
        {
          id: 75,
          number: 74,
          question: "What kind of service does NanoMac Technology provide?",
          option1: "It specializes in computer software.",
          option2: "It distributes office supplies.",
          option3: "It repairs electronic devices.",
          option4: "It gives financial advice.",
          correctanswer: "B"
        },
        {
          id: 76,
          number: 75,
          question:
            "Which of the following is TRUE about Brooks Brothers Marketing?",
          option1: "It has several offices in Sharonville.",
          option2: "It is an electronics store.",
          option3: "It constantly works with NanoMac.",
          option4: "It is a start-up company.",
          correctanswer: "C"
        },
        {
          id: 77,
          number: 76,
          question: "What is the purpose of the e-mail?",
          option1: "To improve the volume of the order",
          option2: "To ask about an upcoming sale",
          option3: "To request an address change",
          option4: "To respond to a service charge",
          correctanswer: "D"
        },
        {
          id: 78,
          number: 77,
          question: "What is the purpose of the e-mail?",
          option1: "To improve the volume of the order",
          option2: "To ask about an upcoming sale",
          option3: "To request an address change",
          option4: "To respond to a service charge",
          correctanswer: "D"
        },
        {
          id: 79,
          number: 78,
          question: "What happened at Brooks Brothers Marketing in July?",
          option1: "It merged with another marketing company.",
          option2: "The management structure was changed.",
          option3: "A new marketing strategy was introduced.",
          option4: "It relocated its headquarters to a different place.",
          correctanswer: "B"
        },
        {
          id: 80,
          number: 79,
          question: " What is the attachment referred to by Mr. Perez?",
          option1: "A meeting agenda",
          option2: "A printing schedule",
          option3: "A contract document ",
          option4: "Photographs of furniture",
          correctanswer: "D"
        },
        {
          id: 81,
          number: 80,
          question:
            "In the second e-mail, the word “concerns” in paragraph 1, line 2 is closest in meaning to",
          option1: "worries",
          option2: "suggestions",
          option3: "requests",
          option4: "involvements",
          correctanswer: "A"
        },
        {
          id: 82,
          number: 81,
          question: "Why did Mr. Perez send Ms. Appleby an e-mail?",
          option1: "To invite her to a meeting",
          option2: "To give his comments on the catalog",
          option3: "To request her to resend the document",
          option4: "To ask about the printing deadline",
          correctanswer: "C"
        },
        {
          id: 83,
          number: 82,
          question: " By when should the document be sent to ABC Printing?",
          option1: "1.July",
          option2: "20.July",
          option3: "30.July",
          option4: "30.August",
          correctanswer: "C"
        },
        {
          id: 84,
          number: 83,
          question: " What did Ms. Appleby request Mr. Perez to do?",
          option1: "To send her a notice regarding a marketing meeting",
          option2: "To review sample pages of a catalog",
          option3: "To put her photo in the new catalog",
          option4: "To fix her computer",
          correctanswer: "B"
        },
        {
          id: 85,
          number: 84,
          question:
            "In the review, the word “affordable” in paragraph 1, line 5 is closest in meaning to",
          option1: "influential",
          option2: "inexpensive ",
          option3: "kind",
          option4: "popular",
          correctanswer: "B"
        },
        {
          id: 86,
          number: 85,
          question:
            " Why did the review choose The Art Store as the best art supply store?",
          option1: "Convenient international shipping ",
          option2: "Excellent customer service",
          option3: "Low prices",
          option4: "Friendly staff and nice interior design",
          correctanswer: "C"
        },
        {
          id: 87,
          number: 86,
          question:
            "Which of the following is not included in the Coleman Watercolor Field Box Set?",
          option1: "Palette ",
          option2: "Sponge",
          option3: "Sketchbook",
          option4: "Watercolors",
          correctanswer: "C"
        },
        {
          id: 88,
          number: 87,
          question: "What can be inferred about The Art Store?",
          option1: "It has a good reputation as an art supply provider",
          option2: "It has recently moved to Baltimore.",
          option3: "It has recently moved to Baltimore.",
          option4: "It offers special sales through the website monthly",
          correctanswer: "A"
        },
        {
          id: 89,
          number: 88,
          question: "What is offered as a special discount item?",
          option1: "Two sketchbooks for the price of one",
          option2: "A gift with the purchase of a watercolor set.",
          option3: "50% discount on shipping for all purchases",
          option4: "A free coupon with the purchase of an easel",
          correctanswer: "B"
        },
        {
          id: 90,
          number: 89,
          question: "Where does Eli Finance plan to begin operations?",
          option1: "In Egypt",
          option2: "In Saudi Arabia",
          option3: "In Iran",
          option4: "In Qatar",
          correctanswer: "D"
        },
        {
          id: 91,
          number: 90,
          question: "What seem to be true about Eli Finance?",
          option1: "It has overtaken its rival company Euromoney",
          option2: "Its main office will relocate to the Middle East region",
          option3:
            "It received the award because of excellent business performance.",
          option4: "It was disappointed with the award given by Euromoney",
          correctanswer: "C"
        },
        {
          id: 92,
          number: 91,
          question: " What is the main point of this article?",
          option1:
            "An investigation is being conducted for a financial company’s fraud scandal.",
          option2: "A firm has been recognized for its remarkable growth.",
          option3:
            "UAE firms are gaining more influence in the international market.",
          option4: "Eli Finance announces the appointment of a new CEO",
          correctanswer: "B"
        },
        {
          id: 93,
          number: 92,
          question: "What does Mr. Lehman want to do?",
          option1: "Change the departure date from New York",
          option2: "Stop over in Amsterdam",
          option3: "Transfer in Barcelon",
          option4: "Upgrade his flight class",
          correctanswer: "C"
        },
        {
          id: 94,
          number: 93,
          question: " When does Mr. Lehman have to leave in the afternoon?",
          option1: "10.May",
          option2: "13.May",
          option3: "15.May",
          option4: "16.May",
          correctanswer: "A"
        },
        {
          id: 95,
          number: 94,
          question: "What is NOT allowed to be taken out of the library?",
          option1: "Books",
          option2: "Audio materials",
          option3: "Newspapers",
          option4: "Movies",
          correctanswer: "C"
        },
        {
          id: 96,
          number: 95,
          question: "What time is the library open till on Friday?",
          option1: "1:30 p.m.",
          option2: "5:00 p.m.",
          option3: "6:00 p.m.",
          option4: "8:30 p.m.",
          correctanswer: "C"
        },
        {
          id: 97,
          number: 96,
          question: "What is NOT mentioned about the library in the notice?",
          option1: "It serves certain types of customers only",
          option2: "It opens on weekends during certain months.",
          option3: "Its address has changed recently.",
          option4: "It is located next to a school",
          correctanswer: "A"
        },
        {
          id: 98,
          number: 97,
          question: "What seems to be true about Fundy Bay City?",
          option1: "It will soon provide train service to Everett",
          option2: "It provides free parking for monthly pass holders.",
          option3: "It provides free schedules for the ferry service.",
          option4:
            "Its business centers is only minutes from the ferry terminal",
          correctanswer: "D"
        },
        {
          id: 99,
          number: 98,
          question: "Who are the intended readers of this advertisement?",
          option1: "Ferry employees",
          option2: "Commuters to Fundy Bay City",
          option3: "Travel agents ",
          option4: "Blue Bridge shareholders",
          correctanswer: "B"
        },
        {
          id: 100,
          number: 99,
          question: " To which item was the discount applied?",
          option1: "A room charge",
          option2: "A telephone fee ",
          option3: "A room service charge",
          option4: "A dinner at the hotel restaurant",
          correctanswer: "D"
        },
        {
          id: 101,
          number: 100,
          question: "When was Ms. County’s check-out date?",
          option1: "3.Dec",
          option2: "5.Dec",
          option3: "7.Dec",
          option4: "9.Dec",
          correctanswer: "D"
        }
      ],
      radioGroup: 1,
      startTime: null,
      endTime: null, 
			timeTest: 60 * 5,
			display: '00:00',
			seconds: 0,
			minutes: 0,
    };
  },
  components: {
    // CountDown
  },
  mounted() {
    // this.showSlider();
    this.listQuestion.forEach(item => {
      item.choose = null;
    });
    setInterval(() => {}, 1000);
  },
  methods: {
    submitTest: function() {
      this.endTime = new Date();
      this.listQuestion.forEach(question => {
        if (question.choose === question.correctanswer) {
          question.isCorrect = true;
        } else {
          question.isCorrect = false;
        }
      });

      console.log("start", this.startTime);
      console.log("start", this.endTime);

      const time = parseInt(
        (Math.abs(this.endTime.getTime() - this.startTime.getTime()) /
          (1000 * 60)) %
          60
      );
      const seconds = parseInt(
        (Math.abs(this.endTime.getTime() - this.startTime.getTime()) / 1000) %
          60
      );
      console.log("time: ", time);
      console.log("seconds: ", seconds);
      // ExamService.submitResult({
      // 	idExam: this.$route.params.idExam,
      // 	courseId: this.$route.params.courseId,
      // 	userId: this.$route.params.userId,
      // })
    },
    startTest: function() {
      this.startTime = new Date();
			this.startTimer(this.timeTest)
    },
    startTimer: function(duration) {
      let timer = duration,
        minutes,
        seconds;
      setInterval(function() {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        this.display = minutes + ":" + seconds;

				console.log(this.display);

        if (--timer < 0) {
          timer = duration;
        }
      }, 1000);
    }
  },
  watch: {
    display: function(val) {
      console.log("val: ", val);
    }
  }
};
</script>
<style scoped>
</style>

<style src="../../assets/scss/_home.scss" lang="scss" />