<template>
  <v-container fluid class="about-us-section">
    <v-row class="title">
      <v-col :lg="12" :md="12" :sm="12">
        <h2 class="text-center">Về chúng tôi</h2>
        <hr />
      </v-col>
    </v-row>
    <v-row class="introduction">
      <v-col :lg="6" :md="6" :sm="1">
        <img src="" />
      </v-col>
      <v-col :lg="6" :md="6" :sm="12">
        <p class="text-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisis
          leo vel fringilla est ullamcorper eget nulla. Malesuada pellentesque
          elit eget gravida cum sociis natoque penatibus et. Venenatis tellus in
          metus vulputate eu scelerisque felis imperdiet proin. Id donec
          ultrices tincidunt arcu non. At risus viverra adipiscing at.
        </p>
        <p class="text-left">
          Diam maecenas ultricies mi eget mauris pharetra. In fermentum posuere
          urna nec tincidunt praesent semper feugiat. Purus faucibus ornare
          suspendisse sed nisi lacus sed viverra. Enim ut tellus elementum
          sagittis vitae et leo duis. Nunc sed blandit libero volutpat sed cras
          ornare. Penatibus et magnis dis parturient montes nascetur ridiculus.
        </p>
        <p class="text-left">
          Nulla malesuada pellentesque elit eget gravida. Ante metus dictum at
          tempor commodo ullamcorper. Sapien pellentesque habitant morbi
          tristique senectus et netus et. Velit aliquet sagittis id consectetur
          purus ut faucibus. Hendrerit gravida rutrum quisque non tellus orci ac
          auctor. Commodo nulla facilisi nullam vehicula ipsum a arcu. Venenatis
          tellus in metus vulputate eu. Porttitor rhoncus dolor purus non enim.
          Lectus arcu bibendum at varius vel. Eget arcu dictum varius duis at
          consectetur lorem donec massa. Felis donec et odio pellentesque. Est
          ultricies integer quis auctor elit sed. Lectus arcu bibendum at varius
          vel.
        </p>
        
      </v-col>
    </v-row>
    <v-container fluid class="dev-team">
      <v-row class="title">
        <v-col :lg="12" :md="12" :sm="12">
          <h2 class="text-center">Đội ngũ phát triển</h2>
        </v-col>
      </v-row>
      <v-carousel
        cycle
        height="400px"
        hide-delimiter-background
        show-arrows-on-hover
      >
        <v-carousel-item v-for="item in developing_team" :key="item.id">
          <v-sheet color="#ffffff00" height="50%">
            <v-card class="mx-auto mt-10" max-width="30%">
              <v-card-text class="text-center">
                <v-avatar color="#d79c62">
                  <span class="white--text text-h5">RTS</span>
                </v-avatar>
                <h3 class=" text--primary text-center">{{ item.name }}</h3>

                <div class="text--primary">
                  <i>{{ item.pos }}</i
                  ><br />
                  <p>"{{ item.quote }}"</p>
                </div>
              </v-card-text>
            </v-card>
          </v-sheet>
        </v-carousel-item>
      </v-carousel>
    </v-container>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      developing_team: [
        {
          id: 0,
          name: "Tạ Trung Hiếu",
          pos: "Frontend Developer",
          quote:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"
        },
        {
          id: 1,
          name: "Nguyễn Văn Cường",
          pos: "Frontend Developer",
          quote: "At risus viverra adipiscing at."
        },
        {
          id: 2,
          name: "Nguyễn Văn Sang",
          pos: "Backend Developer",
          quote:
            "Malesuada pellentesque elit eget gravida cum sociis natoque penatibus et"
        },
        {
          id: 3,
          name: "Nguyễn Dương Phong",
          pos: "Backend Developer",
          quote: "Penatibus et magnis dis parturient montes nascetur ridiculus"
        },
        {
          id: 4,
          name: "Nguyễn Xuân Tùng",
          pos: "QA - Tester",
          quote:
            " Sapien pellentesque habitant morbi tristique senectus et netus et."
        }
      ]
    };
  }
};
</script>

<style>
.about-us-section {
  margin-top: 5%;
  margin-bottom: 3%;
}
  

/* .row.title h2{
  margin-top: 30px;
} */
.introduction{
  margin-bottom: 3%;
}
.introduction img {
  width: 100%;
}

.container.dev-team {
  background-color: #d79c6275 !important;
  padding: -6px;
}
.dev-team .title {
  margin-top: 30px;
}
</style>