<template>
  <v-container fluid>
    <div class="tables-basic">
      <h1 class="page-title mt-10 mb-6"></h1>
      <v-row>
        <v-col cols="12">
          <v-card class="employee-list mb-1">
            <v-card-title class="pa-6 pb-3">
              <p>Danh sách yêu cầu đăng ký khóa học</p>
              <v-spacer></v-spacer>
              <v-select
                placeholder="Chọn danh mục"
                flat
                hide-details
                :items="list_category"
                item-text="name"
                item-value="id"
                v-model="course.categoryId"
              ></v-select>
              <v-spacer></v-spacer>

              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Tìm kiếm"
                clearable
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="listRequest"
              :search="search"
              class="elevation-1"
            >
              <!-- <template v-slot:[`item.course`]="{ item }">
                
                  {{ course[item.id].title }}
               </template
              >-->
              <template v-slot:item.price="{ item }">{{ item.price | formatPrice}} VNĐ</template>
              <template v-slot:item.status="{ item }">
                <v-chip :color="getColor(item.status)" dark>{{ item.status }}</v-chip>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-icon
                  :disabled="item.status == 'active'"
                  small
                  class="mr-2"
                  @click="detail(item)"
                >mdi-pencil</v-icon>
                <v-dialog
                  v-model="updateDialog"
                  :retain-focus="false"
                  persistent
                  max-width="1200px"
                >
                  <v-card>
                    <v-card-title>
                      <span class="text-h5">Kích hoạt yêu cầu</span>
                    </v-card-title>
                    <v-card-text>
                      <v-container>
                        <v-form ref="form" v-model="valid" lazy-validation>
                          <v-row>
                            <v-col cols="12">
                              <v-text-field readonly label="Tên khóa học" v-model="request.title"></v-text-field>
                            </v-col>
                            <v-col cols="12">
                              <v-text-field
                                readonly
                                label="Tên khách hàng"
                                v-model="request.fullName"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                              <v-text-field
                                readonly
                                label="Số điện thoại"
                                v-model="request.phoneNumber"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                              <v-text-field readonly label="Email" v-model="request.username"></v-text-field>
                            </v-col>
                            <v-col cols="12">
                              <v-text-field
                                readonly
                                label="Giá tiền"
                                v-model="request.price"
                              >{{ request.price | formatPrice}} VNĐ</v-text-field>
                            </v-col>
                            <v-col cols="12">
                              <v-select
                                :items="statusSwitch"
                                item-text="name"
                                item-value="value"
                                v-model="request.status"
                                label="Trạng thái"
                                dense
                              ></v-select>
                              <!-- <v-text-field readonly label="Kích hoạt" v-model="request.status"></v-text-field> -->
                            </v-col>
                          </v-row>
                        </v-form>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="green"
                        class="white--text"
                        @click="updateRequestStatus(item.user_id, item.course_id)"
                      >Cập nhật</v-btn>
                      <v-btn color="red" class="white--text" @click="closeDialog">Đóng</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-icon
                  small
                  :disabled="item.status == 'active'"
                  @click="openDeleteDialog()"
                >mdi-delete</v-icon>
                <v-dialog v-model="deleteDialog" width="500">
                  <v-card>
                    <v-card-title class="text-h5 grey lighten-2">Xác nhận xóa</v-card-title>

                    <v-card-text>Bạn có chắc chắn muốn xóa yêu cầu này ?</v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="red"
                        class="white--text"
                        @click="deleteCourseRegisterRequest(item.user_id, item.course_id)"
                      >Xóa</v-btn>
                      <v-btn
                        color="light-blue"
                        class="white--text"
                        @click="deleteDialog = false"
                      >Hủy</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>
<script>
import CategoryObj from "@/models/category";
import UserService from "@/services/informationUser/user";
import AdvisorService from "@/services/advisorService/advisorService";
import CategoryService from "@/services/categoryService/categoryService";
// import CourseService from "@/services/courseService/courseService";
import UserObj from "@/models/user";
export default {
  name: "Register Account",
  data() {
    return {
      role: "a",
      course: [],
      table: false,
      search: "",
      headers: [
        {
          align: "start",
          sortable: false
        },
        { text: "Khóa học", value: "title" },
        { text: "Họ và Tên", value: "fullName" },
        { text: "Giá tiền", value: "price" },
        { text: "Ngày đăng ký", value: "date" },
        { text: "Trạng thái", value: "status" },
        {
          text: "Hành động",
          value: "actions"
        }
      ],
      list_category: [].map((_, i) => `Item ${i}`),
      listRequest: [],
      keys: [],
      user_info: new UserObj(),
      updateDialog: false,
      deleteDialog: false,
      request: {},
      statusSwitch: [
        { name: "Kích hoạt", value: "active" },
        { name: "Đang chờ", value: "pending" }
      ],
      oldStatus: ""
    };
  },
  created() {
    this.showInfo();
  },
  mounted() {
    this.getRegisteredList();
    this.showCategory();
  },

  computed: {
    profile() {
      return this.$store.state.auth.user.id;
    }
  },
  methods: {
    showInfo() {
      var id = this.profile;
      UserService.showUserById(id).then(res => {
        this.user_info = res.data;
      });
    },

    //get category
    showCategory() {
      CategoryService.getAll().then(res => {
        for (let index = 0; index < res.data.length; index++) {
          var catergory = new CategoryObj();
          catergory.id = res.data[index].id;
          catergory.name = res.data[index].name;
          this.list_category.push(catergory);
        }
      });
    },

    updateRequestStatus(user_id, course_id) {
      // var user_id = this.request.user_id;
      // var course_id = this.request.course_id;
      console.log(user_id + "----" + course_id);
      var data={
        status:"active"
      }
      AdvisorService.updateCourseRegisterRequestStatus(user_id, course_id,data)
        .then(() => {
          this.updateDialog = false;
          this.getRegisteredList();
        })
        .catch(e => {
          console.log(e);
        });
    },

    getRegisteredList() {
      AdvisorService.getListRegisterCourseRequest().then(res => {
        this.listRequest = res.data;
      });
    },

    deleteCourseRegisterRequest(user_id, course_id) {
      console.log(user_id + "----" + course_id);
      AdvisorService.deleteCourseRegisterRequest(user_id, course_id)
        .then(() => {
          this.deleteDialog = false;
          this.getRegisteredList();
        })
        .catch(e => {
          console.log(e);
        });
    },

    detail(item) {
      this.updateDialog = true;
      this.request = item;
      this.oldStatus = item.status;
    },

    openDeleteDialog() {
      this.deleteDialog = true;
    },

    closeDialog() {
      this.request.status = this.oldStatus;
      this.updateDialog = false;
    },

    getColor(status) {
      if (status == "pending") return "orange";
      else if (status == "active") return "green";
    }
  },
  filters: {
    formatPrice(value) {
      let val = value / 1;
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
  }
};
</script>

<style src="../../../assets/scss/_basic.scss" lang="scss"></style>
