<template>
  <v-container fluid>
    <v-dialog :retain-focus="false" v-model="activeWarningDialog" width="500px">
      <v-card>
        <v-card-title class="text-h5">Khóa học chưa đủ điều kiện để kích hoạt.</v-card-title>
        <v-card-text>Khóa học cần có ít nhất 5 bài giảng để đạt đủ điều kiện kích hoạt khóa học</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" text @click="activeWarningDialog = false">Đóng</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog :retain-focus="false" v-model="activeSuccessDialog" width="500px">
      <v-card>
        <v-card-title class="text-h5">Khóa học kích hoạt thành công.</v-card-title>
        <v-card-text>Khóa học đã được kích hoạt thành công</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red"
            class="white--text"
            @click="activeSuccessDialog = false, updateDialog = false"
          >Đóng</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <div class="tables-basic">
      <h1 class="page-title mt-10 mb-6"></h1>
      <v-row>
        <v-col cols="12">
          <v-tabs v-model="tab">
            <v-tab>Khóa học chờ phê duyệt</v-tab>
            <v-tab>Khóa học đã được phê duyệt</v-tab>
          </v-tabs>
          <v-tabs-items v-model="tab">
            <v-tab-item>
              <v-card class="employee-list mb-1">
                <v-card-title class="pa-6 pb-3">
                  <p>Danh sách khóa học chờ phê duyệt</p>
                  <v-spacer></v-spacer>
                  <v-select
                    placeholder="Chọn danh mục"
                    flat
                    hide-details
                    :items="list_category"
                    item-text="name"
                    item-value="id"
                    v-model="course.categoryId"
                  ></v-select>
                  <v-spacer></v-spacer>

                  <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Tìm kiếm"
                    clearable
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>
                <v-data-table
                  :headers="headers"
                  :items="listPendingCourse"
                  :search="search"
                  class="elevation-1"
                >
                  <template v-slot:item.price="{ item }">{{ item.price | formatPrice}} VNĐ</template>
                  <template v-slot:item.status="{ item }">
                    <v-chip :color="getColor(item.status)" dark>{{ item.status }}</v-chip>
                  </template>
                  <template class="action-btn" v-slot:item.actions="{ item }">
                    <v-icon small @click="getCourseDetail(item.id)">mdi-pencil</v-icon>
                    <v-dialog
                      v-model="updateDialog"
                      :retain-focus="false"
                      persistent
                      max-width="1200px"
                    >
                      <v-card>
                        <v-card-title>
                          <span class="text-h5"></span>
                        </v-card-title>
                        <v-tabs v-model="dialogTab" color="#536dfe">
                          <v-tab>Thông tin khóa học</v-tab>
                          <v-tab>Danh sách bài giảng</v-tab>
                          <v-tab>Danh sách tài liệu học tập</v-tab>
                          <v-tab>Danh sách bài kiểm tra</v-tab>
                        </v-tabs>
                        <v-tabs-items v-model="dialogTab">
                          <v-tab-item>
                            <v-container class="tab-content">
                              <v-card>
                                <v-col cols="12">
                                  <v-text-field
                                    readonly
                                    label="Tên khóa học *"
                                    v-model="course.title"
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                  <v-textarea
                                    readonly
                                    label="Giới thiệu về khóa học"
                                    v-html="course.content"
                                  ></v-textarea>
                                </v-col>
                                <v-col cols="12">
                                  <v-text-field
                                    readonly
                                    label="Giảng viên"
                                    v-model="courseExpert.fullName"
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                  <v-text-field
                                    readonly
                                    label="Danh mục"
                                    v-model="course.categoryName"
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                  <v-select
                                    :items="statusSwitch"
                                    item-text="name"
                                    item-value="value"
                                    v-model="course.status"
                                    label="Trạng thái"
                                    dense
                                  ></v-select>
                                  <!-- <v-text-field readonly label="Kích hoạt" v-model="request.status"></v-text-field> -->
                                </v-col>
                              </v-card>
                            </v-container>
                          </v-tab-item>
                          <v-tab-item>
                            <v-data-table
                              :headers="lessonHeaders"
                              :items="list_lesson"
                              class="elevation-1 list-course-tbl"
                              :search="search"
                            >
                              <template v-slot:item.status="{ item }">
                                <v-chip :color="getColor(item.status)" dark>{{ item.status }}</v-chip>
                              </template>
                              <template class="action-btn" v-slot:item.actions="{ item }">
                                <v-icon small @click="getLessonDetail(item.id)">mdi-eye</v-icon>
                              </template>
                            </v-data-table>
                          </v-tab-item>
                          <v-tab-item>
                            <v-data-table
                              :headers="documentHeaders"
                              :items="listDocument"
                              class="elevation-1 list-course-tbl"
                              :search="search"
                            >
                              <template v-slot:item.status="{ item }">
                                <v-chip :color="getColor(item.status)" dark>{{ item.status }}</v-chip>
                              </template>
                              <template class="action-btn" v-slot:item.actions="{ item }">
                                <v-icon small @click="getLessonDetail(item.id)">mdi-eye</v-icon>
                              </template>
                            </v-data-table>
                          </v-tab-item>
                          <v-tab-item>
                            <v-data-table
                              :headers="quizHeaders"
                              :items="listQuiz"
                              class="elevation-1 list-course-tbl"
                              :search="search"
                            >
                              <template v-slot:item.status="{ item }">
                                <v-chip :color="getColor(item.status)" dark>{{ item.status }}</v-chip>
                              </template>
                              <template class="action-btn" v-slot:item.actions="{ item }">
                                <v-icon small @click="getLessonDetail(item.id)">mdi-eye</v-icon>
                              </template>
                            </v-data-table>
                          </v-tab-item>
                        </v-tabs-items>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            color="green"
                            class="white--text"
                            @click=" activeCourse(course.id)"
                          >Kích hoạt</v-btn>
                          <v-btn
                            color="red"
                            class="white--text"
                            @click="updateDialog = false, dialogTab = null"
                          >Đóng</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                    <v-icon small @click="console.log(item)">mdi-delete</v-icon>
                  </template>
                </v-data-table>
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card class="employee-list mb-1">
                <v-card-title class="pa-6 pb-3">
                  <p>Danh sách khóa học đã kích hoạt</p>
                  <v-spacer></v-spacer>
                  <v-select
                    placeholder="Chọn danh mục"
                    flat
                    hide-details
                    :items="list_category"
                    item-text="name"
                    item-value="id"
                    v-model="course.categoryId"
                  ></v-select>
                  <v-spacer></v-spacer>

                  <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Tìm kiếm"
                    clearable
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>
                <v-data-table
                  :headers="headers"
                  :items="listAcceptedCourse"
                  :search="search"
                  class="elevation-1"
                >
                  <template v-slot:item.price="{ item }">{{ item.price | formatPrice}} VNĐ</template>
                  <template v-slot:item.status="{ item }">
                    <v-chip :color="getColor(item.status)" dark>{{ item.status }}</v-chip>
                  </template>
                  <template class="action-btn" v-slot:item.actions="{ item }">
                    <v-icon small @click="getCourseDetail(item.id)">mdi-eye</v-icon>
                    <v-dialog
                      v-model="viewDialog"
                      :retain-focus="false"
                      persistent
                      max-width="1200px"
                    >
                      <v-card>
                        <v-card-title>
                          <span class="text-h5"></span>
                        </v-card-title>
                        <v-tabs v-model="dialogActivedTab" color="#536dfe">
                          <v-tab>Thông tin khóa học</v-tab>
                          <v-tab>Danh sách bài giảng</v-tab>
                          <v-tab>Danh sách tài liệu học tập</v-tab>
                          <v-tab>Danh sách bài kiểm tra</v-tab>
                          <v-tab>Lịch sử đăng kí khóa học</v-tab>
                        </v-tabs>
                        <v-tabs-items v-model="dialogActivedTab">
                          <v-tab-item>
                            <v-container class="tab-content">
                              <v-card>
                                <v-col cols="12">
                                  <v-text-field
                                    readonly
                                    label="Tên khóa học *"
                                    v-model="course.title"
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                  <v-textarea
                                    readonly
                                    label="Giới thiệu về khóa học"
                                    v-html="course.content"
                                  ></v-textarea>
                                </v-col>
                                <v-col cols="12">
                                  <v-text-field
                                    readonly
                                    label="Giảng viên"
                                    v-model="courseExpert.fullName"
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                  <v-text-field
                                    readonly
                                    label="Danh mục"
                                    v-model="course.categoryName"
                                  ></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                  <v-select
                                    readonly
                                    :items="statusSwitch"
                                    item-text="name"
                                    item-value="value"
                                    v-model="course.status"
                                    label="Trạng thái"
                                    dense
                                  ></v-select>
                                  <!-- <v-text-field readonly label="Kích hoạt" v-model="request.status"></v-text-field> -->
                                </v-col>
                              </v-card>
                            </v-container>
                          </v-tab-item>
                          <v-tab-item>
                            <v-data-table
                              :headers="lessonHeaders"
                              :items="list_lesson"
                              class="elevation-1 list-course-tbl"
                              :search="search"
                            >
                              <template v-slot:item.status="{ item }">
                                <v-chip :color="getColor(item.status)" dark>{{ item.status }}</v-chip>
                              </template>
                              <template class="action-btn" v-slot:item.actions="{ item }">
                                <v-icon small @click="getLessonDetail(item.id)">mdi-eye</v-icon>
                              </template>
                            </v-data-table>
                          </v-tab-item>
                          <v-tab-item>
                            <v-data-table
                              :headers="documentHeaders"
                              :items="listDocument"
                              class="elevation-1 list-course-tbl"
                              :search="search"
                            >
                              <template v-slot:item.status="{ item }">
                                <v-chip :color="getColor(item.status)" dark>{{ item.status }}</v-chip>
                              </template>
                              <template class="action-btn" v-slot:item.actions="{ item }">
                                <v-icon small @click="getLessonDetail(item.id)">mdi-eye</v-icon>
                              </template>
                            </v-data-table>
                          </v-tab-item>
                          <v-tab-item>
                            <v-data-table
                              :headers="quizHeaders"
                              :items="listQuiz"
                              class="elevation-1 list-course-tbl"
                              :search="search"
                            >
                              <template v-slot:item.status="{ item }">
                                <v-chip :color="getColor(item.status)" dark>{{ item.status }}</v-chip>
                              </template>
                              <template class="action-btn" v-slot:item.actions="{ item }">
                                <v-icon small @click="getLessonDetail(item.id)">mdi-eye</v-icon>
                              </template>
                            </v-data-table>
                          </v-tab-item>
                          <v-tab-item>
                            <v-data-table
                              :headers="requestHeaders"
                              :items="listRequest"
                              class="elevation-1 list-course-tbl"
                              :search="search"
                            >
                              <template v-slot:item.status="{ item }">
                                <v-chip :color="getColor(item.status)" dark>{{ item.status }}</v-chip>
                              </template>
                              <template class="action-btn" v-slot:item.actions="{ item }">
                                <v-icon small @click="getLessonDetail(item.id)">mdi-eye</v-icon>
                              </template>
                            </v-data-table>
                          </v-tab-item>
                        </v-tabs-items>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            color="red"
                            class="white--text"
                            @click="viewDialog = false, dialogActivedTab = null"
                          >Đóng</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </template>
                </v-data-table>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>
<script>
import CategoryObj from "@/models/category";
import UserService from "@/services/informationUser/user";
import AdvisorService from "@/services/advisorService/advisorService";
import ExamService from "@/services/examService/examService";
import LessonService from "@/services/lessonService/lessonService";
import CategoryService from "@/services/categoryService/categoryService";
import CourseService from "@/services/courseService/courseService";
import UserObj from "@/models/user";
export default {
  name: "Register Account",
  data() {
    return {
      headers: [
        {
          align: "start",
          sortable: false
        },
        { text: "Khóa học", value: "title" },
        { text: "Danh mục", value: "categoryName" },
        { text: "Giá tiền", value: "price" },
        { text: "Ngày tạo", value: "createDate" },
        { text: "Trạng thái", value: "status" },
        {
          text: "Hành động",
          value: "actions"
        }
      ],

      lessonHeaders: [
        {
          text: "Tiêu đề",
          value: "title"
        },

        {
          text: "Giới thiệu",
          value: "shortDescription"
        },

        { text: "Trạng thái", value: "status" },
        {
          text: "Hành động",
          value: "actions"
        }
      ],

      requestHeaders: [
        { text: "Khóa học", value: "title" },
        { text: "Họ và Tên", value: "fullName" },
        { text: "Giá tiền", value: "price" },
        { text: "Ngày đăng ký", value: "date" },
        { text: "Trạng thái", value: "status" },
        {
          text: "Hành động",
          value: "actions"
        }
      ],
      quizHeaders: [
        {
          text: "Tiêu đề",
          value: "title"
        },

        {
          text: "File câu hỏi",
          value: "question_name"
        },
        { text: "Ngày tạo", value: "created_date" },
        { text: "Trạng thái", value: "status" },
        {
          text: "Hành động",
          value: "actions"
        }
      ],
      documentHeaders: [
        {
          text: "Tiêu đề",
          value: "title"
        },

        {
          text: "Giới thiệu",
          value: "shortDescription"
        },

        { text: "Trạng thái", value: "status" },
        {
          text: "Hành động",
          value: "actions"
        }
      ],

      role: "a",
      course: {},
      courseExpert: new UserObj(),
      search: "",
      user_info: new UserObj(),
      list_category: [].map((_, i) => `Item ${i}`),
      listPendingCourse: [],
      listAcceptedCourse: [],
      list_lesson: [],
      listQuiz: [],
      listDocument: [],
      listRequest: [],
      updateDialog: false,
      viewDialog: false,
      deleteDialog: false,
      activeWarningDialog: false,
      activeSuccessDialog: false,
      request: {},
      statusSwitch: [
        { name: "Kích hoạt", value: "active" },
        { name: "Đang chờ", value: "pending" }
      ],
      oldStatus: "",
      tab: null,
      dialogTab: null,
      dialogActivedTab: null,
      lessonDetailDialog:false,
    };
  },
  created() {
    this.showInfo();
  },
  mounted() {
    this.showCategory();
    this.getListCourse();
  },

  computed: {
    profile() {
      return this.$store.state.auth.user.id;
    }
  },
  methods: {
    //get current user info
    showInfo() {
      var id = this.profile;
      UserService.showUserById(id).then(res => {
        this.user_info = res.data;
      });
    },

    getListCourse() {
      CourseService.getAll().then(res => {
        for (let index = 0; index < res.data.length; index++) {
          if (res.data[index].status == "active") {
            this.listAcceptedCourse.push(res.data[index]);
          } else if (res.data[index].status == "pending") {
            this.listPendingCourse.push(res.data[index]);
          }
        }
      });
    },
    getCourseDetail(courseID) {
      CourseService.getByID(courseID).then(res => {
        this.course = res.data;
        if (this.course.status == "active") {
          this.viewDialog = true;
        } else if (this.course.status == "pending") {
          this.updateDialog = true;
        }

        console.log(this.course);
        console.log(this.course.coreExpert);
        this.getCourseExpertInfor(this.course.coreExpert);
      });
      this.getListLessonsOfCourse(courseID);

      this.getListExamByCourseID(courseID);
      this.getRegisteredList(courseID);
    },
    getCourseExpertInfor(idExpert) {
      UserService.showUserById(idExpert).then(res => {
        this.courseExpert = res.data;
      });
    },
    getListLessonsOfCourse(courseId) {
      LessonService.getListLessonByCourseID(courseId).then(response => {
        this.list_lesson = response.data;
      });
    },

    getListExamByCourseID(courseId) {
      ExamService.getListExamByCourseID(courseId).then(response => {
        this.listQuiz = response.data;
      });
    },

    getRegisteredList(course_id) {
      AdvisorService.getListRegisterCourseRequest().then(res => {
        for (let index = 0; index < res.data.length; index++) {
          if (res.data[index].course_id == course_id) {
            this.listRequest.push(res.data[index]);
          }
        }
      });
    },

    //active course
    activeCourse(courseId) {
      if (this.list_lesson.length < 1) {
        this.activeWarningDialog = true;
      } else {
        var data = {
          status: "active"
        };
        AdvisorService.updateCourseStatus(courseId, data);
        this.activeSuccessDialog = true;
        this.refreshList();
        // this.activeSuccessDialog = true;
      }
    },

    //get category
    showCategory() {
      CategoryService.getAll().then(res => {
        for (let index = 0; index < res.data.length; index++) {
          var catergory = new CategoryObj();
          catergory.id = res.data[index].id;
          catergory.name = res.data[index].name;
          this.list_category.push(catergory);
        }
      });
    },
    refreshList() {
      this.listPendingCourse = [];
      this.listAcceptedCourse = [];
      this.getListCourse();
    },
    getColor(status) {
      if (status == "pending") return "orange";
      else if (status == "active") return "green";
    }
  },
  filters: {
    formatPrice(value) {
      let val = value / 1;
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
  }
};
</script>

<style src="../../../assets/scss/_basic.scss" lang="scss"></style>
