<template>
    <v-form>
       <v-text-field v-model="list.id" label="id"></v-text-field>
       <v-text-field v-model="list.fullName" label="Full Name"></v-text-field>
       <v-text-field v-model="list.username" label="User Name / Email"></v-text-field>
       <v-textarea v-model="list.description" label="Description"></v-textarea>
       <v-text-field v-model="list.phoneNumber" label="Phone Number"></v-text-field>
       <v-text-field v-model="list.user_course[0].status" label="Course"></v-text-field>
       <v-text-field v-model="list.votes" label="Vote"></v-text-field>

    </v-form>
</template>
<script>
import AccountService from "../../../services/accountService/accountService";
export default {
    data() {
        return{
            list: {
                id:"",
                fullName:"",
                username:"",
                description:"",
                phoneNumber:"",
                status:"",
                blog:"",
                user_course:"",
                votes:"",

            },
        }
    },
    methods: {
       detail(id){
            AccountService.getRegisteredByID(id).then((res)=>{
            this.list = res.data
        })
       }
    },
    mounted() {
        this.detail(this.$route.params.id)
    }
}
</script>