<template>
  <v-toolbar color="#fff" fix app width="100%" style="top: 0px; position: fixed;">
    <v-toolbar-title style="display: inline-flex;">
      <router-link to="/">
        <img id="logo" src="@/assets/img/logo.png" />
      </router-link>
      <form action="#" class="form-box">
        <input type="text" name="Search" placeholder="Tìm kiếm..." />
      </form>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down" mr-5>
      <v-btn v-for="item in menu" :key="item.icon" :to="item.url" flat
        ><span>{{ item.title }}</span></v-btn
      >
      <v-btn
        color="#191919"
        mr-5
        flat
        class="white--text"
        v-if="auth == ''"
        to="/login"
        >Đăng nhập</v-btn
      >
      <v-btn v-if="auth == 'login'">
        <v-avatar style="border 1px solid">
          <img style="position: absolute" :src="avatar + profile.id" />
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn class="mr-0" icon v-bind="attrs" v-on="on"> </v-btn>
            </template>
            <v-list>
              <v-btn to="/profile">
                Profile
              </v-btn>
              <v-btn
                color="#191919"
                mr-5
                flat
                class="white--text"
                v-if="auth == 'login'"
                @click="logOut"
                >Đăng xuất</v-btn
              >
            </v-list>
          </v-menu>
        </v-avatar>
      </v-btn>
    </v-toolbar-items>
    <v-menu class="hidden-md-and-up">
      <template v-slot:activator="{ on, attrs }">
        <v-btn icon v-bind="attrs" v-on="on">
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </template>

      <v-list>
        <v-list-tile v-for="(item, i) in menu" :key="i">
          <v-list-tile-content>
            <router-link :to="item.url">{{ item.title }}</router-link>
            <br />
            <span v-if="i < menu.length - 1">
              <hr />
            </span>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-toolbar>
</template>

<script>
import { UrlImg } from "@/constants/app.constant";
// import User from "../../../services/informationUser/user"
// import { UrlImg } from "@/constants/app.constant";
export default {
  methods: {
    loadFile() {
      return this.avatar;
    },
    logOut() {
      // window.localStorage.setItem('authenticated', false);
      window.localStorage.removeItem("user");
      this.$router.push("/login");
    },
    getImg() {
      this.avatar = UrlImg.URL_AVATAR_USER
      console.log(this.avatar)
    },
    expertDash() {
      window.localStorage.removeItem("user");
      this.$router.push("/changePassword");
    },
  },
  mounted() {
    this.getImg();
  },
  computed: {
    profile() {
      return this.$store.state.auth.user;
    },
    loggedIn() {
      return this.$router.state.auth.status.loggedIn;
    },
  },
  created() {
    if (this.profile) {
      this.auth = "login";
    }
  },
  data() {
    return {
      avatar: "",
      auth: "",
      menu: [
        { title: "Trang chủ", icon: "null", url: "/" },
        { title: "Khóa học", icon: "null", url: "/courses" },
        { title: "Blog", icon: "null", url: "/blog" },
        { title: "Về chúng tôi", icon: "null", url: "/aboutus" },
        { title: "Liên hệ", icon: "null", url: "/contact" },
      ],
    };
  },
};
</script>

<style>
.fix-top {
  position: fixed;
  top: 0px;
}
img#logo {
  width: 170px;
  margin-right: 20px;
  height: 90%;
}

form.form-box {
  margin-top: 20px;
}

.form-box input {
  color: #191919;
  background: #fff;
  border: 1px solid #b9b9b9;
  border-radius: 30px;
  padding: 4px 8px;
  width: 50%px;
  height: 40px;
  font-size: 15px;
}

.v-list.v-sheet.theme--light {
  display: grid;
  width: 200px;
  text-align: center;
}
.v-list v-list-tile {
  padding: 5px;
}
.v-list v-list-tile a {
  color: #191919;
  font-weight: bold;
  margin-bottom: 6px;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  text-decoration: none;
}

.v-list v-list-tile a:hover {
  color: #d79c62;
}
</style>
