<template>
  <v-container fluid>
    <div class="tables-basic">
      <h1 class="page-title mt-10 mb-6">ADMIN DASHBOARD</h1>
      <v-row no-gutters>
        <v-dialog v-model="open" persistent max-width="600px">
          <v-card>
            <v-card-title>
              <span class="text-h5">Thay đổi quyền</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      label="Name"
                      v-model="user.fullName"
                      disabled
                      required
                    ></v-text-field>
                    <v-text-field
                      label="Old Role"
                      v-model="user.roles"
                      disabled
                      required
                    ></v-text-field>
                    <v-select
                      label="New Role"
                      :items="roleId"
                      v-model="roleId"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="open = false">
                Close
              </v-btn>
              <v-btn color="blue darken-1" text @click="update">
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-col cols="12">
          <v-card class="employee-list mb-1">
            <v-card-title class="pa-6 pb-3">
              <p>List Account</p>
              <v-spacer></v-spacer>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                clearable
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="list"
              :sort-by="['full_name', 'username', 'name', 'roles']"
              :sort-desc="[false, true]"
              :search="search"
              multi-sort
              class="elevation-1"
            >
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="mr-2" @click="deleteUser(item.id)"
                  >mdi-delete</v-icon
                >
                <v-icon small class="mr-2" @click="detailRole(item.id)"
                  >mdi-pencil</v-icon
                >
                <v-icon small class="mr-2" @click="detail(item.id)">
                  mdi-view-stream
                </v-icon>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
        <v-col>
          <v-card v-show="table">
            <v-card-title>
              <p>Chi tiết tài khoản</p>
            </v-card-title>
            <v-col>
              <v-card-text class="pa-2" outlined tile>
                <p>ID: {{items.id}}</p>
                <p>Full Name: {{items.fullName}}</p>
                <p>Username / Email:  {{items.username}}</p>
                <p>Phone Number:  {{items.phoneNumber}}</p>
                <p>Description: {{items.description}}</p>
              </v-card-text>
            </v-col>
           
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
import AccountService from "@/services/accountService/accountService";
export default {
  name: "Tables",
  data() {
    return {
      search: "",
      table: false,
      open: false,
      user: [],
      roleId: [],
      roleName: [],
      items: [],
      headers: [
        {
          align: "start",
          sortable: false,
        },
        { text: "id", value: "id" },
        { text: "Full Name", value: "fullName" },
        {
          text: "User name",
          value: "username",
        },
        {
          text: "Role",
          value: "roles",
        },
        {
          text: "Actions",
          value: "actions",
        },
      ],
      list: [],
    };
  },
  mounted() {
    this.getListAccount();
    this.getRole();
  },
  methods: {
    refreshList() {
      this.getListAccount();
    },
    getRole() {
      AccountService.getRole().then((res) => {
        for (let index = 0; index < res.data.length; index++) {
          this.roleId[index] = res.data[index].id;
          this.roleName[index] = res.data[index].name;
        }
        console.log(this.roleId);
        console.log(this.roleName);
      });
    },
    deleteUser(id) {
      AccountService.deleteUser(id)
        .then(() => {
          confirm("Bạn chắc chắn muốn xóa chứ");
          location.reload();
        })
        .catch((e) => {
          console.log(e);
        });
    },
    detail(id) {
      AccountService.showUserByID(id).then((res) => {
        this.items = res.data[0];
        console.log(this.items)
      });
      this.table = true;
    },
    detailRole(id) {
      this.open = true;
      AccountService.showUserByID(id).then((res) => {
        this.user = res.data[0];
      });
    },
    getListAccount() {
      AccountService.getAll().then((response) => {
        this.list = response.data;
      });
    },
    update() {
      var data = {
        id_role: this.roleId,
        id_user: this.user.id,
      };
      AccountService.updateRole(data).then(() => {
        alert("Update thanh cong!");
        location.reload();
      });
    },
  },
};
</script>

<style src="@/assets/scss/_basic.scss" lang="scss"></style>
