<template>
  <v-container fluid>
    <div class="tables-basic">
      <h1 class="page-title mt-10 mb-6">Manage Blog</h1>
      <v-row>
        <v-col cols="12">
          <v-card class="employee-list mb-1">
            <v-card-title class="pa-6 pb-3">
              <p>List Blog</p>
              <v-spacer></v-spacer>
              <v-text-field
                append-icon="mdi-magnify"
                label="Search"
                clearable
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="list"
              :sort-by="['id']"
              :sort-desc="[false, true]"
              multi-sort
              class="elevation-1"
            >
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="mr-2" @click="detail">mdi-pencil</v-icon>
                <v-icon small @click="deleteB(item.id)">mdi-delete</v-icon>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>
<script>
import BlogService from "@/services/blogService/blogService";
export default {
  name: "Manage Register Account",
  data() {
    return {
      role: "a",
      headers: [
        {
          align: "start",
          sortable: false,
        },
        { text: "id", value: "id" },
        { text: "Created By", value: "createdBy" },
        { text: "Title", value: "title" },
        {
          text: "Actions",
          value: "actions",
        },
      ],
      list: [],
    };
  },
  mounted() {
    this.getAll();
  },
  methods: {
    getAll() {
      BlogService.getAll().then((res) => {
        this.list = res.data;
      });
    },
    deleteB(id) {
      BlogService.delete(id)
        .then(() => {
          confirm("Bạn chắc chắn muốn xóa chứ");
          location.reload();
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>

<style src="@/assets/scss/_basic.scss" lang="scss"></style>
