<template>
  <v-container fluid>
    <div class="tables-basic">
      <h1 class="page-title mt-10 mb-6">Quản lý Slide</h1>
      <v-row>
        <v-dialog v-model="dialog" persistent max-width="600px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark v-bind="attrs" v-on="on">
              Thêm mới
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">Thêm Slide mới</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-text-field label="Mô tả" v-model="notes">{{
                  list.notes
                }}</v-text-field>
                <v-text-field label="Tiêu đề" v-model="title">{{
                  list.title
                }}</v-text-field>
                <v-file-input
                  @input="fileChanges"
                  v-model="imgFile"
                  accept="image/png, image/jpeg, image/bmp"
                  placeholder="Chọn ảnh đại diện"
                  prepend-icon="mdi-camera"
                  label="image"
                ></v-file-input>
                <v-file-input
                  @input="fileChanges"
                  v-model="linkFile"
                  accept="image/png, image/jpeg, image/bmp"
                  prepend-icon="mdi-camera"
                  label="link"
                ></v-file-input>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="dialog = false">
                Close
              </v-btn>
              <v-btn color="blue darken-1" text @click="submit">
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <!-- Update Slider  -->
        <v-dialog v-model="dialogSlider" persistent max-width="1200px">
          <v-card>
            <v-card-title>
              <span class="text-h5">Cập nhật ảnh mới</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-text-field
                  v-model="list.title"
                  label="Tiêu đề"
                ></v-text-field>
                <v-text-field v-model="list.notes" label="mô tả"></v-text-field>
                <img :src="urlImg + list.id" width="1000px" height="300px" />
                <!-- <template v-if="preview">
                  <img :src="preview" class="img-fluid" />
                </template> -->
                <v-file-input
                  @input="fileChanges"
                  v-model="imgFileU"
                  accept="image/png, image/jpeg, image/bmp"
                  placeholder="Chọn ảnh đại diện"
                  prepend-icon="mdi-camera"
                  label="image"
                ></v-file-input>
                <v-file-input
                  @input="fileChanges"
                  v-model="linkFileU"
                  accept="image/png, image/jpeg, image/bmp"
                  prepend-icon="mdi-camera"
                  label="link"
                ></v-file-input>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="red"
                class="white--text"
                @click="dialogSlider = false"
              >
                Đóng
              </v-btn>
              <v-btn color="green" class="white--text" @click="submitSlider">
                Cập nhật
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
      <v-row>
        <v-col col="12"
          ><v-card class="employee-list mb-1">
            <v-card-title class="pa-6 pb-3">
              <p>Danh sách Slider</p>
              <v-spacer></v-spacer
              ><v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                clearable
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :search="search"
              :headers="headers"
              :items="slider"
              class="elevation-1"
              @click="show(slider.id)"
            >
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="mr-2" @click="show(item.id)"
                  >mdi-pencil</v-icon
                >
                <v-icon small @click="deleteSlider(item.id)">mdi-delete</v-icon>
              </template></v-data-table
            >
          </v-card></v-col
        >
      </v-row>
    </div>
  </v-container>
</template>
<script>
import SliderService from "@/services/sliderService/slider";
import { UrlImg } from "@/constants/app.constant";
import "@/assets/scss/_slider.scss";

import axios from "axios";
export default {
  name: "Manage Register Account",
  data() {
    return {
      search: "",
      preview: null,
      dialogSlider: false,
      imgFile: null,
      dialog: false,
      image: "",
      link: "",
      urlImg: "",
      list: [],
      slider: [],
      headers: [
        {
          text: "id",
          value: "id",
        },
        {
          text: "Title",
          value: "title",
        },
        {
          text: "Mô tả",
          value: "notes",
        },
        {
          text: "Link",
          value: "link",
        },
        {
          text: "Ảnh",
          value: "image",
        },
        {
          text: "Ngày tạo",
          value: "createdDate",
        },
        {
          text: "Ngày sửa",
          value: "modifiedDate",
        },
        {
          text: "Hành động",
          value: "actions",
        },
      ],
    };
  },
  mounted() {
    this.getImg();
    this.showSlider();
  },
  methods: {
    //Lấy link ảnh
    getImg() {
      this.urlImg = UrlImg.URL_IMAGE;
    },
    //Show slider
    showSlider() {
      SliderService.showSlider().then((res) => {
        this.slider = res.data;
        console.log(this.slider);
      });
    },
    //Show slider theo id
    show(id) {
      this.dialogSlider = true;
      SliderService.showSliderByID(id).then((res) => {
        this.list = res.data;
      });
    },
    //Submit Cập nhật Slider
    submitSlider() {
      let user = JSON.parse(localStorage.getItem("user"));
      let formData = new FormData();
      if (this.imgFile != null) {
        formData.append("image", this.imgFileU);
        formData.append("link", this.linkFileU);
        formData.append("notes", this.notes);
        formData.append("title", this.title);
      }
      axios
        .put(
          "http://localhost:8082/marketer/saveImageSliders/" + this.list.id,
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data",
              Authorization: `Bearer ${user.accessToken}`,
            },
          }
        )
        .then(() => {});
    },
    fileChanges(file) {
      this.image = URL.createObjectURL(file);
      this.link = URL.createObjectURL(file);
      this.$emit("imgChange", file);
    },
    // Submit slider mới
    submit() {
      let user = JSON.parse(localStorage.getItem("user"));
      let formData = new FormData();
      if ((this.imgFile != null) & (this.linkFile != null)) {
        formData.append("notes", this.notes);
        formData.append("title", this.title);
        formData.append("image", this.imgFile);
        formData.append("link", this.linkFile);
      }
      axios
        .post(`http://localhost:8082/marketer/addSliders`, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
            Authorization: `Bearer ${user.accessToken}`,
          },
        })
        .then(() => {
          location.reload();
        });
    },
    // Xóa slider
    deleteSlider(id) {
      let user = JSON.parse(localStorage.getItem("user"));
      if (confirm("Bạn chắc chắn muốn xóa chứ")) {
        var data = {
          status: "pending",
        };
        axios
          .put("http://localhost:8082/marketer/deleteSliders/" + id, data, {
            headers: {
              Authorization: `Bearer ${user.accessToken}`,
            },
          })
          .then(() => {
            location.reload();
          })
          .catch((e) => {
            console.log(e);
          });
      }
    },
  },
};
</script>
<style src="@/assets/scss/_basic.scss" lang="scss"></style>
