<template>
  <v-container v-if="this.course" class="course-register-section">
    <v-row>
      <v-col class="course-register-main-section" :lg="8" :md="6" :sm="12">
        <v-card class="customer-info">
          <v-card-title>
            <h2 class="customer-info-title">Thông tin học viên</h2>
          </v-card-title>
          <div class="customer-info-form">
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field v-model="user.fullName" :counter="20" label="Tên" readonly></v-text-field>

              <v-text-field v-model="user.username" label="E-mail" readonly></v-text-field>
              <v-text-field v-model="user.phoneNumber" label="Số điện thoại" readonly></v-text-field>
            </v-form>
          </div>
        </v-card>
      </v-col>
      <v-col class="buying-card" :lg="3" :md="6" :sm="12">
        <v-card>
          <v-img class="buy-card-thumbnail" src="https://placeimg.com/500/480/tech"></v-img>

          <v-card-title class="course-title">
            <h2>{{ course.title }}</h2>
          </v-card-title>
          <v-card-text class="course-subtitle-container">
            <div class="course-subtitle">
              <p>
                <span>Giảng viên:</span>
                <span>{{ expert.fullName }}</span>
              </p>
            </div>
            <div class="course-subtitle">
              <p>
                <span>{{ course.price | formatPrice }}</span>
                <span>VNĐ</span>
              </p>
            </div>
          </v-card-text>

          <v-card-actions>
            <v-dialog v-model="comfirmDialog" width="500">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  :disabled="!valid"
                  @click="openAcceptDialog"
                  color="#d79c62"
                  class="white--text"
                  v-bind="attrs"
                  v-on="on"
                >Xác nhận</v-btn>
              </template>

              <v-card>
                <v-card-title class="text-h5 grey lighten-2">Xác nhận đăng kí</v-card-title>

                <v-card-text>Vui lòng thanh toán đơn hàng trong vòng 72 giờ kể từ thời gian đăng kí. Sau thời gian trên, yêu cầu đăng kí của bạn sẽ bị hủy</v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-btn
                    color="green"
                    class="white--text"
                    text
                    @click="register()"
                  >Tôi đồng ý</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn color="red" class="white--text" text @click="cancelRegister()">Hủy</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import CourseService from "@/services/courseService/courseService";
import UserService from "@/services/accountService/accountService";
import Course from "@/models/courses";
import User from "@/models/user";

export default {
  props: ["id", "coreExpert"],
  data: () => ({
    course: new Course(),
    user: new User(),
    expert: new User(),
    valid: true,
    comfirmDialog: false
  }),

  computed: {
    profile() {
      return this.$store.state.auth.user.id;
    },
    roles() {
      return this.$store.state.auth.user.roles[0];
    }
  },

  mounted() {
    this.getCourseDetail(this.id);
    this.getExpertDetail(this.coreExpert);
    this.getCurrentUserInfo();
  },

  methods: {
    getCourseDetail(id) {
      CourseService.getByID(id).then(res => {
        this.course = res.data;
      });
    },

    getExpertDetail(id) {
      UserService.showInfo(id).then(res => {
        this.expert = res.data;
        console.log(this.expert);
      });
    },
    getCurrentUserInfo() {
      var id = this.profile;
      UserService.showInfo(id).then(res => {
        this.user = res.data;
      });
    },
    register() {
      var data = {
        userID: this.user.id,
        courseID: this.course.id
      };

      CourseService.courseRegister(data)
        .then(() => {
          this.comfirmDialog = false;
          this.$router.push({
            name: "CourseRegisterConfirm",
            params: { course: this.course, id: this.course.id }
          });
        })
        .catch(e => {
          console.log(e);
        });
    },
    openAcceptDialog() {
      this.comfirmDialog = true;
    },
    
    cancelRegister() {
      this.comfirmDialog = false;
      this.$router.push({
        name: "CourseDetail",
        params: { course: this.course, id: this.course.id }
      });
    }
  },
  filters: {
    formatPrice(value) {
      let val = value / 1;
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
  }
};
</script>

<style src="@/assets/scss/_course.scss" lang="scss" />
