<template>
  <v-container v-if="this.course" class="course-detail-section body-row" style="padding-top:70px">
    <v-dialog :retain-focus="false" v-model="confirm" width="500px">
      <v-card>
        <v-card-title class="text-h5">Bạn cần đăng nhập để có thể tiếp tục mua khóa học.</v-card-title>
        <v-card-text>Nếu chưa có tài khoản vui lòng đăng ký tại đây</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="confirm = false">Không tiếp tục</v-btn>
          <v-btn color="green darken-1" text to="/login" @click="confirm = false">Đồng ý</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog :retain-focus="false" v-model="pendingDialog" width="500px">
      <v-card>
        <v-card-title class="text-h5">Khóa học đã được đăng kí.</v-card-title>
        <v-card-text>Bạn đã đăng kí khóa học này. Yêu cầu của bạn trong hàng chờ kích hoạt</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="red darken-1" text @click="pendingDialog = false">Đóng</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog :retain-focus="false" v-model="learnDialog" width="500px">
      <v-card>
        <v-card-title class="text-h5">Khóa học đã được đăng kí.</v-card-title>
        <v-card-text>Khóa học của bạn đã được đăng kí thành công. Bấm vào đây để chuyển về trang học tập</v-card-text>
        <v-card-actions>
          <v-btn color="green darken-1" text @click="learnDialog = false">Học</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="learnDialog = false">Đóng</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row>
      <v-col class="course-detail-main-section" :lg="8" :md="8" :sm="12">
        <iframe
          width="760"
          height="450"
          src="https://www.youtube.com/embed/IGWjAI-SvQs"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <br />
        <span class="course-detail-title bold-font-size-title">
          {{
          course.title
          }}
        </span>
        <v-tabs v-model="tab" color="#EB9642">
          <v-tab>Thông tin khóa học</v-tab>
          <v-tab>Bài học</v-tab>
          <v-tab>Tài liệu học tập</v-tab>
          <v-tab>Thông tin giảng viên</v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item>
            <v-container fluid class="tab-content">
              <v-card>
                <v-card-title>Giới thiệu về khóa học</v-card-title>
                <v-card-text>
                  <p :inner-html.prop="course.content"></p>
                </v-card-text>
              </v-card>
            </v-container>
          </v-tab-item>
          <v-tab-item>
            <v-container fluid class="tab-content">
              <v-list v-if="listLessons.length > 0" class="lesson-list">
                <v-col v-for="(item, i) in listLessons" :key="i" cols="12">
                  <v-card color="#fff" dark>
                    <div class="d-flex flex-no-wrap justify-space-between">
                      <v-card-title class="text-h5 black--text" v-text="item.title"></v-card-title>

                      <v-icon class="lesson-icon" large color="grey">mdi-lock</v-icon>
                      <!-- <v-card-actions>
                        <v-dialog v-model="dialog"  :retain-focus="false" width="600">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              color="#d79c62"
                              v-bind="attrs"
                              v-on="on"
                              @click="getLessonDetail(item.id)"
                            >Xem</v-btn>
                          </template>

                          <v-card v-model="lesson">
                            <v-card-title class="text-h5 grey lighten-2">
                              {{
                              lesson.title
                              }}
                            </v-card-title>

                            <v-card-text>
                              <p :inner-html.prop="lesson.content"></p>
                            </v-card-text>

                            <v-divider></v-divider>

                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn color="#d79c62" text @click="dialog = false">Đóng</v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                      </v-card-actions>-->
                    </div>
                  </v-card>
                </v-col>
              </v-list>
              <h3 v-else>Nội dung chưa được cập nhật</h3>
            </v-container>
          </v-tab-item>
          <v-tab-item>
            <v-container fluid class="tab-content">
              <v-list class="lesson-list">
                <v-col v-for="(item, i) in documents" :key="i" cols="12">
                  <v-card color="#fff" dark>
                    <div>
                      <div class="d-flex flex-no-wrap justify-space-between">
                        <v-card-title class="text-h5 black--text" v-text="item.title"></v-card-title>

                        <v-card-actions>
                          <a :href="item.src">Xem</a>
                        </v-card-actions>
                      </div>
                    </div>
                  </v-card>
                </v-col>
              </v-list>
            </v-container>
          </v-tab-item>
          <v-tab-item>
            <v-container fluid class="tab-content">
              <v-row id="name-img-expert">
                <v-col :lg="2" :md="2" :sm="1">
                  <img
                    id="expert-img"
                    :src="
                      'https://images.unsplash.com/photo-1540569014015-19a7be504e3a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80'
                    "
                  />
                </v-col>
                <v-col :lg="5" :md="5" :sm="1">
                  <h3>{{current_user.fullName}}</h3>
                </v-col>
              </v-row>
              <h5>Mô tả bản thân</h5>
              <hr />
              <p>DEMO</p>
            </v-container>
          </v-tab-item>
        </v-tabs-items>
      </v-col>
      <v-col class="buying-card" :lg="3" :md="3" :sm="12">
        <v-card v-model="course">
          <v-img class="buy-card-thumbnail" src="https://placeimg.com/500/480/tech"></v-img>

          <v-card-title>
            <span>{{ course.title }}</span>
          </v-card-title>
          <v-card-text>
            <!-- <div class="my-4 text-subtitle-1">
              <p>
                <span>Giảng viên:</span>
                <span>{{ user.fullName }}</span>
              </p>
            </div>-->
            <div class="my-4 text-subtitle-1">
              <p>
                <span>{{ course.price | formatPrice }}</span>
                <span>VNĐ</span>
              </p>
            </div>
          </v-card-text>
          <v-card-actions>
            <v-btn @click="buyCourse(course)" color="#d79c62" class="white--text">Mua</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import CourseService from "@/services/courseService/courseService";
// import UserService from "@/services/accountService/accountService";
// import LessonService from "@/services/lessonService/lessonService";
import UserService from "@/services/informationUser/user";
import Course from "@/models/courses";
import User from "@/models/user";
import Lesson from "@/models/lesson";

export default {
  props: ["id"],

  data() {
    return {
      confirm: false,
      dialog: false,
      pendingDialog: false,
      learnDialog: false,
      tab: null,
      selectedPost: -1,
      course: new Course(),
      expert_info: new User(),
      current_user: new User(),
      listLessons: [],
      lesson: new Lesson(),
      registeredRequest: [],

      documents: [
        {
          color: "blue",
          icon: "mdi-file-pdf",
          title: "Lập trình Python cơ bản - Part 1",
          src: "http://www.africau.edu/images/default/sample.pdf"
        },
        {
          color: "blue",
          icon: "mdi-file-pdf",
          title: "Lập trình Python cơ bản - Part 2",
          src: "http://www.africau.edu/images/default/sample.pdf"
        }
      ]
    };
  },

  mounted() {
    this.getCourseDetail();
    this.getLessonsByCourseID();
    this.getCurrentUserInfo();
    this.checkRegisteredCourse();
  },

  methods: {
    getCourseDetail() {
      var id = this.id;
      CourseService.getByID(id).then(res => {
        this.course = res.data;
      });
    },
    getExpertDetail() {
      var expertID = this.expert;
      UserService.showInfo(expertID).then(res => {
        // console.log(res.data);
        this.expert_info = res.data[0];
      });
    },
    getLessonsByCourseID() {
      var idCourse = this.id;
      CourseService.getListLessonByCourseIDForShowing(idCourse).then(res => {
        this.listLessons = res.data;
        // console.log(this.listLessons);
      });
    },
    checkRegisteredCourse() {
      var userId = this.profile;
      var idCourse = this.id;

      CourseService.checkRegisteredCourse(userId, idCourse).then(res => {
        this.registeredRequest = res.data;
        // console.log(this.registeredRequest);
      });
    },
    buyCourse(course) {
      var userId = this.profile;
      console.log(userId);
      if (userId != null) {
        //  && this.current_user.status == 'active'
        if (this.registeredRequest.length == 0) {
          this.$router.push({
            name: "CourseRegister",
            params: {
              course: course,
              id: course.id
            }
          });
        } else if (this.registeredRequest.length == 1) {
          if (this.registeredRequest[0].status == "pending") {
            this.pendingDialog = true;
          } else if (this.registeredRequest[0].status == "active") {
            this.learnDialog = true;
          }
        }
      } else {
        this.confirm = true;
      }
    },

    //show current user info
    getCurrentUserInfo() {
      var id = this.profile;
      UserService.showUserById(id).then(res => {
        this.current_user = res.data;
        console.log("user info");
        console.log(res.data);
        console.log(id);
      });
    }
  },
  filters: {
    formatPrice(value) {
      let val = value / 1;
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
  },
  computed: {
    profile() {
      var userId;
      if (this.$store.state.auth.user != null) {
        userId = this.$store.state.auth.user.id;
      } else {
        userId = null;
      }
      return userId;
    },

    expert() {
      var expertId;
      expertId = this.course.coreExpert;
      return expertId;
    }
  }
};
</script>

<style src="../../../assets/scss/_course.scss" lang="scss" />
