<template>
  <v-container class="course-register-confirm-section">
    <v-row>
      <v-col class="course-register-confirm-main-section" :lg="12" :md="12" :sm="12">
        <v-card class="customer-info" v-model="course">
          <v-card-title class="customer-info-title">
            <h4>
              Bạn đã đăng kí thành công khóa học "{{ course.title }}" với giá
              {{ course.price |formatPrice }} VNĐ
            </h4>
          </v-card-title>
          <v-card-subtitle>
            <h6 style="text-align:center">
              Vui lòng chuyển khoản đế số tài khoản dưới đây để hoàn thành thanh
              toán
            </h6>
          </v-card-subtitle>
          <v-card class="payment-info">
            <v-card-text>
              <h5>Số tài khoản: 45210000371986</h5>
              <h5>Ngân hàng BIDV - Chi nhánh Hà Nội</h5>
              <h5>Chủ tài khoản: Tạ Trung Hiếu</h5>
            </v-card-text>
          </v-card>
          <v-card-actions>
            <v-btn id="to-homepage-btn" :to="'/'" text color="primary">Về trang chủ</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import CourseService from "@/services/courseService/courseService";
import Course from "@/models/courses";
export default {
  props: ["id"],
  data() {
    return {
      course: new Course()
    };
  },
  mounted() {
    this.getCourseDetail(this.id);
  },

  filters: {
    formatPrice(value) {
      let val = value / 1;
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
  },

  methods: {
    getCourseDetail(id) {
      CourseService.getByID(id).then(res => {
        this.course = res.data;
      });
    }
  }
};
</script>

<style src="../../../assets/scss/_course.scss" lang="scss" />