<template>
  <v-container fluid class="course-list-section">
    <v-row>
      <v-col class="side-bar" :lg="1" :md="1" :sm="1">
        <v-navigation-drawer id="filter-menu" class="sidebar-content" absolute permanent left dark>
          <v-list>
            <v-list-group
              v-for="(sidebarItem, i) in sidebarItems"
              :key="i"
              v-model="sidebarItem.active"
              no-action
            >
              <template v-slot:activator>
                <v-list-item-content>
                  <v-list-item-title class="menu-group-title" v-text="sidebarItem.title"></v-list-item-title>
                </v-list-item-content>
              </template>
              <v-list-item-group ripple>
                <v-radio-group class="radio-category" v-model="sidebarItem.model" mandatory>
                  <v-radio
                    color="#eb9642"
                    v-for="subItem in sidebarItem.items"
                    :key="subItem.id"
                    :label="subItem.name"
                    :value="subItem.id"
                  ></v-radio>
                </v-radio-group>
              </v-list-item-group>
            </v-list-group>
          </v-list>
        </v-navigation-drawer>
      </v-col>

      <v-col class="main-section" :lg="9" :md="9" :sm="9">
        <v-row>
          <v-col :lg="3" :md="6" :sm="12" :xs="12" v-for="(course, i) in visibleCourse" :key="i">
            <router-link
              style="textDecoration: none"
              :to="{
                name: 'CourseDetail',
                params: {
                  course: course,
                  id: course.id,
                  coreExpert: course.core_Expert,
                },
              }"
              tabindex="-1"
            >
              <v-card class="mx-auto my-8 course">
                <v-img height="150" src="https://placeimg.com/500/480/tech"></v-img>
                <v-card-title class="course-title">
                  <span class="bold-font-size-content">{{ course.title }}</span>
                </v-card-title>
                <v-card-text class="course-text course-card-text">
                  <div class="line-content my-4 text-subtitle-1">
                    <p :inner-html.prop="course.sortDescription | shortenContent"></p>
                  </div>
                  <div class="my-4 text-subtitle-1">
                    <span>
                      <p>
                        <span>{{ course.price | formatPrice }}</span>
                        <span>VNĐ</span>
                      </p>
                    </span>
                    <v-chip>{{course.categoryName}}</v-chip>
                  </div>
                  <v-row align="center" class="mx-0">
                    <v-rating
                      :value="course.ratingToltal"
                      color="amber"
                      dense
                      half-increments
                      readonly
                      size="14"
                    ></v-rating>
                    <div class="grey--text ms-4">{{ course.rating }} (413)</div>
                  </v-row>
                </v-card-text>

                <v-divider class="mx-4"></v-divider>

                <v-card-actions>
                  <v-btn @click="viewDetail(course)" color="#d79c62" class="white--text">Xem</v-btn>
                </v-card-actions>
              </v-card>
            </router-link>
          </v-col>
        </v-row>
        <v-row class="pagination-wrapper mb-6">
          <v-col :lg="12" :md="12" :sm="12">
            <jw-pagination
              class="d-flex justify-center pagination"
              :pageSize="9"
              :items="filteredCourse"
              @changePage="onChangePage"
              :labels="customLabels"
            ></jw-pagination>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import CourseService from "../../../services/courseService/courseService";
// import Course from "../../../../src/models/courses";
// import Loader from "@/components/loader/loader";
import categoryService from "../../../services/categoryService/categoryService";

const customLabels = {
  first: "<<",
  last: ">>",
  previous: "<",
  next: ">"
};

export default {
  data() {
    return {
      // course: new Course(),
      listCourses: [],
      selectedCategory: null,
      selectedRating: -1,
      selectedOrder: -1,

      sidebarItems: [
        {
          title: "Danh mục",
          active: true,
          items: [{ id: "ALL", name: "Tất cả" }],
          model: this.selectedCategory
        },
        {
          title: "Đánh giá",
          active: false,
          items: [
            { id: 0, name: "Từ 4 sao trở lên" },
            { id: 1, name: "Từ 3.5 sao đến 4 sao" },
            { id: 2, name: "Từ 3 sao đến 3.5 sao" },
            { id: 3, name: "Từ 3 sao trở xuống" }
          ],
          model: this.selectedRating
        },
        {
          title: "Sắp sếp",
          active: false,
          items: [
            { id: 0, name: "Giá tăng dần" },
            { id: 1, name: "Giá giảm dần" },
            { id: 2, name: "Alphabet" }
          ],
          model: this.selectedOrder
        }
      ],
      currentPage: 0,
      pageSize: 8,
      visibleCourse: [],
      customLabels
    };
  },
  mounted() {
    this.getAllCategory();
    this.getListCourse();
  },

  computed: {
    filteredCourse: function() {
      var category = this.sidebarItems[0].model;
      console.log("Selected category: " + category);
      if (category === "ALL") {
        return this.listCourses;
      } else {
        return this.listCourses.filter(function(course) {
          console.log(course);
          return course.categoryId === category;
        });
      }
    }
  },

  methods: {
    refeshList() {
      this.getListCourse();
    },
    getListCourse() {
      CourseService.getAll().then(res => {
        for (let index = 0; index < res.data.length; index++) {
          if (res.data[index].status == "active") {
            this.listCourses.push(res.data[index]);
          }
        }
      });
    },
    // getListCourse() {
    //   CourseService.getAll().then((response) => {
    //     this.listCourses = response.data;
    //   });
    // },
    onChangePage(visibleCourse) {
      this.visibleCourse = visibleCourse;
    },

    viewDetail(course) {
      this.$router.push({
        name: "CourseDetail",
        params: {
          course: course,
          id: course.id,
          coreExpert: course.coreExpert
        }
      });
    },
    getAllCategory() {
      var temp = [];
      categoryService.getAll().then(res => {
        temp = res.data;
        for (let index = 0; index < temp.length; index++) {
          this.sidebarItems[0].items.push(temp[index]);
        }
      });
    }
  },
  filters: {
    formatPrice(value) {
      let val = value / 1;
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },

    shortenContent(value) {
      if (value != null || value != "") {
        if (value.length >= 50) {
          value = value.substring(0, 50) + "...";
          return value;
        }
      }
      console.log(value)
    },
  },
};
</script>

<style src="../../../assets/scss/_course.scss" lang="scss" />
