<template>
  <v-container fluid>
    <!-- SLide -->

    <div class="tables-basic">
      <h1 class="page-title mt-10 mb-6">Manage Slide</h1>
      <v-row>
        <v-col cols="12">
          <v-card class="employee-list mb-1">
            <v-card-title class="pa-6 pb-3">
              <p>List Slide</p>
              <v-spacer></v-spacer>
              <v-text-field
                append-icon="mdi-magnify"
                label="Search"
                clearable
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
          </v-card>
        </v-col>
      </v-row>
    </div>
    <!-- Category -->

    <div class="tables-basic">
      <h1 class="page-title mt-10 mb-6">Manage Category</h1>
      <v-row>
        <v-col cols="12">
          <v-card class="employee-list mb-1">
            <v-card-title class="pa-6 pb-3">
              <p>List Category</p>
              <v-spacer></v-spacer>
              <v-text-field
                append-icon="mdi-magnify"
                label="Search"
                clearable
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headerCate"
              :items="list"
              :sort-by="['id']"
              :sort-desc="[false, true]"
              multi-sort
              class="elevation-1"
            >
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="mr-2" @click="detail(item.id)"
                  >mdi-pencil</v-icon
                >
                <v-icon small @click="deleteCourse(item.id)">mdi-delete</v-icon>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </div>
    <!-- Blog -->
    <div class="tables-basic">
      <h1 class="page-title mt-10 mb-6">Manage Blog</h1>
      <v-row>
        <v-col cols="12">
          <v-card class="employee-list mb-1">
            <v-card-title class="pa-6 pb-3">
              <p>List Blog</p>
              <v-spacer></v-spacer>
              <v-text-field
                append-icon="mdi-magnify"
                label="Search"
                clearable
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="list"
              :sort-by="['id']"
              :sort-desc="[false, true]"
              multi-sort
              class="elevation-1"
            >
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="mr-2" @click="detail">mdi-pencil</v-icon>
                <v-icon small @click="deleteCourse(item.id)">mdi-delete</v-icon>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>
<script>
import BlogService from "@/services/blogService/blogService"

export default {
  name: "Marketer Manage",
  data() {
    return {
      role: "a",
      selectedItem: 0,
      menu_items: [
        { id: 1, item_name: "Blog"},
        { id: 2, item_name: "Slider"},
        { id: 3, item_name: "Category"},
      ],
      headerCate: [
        {
          align: "start",
          sortable: false,
        },
        { text: "id" },
        { text: "Name" },
        {
          text: "Created By",
        },
        { text: "Description" },
        {
          text: "Actions",
          value: "actions",
        },
      ],
      headers: [
        {
          align: "start",
          sortable: false,
        },
        { text: "id" , value: "id"},
        { text: "Created By", value:"createdBy"},
        { text: "Title", value: "title" },
        {
          text: "Actions",
          value: "actions",
        },
      ],
      list: [],
    };
  },
  mounted() {
    // Blog
    this.getAll()
  },
  methods: {
    // Blog
        getAll(){
        BlogService.getAll().then((res)=>{
            this.list = res.data;
        })
    }
  },
};
</script>
<style src="@/assets/scss/_basic.scss" lang="scss"></style>
