<template>
  <v-app>
    <v-container class="forget-password-container" fluid>
      <v-col cols="12" :lg="12" :md="12" :sm="12">
        <v-card class="mx-auto" max-width="500">
          <v-col class="align-center justify-center">
            <v-card-title>
              Vui lòng nhập địa chỉ gmail mà bạn đã đăng ký, chúng tôi sẽ gửi
              tới bạn mật khẩu mới. Vui lòng đổi mật khẩu ngay sau khi nhận được
              mật khẩu mới.
            </v-card-title>
            <v-form>
              <v-col>
                <v-text-field
                  v-model="user.username"
                  :rules="emailRules"
                  label="Nhập địa chỉ email"
                  required
                  v-on="checkEmpty"
                  >{{ message }}</v-text-field
                >
                <v-checkbox
                  v-model="check"
                  label="Đồng ý với điều khoản, quy chế hoạt động
              và chính sách bảo mật"
                  color="#d79c62"
                ></v-checkbox>
              </v-col>

              <v-col class="d-flex justify-space-between">
                <v-btn
                  v-model="check"
                  class="text-capitalize white--text"
                  large
                  color="#d79c62"
                  :disabled="!check"
                  @click="sendMail"
                  >Xác nhận</v-btn
                >
              </v-col>
            </v-form>
            <v-dialog
              v-model="dialog"
              color="white"
              height="700px"
              max-width="700"
            >
              <v-text-field label="Nhập mã xác nhận" required></v-text-field>
              <v-btn>Xác nhận</v-btn>
            </v-dialog>
          </v-col>
        </v-card>
      </v-col>
    </v-container>
  </v-app>
</template>
<script>
import AuthService from "@/services/AuthService";
import User from "@/models/user";
export default {
  data() {
    return {
      message: "",
      check: false,
      user: new User(),
      dialog: false,
      emailRules: [
        (v) => !!v || "Tên tài khoản không được để trống",
        (v) => /.+@.+\..+/.test(v) || "Tài khoản chưa đúng định dạng e-mail",
      ],
    };
  },
  methods: {
    checkEmpty() {
      if (this.user.username) {
        this.message = "Please enter";
      }
    },
    sendMail() {
      var data = {
        username: this.user.username,
      };

        AuthService.lostUser(data).then(() => {
          console.log(this.username)
          alert("Thành công");
          this.$router.push('/login')
        });
    
    },
  },
};
</script>
<style src="../../assets/scss/_login.scss" lang="scss" />
