<template>
  <div>
    <vue-editor
      id="editor"
      use-custom-image-handler
      @imageAdded="handleImageAdded"
      v-model="editorContent"
    >
    </vue-editor>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
import BlogApi from "@/services/blogService/blogService";

export default {
  components: {
    VueEditor,
  },
  data() {
    return {
      editorContent: "",
    };
  },
  watch: {
    editorContent: {
      deep: true,
      handler:function() {
        this.$emit("content", this.editorContent);
      },
    },
  },
  methods: {
    handleImageAdded(file, Editor, cursorLocation) {
      let formData = new FormData();
      formData.append("imageBlog", file);
      BlogApi.uploadImage(formData)
        .then((r) => {
          console.log('urlImage',r);
          let url = r.config.baseURL + '/' + r.data;
          Editor.insertEmbed(cursorLocation, "image", url);
        })
        .catch((e) => {
          console.log(e);
          $toast.error("Tải ảnh lỗi, vui lòng thử lại sau");
        });
    },
  },
};
</script>

<style lang="scss">
#editor {
  height: 400px;
  h1,
  h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
}
</style>

