<template>
  <div id="app">
    <Loader />
    <router-view />
  </div>
</template>

<script>
import Loader from "@/components/loader/loader";

export default {
  name: "App",
  components: {
    Loader,
  },
  data: () => ({
    //
  }),
};
</script>
