<template>
  <v-footer color="#d79c62">
    <v-row justify="center" no-gutters>
      <v-btn :to="link.url" v-for="(link,i) in links" :key="i" color="black" text rounded class="my-2">{{ link.title }}</v-btn>
      <v-col color="#d79c6275 " class="py-4 text-center black--text" cols="12">
        <span>Copyright &copy;</span>
        {{ new Date().getFullYear() }} —
        <strong>RTS-Learning Solution</strong>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    links: [
      { title: "Trang chủ", icon: "null", url: "/" },
      { title: "Khóa học", icon: "null", url: "/courses" },
      { title: "Blog", icon: "null", url: "/blog" },
      { title: "Về chúng tôi", icon: "null", url: "/aboutus" },
      { title: "Liên hệ", icon: "null", url: "/contact" }
    ]
  })
};
</script>

<style>
</style>
