<template>
  <v-app>
    <v-container fluid class="error-page">
      <v-row class="logo-wrapper">
        <!-- <span class="logo-title">RTS Learning Solution</span> -->
        <v-img src="@/assets/img/logo.png" contain ></v-img>
      </v-row>
      <v-row class="d-flex justify-center" >
        <v-col cols="8">
          <div class="card">
            <span class="error-logo">404</span>
            <p class="error-text">
              Opp. Sai link 
            </p>
            <p class="error-subtext">
              Next
            </p>

            <v-btn
              class="text-capitalize"
              dark
              x-large
              :color="config.light.primary"
              to="/"
            >
              Back to Home
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import config from "@/config";

export default {
  name: "Error",
  data() {
    return {
      config,
    };
  },
};
</script>

<style src="../../assets/scss/_error.scss" lang="scss"></style>
